<template>

  <CollectionView :collectionId="collectionId" />

</template>

<script>

  import CollectionView from "../../components/Views/CollectionView";

  export default {
    components: {CollectionView },
    computed: {
      collectionId() {
        return this.$store.getters.collectionIdsByCategory("articles")[0]; }
    }
  }

</script>