<template>

  <BibliographieSection
          pageTitle="Oeuvres de Paul Otlet"
          category="oeuvres_otlet"
  />

</template>

<script>

  import BibliographieSection from "../BibliographieSection";

  export default {
    components: { BibliographieSection },
  }
</script>