<template>

  <CategoryItemView
          category="oeuvres_otlet"
          pageTitle="Oeuvres de Paul Otlet"
          routeName="Oeuvres de Paul Otlet"
          parentPageTitle="Bibliographie"
          parentRouteName="Bibliographie"
  />

</template>

<script>

  import CategoryItemView from "../CategoryItemView";

  export default {
    components: { CategoryItemView },
  }
</script>