<template>

  <BibliographieSection
          category="publications_otlet"
          pageTitle="Publications HyperOtlet"
  />

</template>

<script>

  import BibliographieSection from "../BibliographieSection";

  export default {
    components: { BibliographieSection },
  }
</script>
