<template>

  <CategoryItemView
          category="bibliographie_generale"
          pageTitle="Bibliographie générale"
          routeName="Bibliographie générale"
          parentPageTitle="Bibliographie"
          parentRouteName="Bibliographie"
  />

</template>

<script>

  import CategoryItemView from "../CategoryItemView";

  export default {
    components: { CategoryItemView },
  }
</script>