<template>

  <CategoryItemView
          category="publications_hyperotlet"
          pageTitle="Publications HyperOtlet"
          routeName="Publications HyperOtlet"
          parentPageTitle="Bibliographie"
          parentRouteName="Bibliographie"
  />

</template>

<script>

  import CategoryItemView from "../CategoryItemView";

  export default {
    components: { CategoryItemView },
  }
</script>