<template>

  <BibliographieSection
        category="bibliographie_generale"
      pageTitle="Bibliographie générale"
  />

</template>

<script>

  import BibliographieSection from "../BibliographieSection";

  export default {
    components: { BibliographieSection },
  }
</script>