<template>

  <CategoryItemView
          category="publications_otlet"
          pageTitle="Publications sur Paul Otlet"
          routeName="Publications sur Paul Otlet"
          parentPageTitle="Bibliographie"
          parentRouteName="Bibliographie"
  />

</template>

<script>

  import CategoryItemView from "../CategoryItemView";

  export default {
    components: { CategoryItemView },
  }
</script>