<template>

  <BibliographieSection
      category="publications_hyperotlet"
      pageTitle="Publications HyperOtlet"
  />

</template>

<script>

  import BibliographieSection from "../BibliographieSection";

  export default {
    components: { BibliographieSection },
  }
</script>
