<template>

  <GalleryView
          category="corpus"
          pageTitle="Corpus"
          childRouteName="Corpus Item"
  />

</template>

<script>

  import GalleryView from "../GalleryView";

  export default {
    components: { GalleryView },
  }
</script>