<template>

  <CategoryItemView
          category="corpus"
          pageTitle="Corpus"
          routeName="Corpus"
  />

</template>

<script>

  import CategoryItemView from "../CategoryItemView";

  export default {
    components: { CategoryItemView },
  }

</script>