<template>

  <CategoryItemView
          category="iconographie"
          pageTitle="Iconographie"
          routeName="Iconographie"
  />

</template>

<script>

  import CategoryItemView from "../CategoryItemView";

  export default {
    components: { CategoryItemView },
  }

</script>