<template>

  <GalleryView
          category="iconographie"
          pageTitle="Iconographie"
          childRouteName="Iconographie Item"
  />

</template>

<script>

  import GalleryView from "../GalleryView";

  export default {
    components: { GalleryView },
  }
</script>
