<template>

    <CategoryItemView
            category="traite_documentation"
            pageTitle="Le traité de documentation"
            routeName="TraiteDocumentation"
            sortBy="bibo:section"
            sortOrder="asc"
    />

</template>

<script>

    import CategoryItemView from "../CategoryItemView";

    export default {
        components: { CategoryItemView },
    }

</script>