/**
 * DomPdf supports css 2.1 and some common features of css 3.
 *
 * There can be only one folder of fonts (subdirectories are allowed), so you
 * may need to copy them in your own directory and pass the options "fontDir"/"fontCache"
 * to the pdf creator. This is only needed when not-standard fonts are used.
 * Common default fonts are available in vendor/dompdf/dompdf/lib/fonts.
 */

@charset "UTF-8";

/* Designed for format A4: margin + max-width = 21 cm. */
@page {
    margin: 2cm;
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url("./../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Lato-Bold';
    font-weight: 700;
    src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Georgia';
    font-weight: 400;
    src: url("../fonts/Georgia/Georgia.ttf");
}

@font-face {
    font-family: 'Georgia-Italic';
    font-weight: 400;
    src: url("../fonts/Georgia/Georgia-Italic.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* Default size. */
    font-size: 16px;
    vertical-align: baseline;
}

body {
    font-family: 'Lato', sans-serif;
    font-size:1em;
    line-height: 1;
    color: #000;
    /* margin: 0 auto; */
    margin: 2cm;
    width: 100%;
    max-width: 17cm;
}

/* Header and footer should be at top of the html and fixed to be repeated on each page. */
#header,
#footer {
    position: fixed;
    left: 0;
    right: 0;
    color: #aaa;
    font-size: 0.9em;
}

#header {
    top: 0;
    /* No margin to put the header image full witdh. */
    margin: 0 0 1cm 0;
}

#footer {
    bottom: 0;
    margin: auto 2cm 2cm 2cm;
    color: #555;
}

#header table,
#footer table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

#header td,
#footer td {
    padding: 0;
    width: 50%;
}

.page-number {
    text-align: right;
}

.page-number:before {
  content: "Page " counter(page);
}

hr {
  page-break-after: always;
  border: 0;
}

/* More specific to this template. */

header {
    width: 100%;
    height: 5em;
    text-align: center;
}

header.site-image {
    background-color: #393939;
}

header.site-title {
    padding-top: 1cm;
}

header img {
    height: 100%;
}

footer,
main {
    margin: 2em auto 10em;
}

footer .page-number {
    float: right;
}

footer * {
    font-family: 'Lato', sans-serif;
    font-size:0.9em;
}

main > div {
    margin: 1.2em 0;
}

.MsoFootnoteText *,
div.value {
    font-family: 'Georgia', serif !important;
    font-size: 0.95em !important;
    line-height: 1.3;
}

div.value p {
    font-size: 1em;
}

/* For html media. */
div.value > div {
    border: none !important;
    margin-left: 0 !important;
    padding: 0 !important;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    margin: 0.1em 0;
}

h2,
h3,
p.Intertitre,
.creator {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 1em;
    margin: 0.4em 0;
}

img {
    max-width: 17cm;
}

.resource-link {
    display: inline-block;
    max-width: 100%;
    min-width: 0;
}

.resource-link img {
    height: 2cm;
    margin-top: 0.5cm;
    margin-right: 0.5cm;
}

p.Intertitre {
    margin: 1em 0;
}

.issued {
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
}

.citation {
    margin-top: 3em;
    border-top: 3px solid #000;
    padding-top: 0.8em;
}

.citation a.citation-link {
    display: block;
    font-size: 1em;
}

.Citationarticle {
    border: none;
    margin: 2em 1em 2em 2em;
}

.Citationarticle * {
    font-family: 'Georgia-Italic', serif !important;
}

span.MsoFootnoteReference {
    display: inline-block;
    vertical-align: bottom !important;
    margin: 0 0.1em 0 0.2em;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 0.25em;
}

.TitrePublication,
.DatePublication,
.Rdacteur {
    display: none;
}
