@media screen {
    * {
        box-sizing: border-box
    }

    html {
        height: 100%;
        padding: 0;
        margin: 0
    }

    body {
        background-color: #f8f8f8;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        word-wrap: break-word
    }

    a:link {
        text-decoration: none;
        color: #920b0b
    }

    a:visited {
        color: #920b0b
    }

    a:active, a:hover {
        color: #ed1616
    }

    h1 {
        font-size: 40px;
        line-height: 60px
    }

    h2 {
        font-size: 30px;
        line-height: 45px
    }

    h3 {
        font-size: 25px;
        line-height: 45px
    }

    h4 {
        font-size: 22.5px
    }

    img {
        max-width: 100%;
        height: auto
    }

    input, textarea, button, .button, .resource-list.preview + a, select {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        vertical-align: top
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        height: 45px;
        border: 1px solid #dedede;
        padding: 6.5px 1.69492%;
        margin: 0
    }

    textarea {
        height: 90px
    }

    input[type="file"] {
        line-height: 1;
        vertical-align: bottom;
        font-size: 15px
    }

    button, a.button, .resource-list.preview + a, [type="submit"] {
        background-color: #dedede;
        border-radius: 2px;
        padding: 7.5px;
        display: inline-block;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        cursor: pointer
    }

    select {
        background-color: #fff;
        padding: 7.5px;
        border-color: #dedede;
        height: 45px
    }

    ::-webkit-input-placeholder {
        font-style: italic
    }

    :-moz-placeholder {
        font-style: italic
    }

    ::-moz-placeholder {
        font-style: italic
    }

    :-ms-input-placeholder {
        font-style: italic
    }

    .field {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap
    }

    .field .field-meta {
        width: 30%;
        padding: 7.5px 1.69492% 0 0
    }

    .field .inputs {
        width: 70%;
        padding-left: 1.69492%
    }

    .field .inputs > select, .field .inputs > textarea, .field .inputs > input[type="text"], .field .inputs > input[type="password"], .field .inputs > input[type="email"], .field .inputs > input[type="url"] {
        width: 100%
    }

    .field .inputs input[type="checkbox"] {
        vertical-align: bottom
    }

    .field.required .field-meta:after {
        content: "\f069";
        font-family: "Font Awesome 5 Free";
        font-size: 15px
    }

    .field .value:not(:last-child) {
        margin-bottom: 15px
    }

    .field-description {
        font-size: 15px
    }

    header h1 {
        margin: 0
    }

    header nav {
        position: relative;
        padding: 0
    }

    header nav.closed ul {
        height: 0;
        overflow: hidden;
        margin: 0
    }

    header nav:before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c9";
        display: block;
        width: 37.5px;
        height: 37.5px;
        border: 1px solid #dedede;
        text-align: center;
        border-radius: 2px;
        position: absolute;
        right: 1.69492%;
        top: -48.75px;
        cursor: pointer;
        line-height: 37.5px
    }

    header nav.open {
        margin: 15px 0 -1px
    }

    header nav.open:before {
        content: "\f00d"
    }

    header nav ul {
        padding-left: 0;
        list-style: none;
        position: relative;
        margin: 0 auto
    }

    header nav ul a {
        display: inline-block;
        width: 100%;
        padding: 7.5px
    }

    header nav ul a:hover {
        border-bottom: 0;
        background-color: #dedede
    }

    header nav ul li {
        border-top: 1px solid #dedede;
        position: relative
    }

    header nav ul li li:last-of-type {
        padding-bottom: 0
    }

    header nav ul li.active {
        font-weight: bold
    }

    header nav ul li.parent {
        position: relative
    }

    header nav ul .parent-link {
        display: flex
    }

    header nav ul .parent-link > a {
        width: calc(100% - 60px)
    }

    header nav ul .child-toggle {
        color: #dedede;
        width: 60px;
        text-align: center;
        background-color: #fff;
        border-left: 1px solid #dedede;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
    }

    header nav ul .child-toggle:before {
        font-family: "Font Awesome 5 Free";
        content: "\f105"
    }

    header nav > ul > li:last-child {
        border-bottom: 1px solid #dedede;
        padding-bottom: -1px
    }

    header nav > ul ul li {
        height: 0;
        overflow: hidden;
        border: 0
    }

    header nav ul.open > li {
        height: auto;
        border-top: 1px solid #dedede;
        padding-top: -1px
    }

    header nav > ul > li > ul > li.active > a {
        margin-left: -1.5em
    }

    header nav > ul > li > ul > li.active > a:before {
        content: ">";
        display: inline-block;
        width: 1.5em
    }

    header nav > ul > li > ul > li a {
        padding-left: 30px
    }

    header nav > ul > li > ul > li > ul > li a {
        padding-left: 60px
    }

    header nav > ul > li > ul > li > ul > li > ul > li a {
        padding-left: 90px
    }

    .sub-menu ul {
        padding-left: 0;
        list-style-type: none;
        margin-top: 15px
    }

    .sub-menu li {
        font-size: 15px;
        font-weight: bold;
        border-bottom: 1px solid #dedede;
        padding: 7.5px 0 6.5px
    }

    .sub-menu li:first-of-type {
        border-top: 1px solid #dedede;
        padding-top: 6.5px
    }

    nav.pagination {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 45px
    }

    .pagination input {
        text-align: center
    }

    .resource-list + .pagination {
        border-color: transparent
    }

    .pagination form {
        min-width: 90px
    }

    .pagination form, .pagination .button, .pagination .resource-list.preview + a, .pagination button, .pagination .page-count {
        display: inline-block;
        vertical-align: top;
        height: 45px
    }

    .pagination .button, .pagination .resource-list.preview + a {
        border: 1px solid #dedede;
        background-color: #dedede;
        width: 45px;
        text-align: center;
        padding: 7.5px;
        border-radius: 2px;
        color: #000;
        line-height: 30px
    }

    .pagination .inactive.button, .pagination .resource-list.preview + a.inactive {
        opacity: .5;
        color: #ababab;
        background-color: white
    }

    .pagination form, .pagination .last {
        margin-right: 7.5px
    }

    .pagination input {
        width: 60px
    }

    .breadcrumbs {
        font-size: 15px;
        margin: 30px 0 -15px
    }

    .site-title h1 {
        font-size: 25px;
        line-height: 30px;
        padding-right: 30px
    }

    header {
        margin: 0 0 75px;
        background-color: #fff;
        border-bottom: 1px solid #dedede;
        position: relative
    }

    header > * {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.69492%;
        display: block
    }

    .site-title:hover, .site-title:active {
        border-bottom: 0
    }

    .site-title h1 {
        margin: 0
    }

    button.o-icon-search {
        display: none
    }

    #search {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        padding: 7.5px 1.69492%
    }

    #search form {
        display: flex;
        flex-wrap: nowrap
    }

    #search form input[type="text"] {
        width: 100%
    }

    #search form button[type="submit"] {
        height: 45px;
        width: 45px;
        text-indent: -9999px;
        position: relative;
        border-radius: 0 3px 3px 0
    }

    #search form button[type="submit"]:before {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        text-indent: 0;
        line-height: 45px
    }

    footer {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.69492% 30px
    }

    #content {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.69492% 30px
    }

    .resource-list.preview + a {
        color: #000
    }

    .resource-list.preview + a:hover {
        background-color: #787878;
        border-bottom-width: 0px;
        color: #fff
    }

    ul.resource-list {
        list-style-type: none;
        padding-left: 0
    }

    ul.resource-list .resource {
        border-bottom: 1px solid #dedede;
        padding-bottom: 29px;
        margin: 30px 0;
        overflow: hidden;
        position: relative
    }

    ul.resource-list .resource > *:last-child {
        margin-bottom: 0
    }

    ul.resource-list .resource:first-child {
        border-top: 1px solid #dedede;
        padding-top: 29px
    }

    ul.resource-list .resource img {
        height: auto;
        width: 60px;
        float: right;
        margin-left: 15px
    }

    ul.resource-list .resource h4 {
        margin-top: 0
    }

    ul.resource-list .resource .description {
        max-height: 90px;
        overflow: hidden;
        position: relative
    }

    ul.resource-list .resource .description:after {
        content: "";
        position: absolute;
        top: 52.5px;
        left: 0;
        right: 0;
        height: 37.5px;
        background: linear-gradient(to top, #f8f8f8, rgba(248, 248, 248, 0))
    }

    ul.resource-list .resource img ~ * {
        width: calc(100% - 75px)
    }

    .search-filters {
        margin-bottom: 30px
    }

    .filter-label, .filter-value {
        display: inline-block;
        border: 1px solid #dedede;
        padding: 6.5px
    }

    .filter-label {
        background-color: #dedede
    }

    .filter-value {
        margin-left: -5px
    }

    .browse-controls {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap
    }

    .advanced-search {
        line-height: 45px
    }

    body.resource #content > h2:first-of-type + h3 {
        font-size: 15px;
        text-transform: uppercase;
        margin: -30px 0 30px
    }

    .property {
        margin-bottom: 30px
    }

    .property h4 {
        margin-bottom: 0;
        font-size: 15px
    }

    .resource-link img {
        width: auto;
        height: 45px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 7.5px
    }

    .property .value a {
        display: inline-block;
        vertical-align: bottom
    }

    .property .value:not(:last-child) img {
        margin-bottom: 7.5px
    }

    .property .value:not(:last-child) img + a {
        margin-bottom: 7.5px
    }

    .property .value .language {
        background-color: #d1d1d1;
        padding: 3.75px;
        font-size: 10px
    }

    .property .private:after {
        content: "\f070";
        font-family: "Font Awesome 5 Free";
        font-size: 15px
    }

    #content .media.resource {
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin-right: 7.5px
    }

    #content .media.resource:hover {
        border-bottom: 0
    }

    #content .media.resource img {
        vertical-align: top;
        margin-bottom: 15px
    }

    .media-render > * {
        max-width: 100%
    }

    #linked-resources caption {
        text-align: left;
        font-weight: bold;
        border-bottom: 3px solid #ababab;
        padding: 7.5px 15px 4.5px
    }

    #linked-filter h4 {
        margin-bottom: 15px
    }

    #linked-resources .resource-link {
        margin-bottom: 0;
        display: flex;
        align-items: center
    }

    #advanced-search .value:not(:last-child) {
        margin-bottom: 15px
    }

    .remove-value {
        text-indent: -9999px;
        position: relative;
        width: 45px;
        margin-left: 7.5px
    }

    .remove-value:before {
        text-indent: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        line-height: 45px
    }

    a.metadata-browse-link {
        font-size: 15px
    }

    /* ----------------------------------------------- */

    .constellation-wrapper {
        position: relative;
        height: 100vh;
        min-height: 100%;
    }

    .constellation-wrapper > .controls {
        position: absolute;
        bottom:40px;
        right:20px;
        width:30px;
    }

    .constellation-wrapper .controls .zoom {
        width:35px;
        height: 70px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        background-color: #EEEEEE;
    }

    .constellation-wrapper .controls button {
        width:35px;
        height: 35px;
        border: none;
        box-shadow: none;
        font-weight: bold;
        font-size: 22px;
        background-color: transparent;
    }

    .constellation-wrapper .controls button.zoomout {
        border-top:solid 1px #CCCCCC;
    }

    .constellation-parent,
    .constellation {
        width: 100%;
        height: 100%;
    }

    svg {
        position: absolute;
        z-index: 1;
    }

    .layer-content {
        position: absolute;
        z-index: 2;
    }

    .layer-content > .collection-titles,
    .layer-content > .items-titles {
        position: relative;
        pointer-events: none;
    }

    .layer-content > .collection-titles > div {
        text-align: center;
        padding-top: 30px;
        font-size: 15px;
    }

    .layer-content > .items-titles > a,
    .layer-content > .collection-titles > div {
        position: absolute;
    }

    .layer-content > .items-titles > a {
        display: block;
    }

    .layer-content > .items-titles .constellation-item-circle {
        width:20px;
        height: 20px;
        border-radius: 50%;
    }

    .layer-content > .items-titles .item-title {
        position: relative;
        font-size: 8px;
        line-height: 10px;
        color: #333333;
        pointer-events: none;
        margin-left: 8px;
        margin-top: 2px;
        opacity: 0;
    }

    .layer-content > .items-titles > a {
        pointer-events: auto;
    }

    .layer-content > .items-titles > a:hover {
        cursor: pointer;
    }

    .layer-content > .items-titles > a:hover .constellation-item-circle {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }

    .layer-content > .items-titles > a:hover .item-title {
        opacity: 1 !important;
        width:80px !important;
        z-index:2 !important;;
    }

    .collection-title {
        display: inline-block;
        text-align: left;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: left center;
        padding-left: 32px;
        line-height: 40px;
    }

    .collection-title.collection-590 {
        background-image: url(../icones/evenements.svg);
        color: #B44EA6;
    }

    .collection-title.collection-589 {
        background-image: url(../icones/personnes.svg);
        color: #3BABC9;
    }

    .collection-title.collection-588 {
        background-image: url(../icones/concept.svg);
        color: #379887;
    }

    .collection-title.collection-592 {
        background-image: url(../icones/techniques.svg);
        color: #E12F62;
    }

    .collection-title.collection-593 {
        background-image: url(../icones/organisations.svg);
        color: #ADA284;
    }

    .collection-title.collection-591 {
        background-image: url(../icones/pratiques.svg);
        color: #98BE6E;
    }

    .constellation-item-circle.collection-590 {
        background-color: #B44EA6;
    }

    .constellation-item-circle.collection-589 {
        background-color: #3BABC9;
    }

    .constellation-item-circle.collection-588 {
        background-color: #379887;
    }

    .constellation-item-circle.collection-592 {
        background-color: #E12F62;
    }

    .constellation-item-circle.collection-593 {
        background-color: #ADA284;
    }

    .constellation-item-circle.collection-591 {
        background-color: #98BE6E;
    }

    .constellation-item-circle.collection-591 {
        background-color: #98BE6E;
    }

    .item-category- {
        fill: #666;
    }

    .item-category-583 {
        fill: #2F6CA7;
    }

    .item-category-588 {
        fill: #379887;
    }

    .item-category-588 {
        fill: #379887;
    }

    .item-category-589 {
        fill: #3BABC9;
    }

    .item-category-590 {
        fill: #B44EA6;
    }

    .item-category-592 {
        fill: #E12F62;
    }

    .item-category-593 {
        fill: #ADA284;
    }

    .item-category-591 {
        fill: #98BE6E;
    }

    .item-circle.temporary {
        fill: #CCCCCC;
    }

    .visualisation-wrapper {
        display: none;
        width:100%;
        height: 100%;
        background-color: rgba(223,219,214,0.9);
        position: absolute;
        left:0;
        top:0;
    }

    .visualisation-wrapper.opened {
        display: block;
        opacity: 0;
        -webkit-animation: opacity-in 0.5s both;
        -moz-animation: opacity-in 0.5s both;
        -o-animation: opacity-in 0.5s both;
        animation: opacity-in 0.5s both;
    }

    .visualisation-content {
        position: relative;
        width:100%;
        height: 100%;
    }

    .visualisation > svg {
        position: absolute;
        width:100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 1;
    }

    .visualisation-html-layer {
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .visualisation-html-layer-content {
        position: relative;
        width: 100%;
    }

    .visualisation-notice {
        position: absolute;
        right:10px;
        top:10px;
        height: calc( 100vh - 100px);
        width: 50vw;
        background-color: rgba(255,255,255,0.75);
    }

    .visualisation-notice-header {
        position: relative;
    }

    .visualisation-notice-close {
        position: absolute;
        right:10px;
        top:10px;
        z-index:2;
    }

    .visualisation-notice-close-link {
        display: inline-block;
        padding: 5px 10px;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    .visualisation-notice-content {
        position: relative;
        margin: 20px;
    }

    .visualisation-html-layer-content .menu {
        position: absolute;
        background-color: rgba(155,155,155, 0.75);
        padding: 5px;
    }

    .visualisation-html-layer-content .menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .visualisation-html-layer-content .menu ul > li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
        line-height: 14px;
    }

    .visualisation-html-layer-content .menu ul > li > a {
        text-decoration: none;
        color: black;
    }

    .visualisation-html-layer-content .menu ul > li > a:hover {
        text-decoration: underline;
    }


    .visualisation-back-button {
        color: white;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 15px;
        padding: 15px;
        display: inline-block;
        position: absolute;
        z-index: 3;
    }

    .visualisation-footer {
        position: absolute;
        bottom: 0;
        z-index: 4;
    }

    @-webkit-keyframes opacity-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-moz-keyframes opacity-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-o-keyframes opacity-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @keyframes opacity-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

}

@media screen and (min-width: 800px) {
    #content {
        padding: 0 3.38983% 30px
    }

    table {
        margin: 30px 0;
        border-collapse: collapse
    }

    th, td {
        text-align: left;
        padding: 7.5px 15px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid #ababab
    }

    header {
        position: relative;
        padding: 15px 0 0;
        margin-bottom: 60px
    }

    header > * {
        padding: 0 3.38983%
    }

    header > h1 {
        margin: 7.5px auto
    }

    footer {
        padding: 0 3.38983% 30px
    }

    header nav {
        margin: 0 auto !important;
        position: static;
        padding: 0 3.38983%
    }

    header nav:before {
        content: "";
        border: 0;
        display: none
    }

    header nav ul a {
        padding: 0
    }

    header nav ul li {
        position: static
    }

    header nav.closed ul, header nav ul ul li {
        height: auto;
        overflow: visible
    }

    header nav ul a:hover {
        background-color: transparent
    }

    header nav ul li, header nav > ul li:last-child, header nav > ul ul:hover > li {
        border: 0
    }

    header nav ul.navigation {
        margin-left: -7.5px;
        position: static;
        display: flex;
        align-items: flex-end
    }

    header nav ul.navigation li ul:before {
        display: none
    }

    header nav ul.navigation > li:not(:last-child) {
        margin-right: 15px
    }

    header nav ul.navigation > li > ul {
        position: absolute;
        top: 100%;
        left: -9999px;
        background-color: #fff;
        padding: 0;
        list-style: none;
        width: 100%;
        padding: 14px 0 6.5px;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        z-index: 1
    }

    header nav ul.navigation > li:hover > ul {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 3.38983%;
        left: 0;
        right: 0;
        border-bottom: 0;
        border-color: #dedede
    }

    header nav ul.navigation > li:hover > ul:after {
        content: "";
        left: -9999px;
        right: -9999px;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        z-index: -1
    }

    header nav ul.navigation > li > ul > li {
        width: 25%;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 30px
    }

    header nav ul.navigation > li > ul > li ul {
        font-weight: normal;
        padding: 0;
        list-style-type: none;
        height: auto
    }

    header nav ul.navigation li.parent {
        position: static
    }

    header nav > ul > li > a {
        margin: 7.5px
    }

    header nav > ul > li > .parent-link {
        display: inline-block;
        width: 100%
    }

    header nav > ul > li > .parent-link > a {
        margin: 7.5px;
        width: 100%
    }

    header nav > ul > li > .parent-link a:after {
        font-family: "Font Awesome 5 Free";
        content: "\f107";
        display: inline-block;
        margin-left: 7.5px
    }

    header nav > ul li:hover ul li {
        height: auto;
        padding: 0
    }

    .child-toggle {
        display: none
    }

    header .parent ul a {
        padding-left: 0
    }

    header .parent .parent .parent ul a {
        padding-left: 15px
    }

    .sub-menu ul {
        border-bottom: 1px solid #dedede;
        padding-bottom: 14px
    }

    .sub-menu li {
        display: inline-block;
        border: 0;
        padding: 0;
        margin-right: 15px
    }

    .sub-menu li:first-of-type {
        border: 0;
        padding: 0
    }

    #search {
        left: 75%;
        border-left: 1px solid #dedede;
        padding: 7.5px
    }

    #search form input[type="text"], #search form button[type="submit"] {
        height: 30px;
        font-size: 15px;
        line-height: 30px
    }

    #search form button[type="submit"] {
        width: 30px;
        height: 30px;
        padding: 0
    }

    #search form button[type="submit"]:before {
        line-height: 30px
    }

    ul.resource-list .resource img {
        width: 120px;
        height: auto;
        float: right;
        margin-left: 15px
    }

    ul.resource-list .resource img ~ * {
        width: calc(100% - 135px)
    }

    body.item-set.item #content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-end
    }

    body.item-set.item #content > h2, body.item-set.item #content > h3 {
        width: 100%
    }

    body.item-set .metadata {
        width: 32.20339%;
        border-left: 5px solid #dedede;
        padding-left: 1.69492%;
        margin-right: 1.69492%
    }

    body.item-set .metadata h4:first-of-type {
        margin-top: 0
    }

    body.item-set #content .metadata ~ * {
        width: 66.10169%;
        border-left: 1px solid #dedede;
        padding-left: 1.69492%
    }

    body.item-set .item-set-items h3 {
        margin-top: 0
    }

    body.item-set .metadata ~ nav.pagination:first-of-type {
        margin-bottom: 0
    }

    .preview-block {
        clear: both
    }

    ul.preview.resource-list li:first-of-type {
        border-top: 1px solid #dedede;
        padding-top: 29px
    }
}
