<template>
  <div>

    <!-- Pagination Top -->
    <div v-if="state.pageCount > 0" class="list-pagination top-list-pagination">
      <div class="pagination-sort-options">
        <ListSortMenu
                :notice-item-type="state.defaultNoticeItemType"
                :sortByParam="state.sortByParam"
                :sortOrderParam="state.sortOrderParam"
                :resetQuery="state.resetQuery"
                @changesortquery="changeSortQuery"
        />
      </div>
      <ListCount
              :element-count="state.itemsCount"
              class="cards-count"
      />
      <ListPagination
              v-if="state.pageCount > 1"
              :pageCount="state.pageCount"
              :pageNo="state.pageNo"
              @change-pagination-page="displayPage"
      />
    </div>

    <Loading v-if="state.isLoading"
      class=" with-padding"
    />

    <div class="treeview with-padding">
      <TreeNode
          v-if="!state.isLoading && state.nodes && state.nodes.name"
          :node="state.nodes"
          :itemRouteName="itemRouteName"
          :opened=true
          :path="mainNodePath()"
          @opendetailednotice="openDetailedNotice"
          @downloaditemnotice="openDownloadNoticePopUp"
      />
    </div>

    <!-- Pagination Bottom -->
    <div class="list-pagination bottom-list-pagination" v-if="!state.isLoading && (state.pageCount > 0)">
      <div class="pagination-sort-options">
      </div>
      <ListPagination
              v-if="state.pageCount > 1"
              :pageCount="state.pageCount"
              :pageNo="state.pageNo"
              @change-pagination-page="displayPage"
      />
    </div>

  </div>
</template>

<script>

  import {computed, onMounted, reactive, watch} from "vue";
  import { useStore } from "vuex";
  import { getTreeApiURL, getTreeRootNodesCountApiURL } from "../../js/api";

  import TreeNode from "./TreeNode";
  import ListPagination from '../Lists/ListPagination';
  import ListCount from "../Lists/ListCount";
  import ListSortMenu from "../Lists/ListSortMenu";
  import Loading from "../../components/Loading";

  export default {
    name: 'TreeView',
    components: {
      TreeNode,
      Loading,
      ListPagination,
      ListCount,
      ListSortMenu
    },
    props: {
      itemSetId: {
        type: Number,
        required: true,
        default:0
      },
      pageNo: {
        type: Number,
        required: false,
        default:1
      },
      itemsByPage: {
        type: Number,
        required: false,
        default:10
      },
      itemsCount: {
        type: Number,
        required: false,
        default:0
      },
      itemRouteName: {
        type: String,
        required: false,
        default:'Item'
      },
    },
    methods : {
      openDetailedNotice(itemId) {
        // EVENT --> PARENT
        this.$emit('opendetailednotice', itemId);
      },
      openDownloadNoticePopUp(item) {
        // EVENT --> PARENT
        console.log('downloadItemNotice 2', item);

        this.$emit('downloaditemnotice', item);
      },
      displayPage(pageNo) {

        let routeCopy = {
          name : this.$route.name,
          query : { ...this.$route.query },
          params : { ...this.$route.params }
        };

        // Nouvelle page
        routeCopy.query.p = pageNo;

        this.$router.push(routeCopy);
      },

    },
    emits: [
      "opendetailednotice",
      "downloaditemnotice",
      "data-loaded"
    ],
    setup(props, context) {

      const store = useStore();

      const emit = function(json) {
        context.emit("data-loaded", json);
      };

      // Loads root items (without their children) to compute pageCount
      const loadRootNodesCount = function() {

        // Appel à l'api
        const apiURL = getTreeRootNodesCountApiURL(store.getters.apiRoot, props.itemSetId);

        store.dispatch('getApi', apiURL).then(function(response){
          state.rootNodesCount = response.data.total;
        });

      };

      // Load items of current page (with children)s
      const loadItems = function() {

        state.isLoading = true;

        // Appel à l'api
        const apiURL = getTreeApiURL(store.getters.apiRoot, props.itemSetId, props.pageNo, props.itemsByPage);

        store.dispatch('getApi', apiURL).then(function(response){
          state.nodes = response.data;
          state.isLoading = false;
          emit(response.data);
        });

      };

      const changeSortQuery = function( changes ) {
        state.sortByParam = changes.sortBy;
        state.sortOrderParam = changes.sortOrder;
      };

      const mainNodePath = function() {
        return props.itemSetId + ':0';
      };

      //
      // Lifecycle Hooks
      //

      onMounted(() => {

        if (props.itemSetId !== 0) {
          loadItems();
          loadRootNodesCount();
        }

      });

      watch(() => props.itemSetId, () => {
        loadItems();
      });

      watch(() => props.pageNo, () => {
        state.pageNo = props.pageNo;
        loadItems();
      });

      const state = reactive({
        isLoading: true,
        nodes : null,
        itemsCount: props.itemsCount,
        rootNodesCount: 0,

        pageNo: props.pageNo,
        pageCount: computed(() => state.rootNodesCount > 0 ? Math.ceil( state.rootNodesCount / props.itemsByPage ) : 0),
      });

      return {
        state,
        changeSortQuery,
        mainNodePath,
        emit
      }

    },
}
</script>
