<template>

  <div class="notice-item-field" v-if="values.length > 0">
    <h3 class="notice-item-field-title">{{ label }}</h3>
    <ul class="notice-item-field-content no-bullet">
      <li v-for="value in values" v-bind:key="value">{{value}}</li>
    </ul>
  </div>


</template>

<script>

  export default {

    name: 'NoticeMediaMultiValue',
    props: {
      label: {
        type: String,
        required: true,
      },
      values: {
        type: Array,
        required: true,
      },
    }

  }

</script>
