<template>

  <div class="notice-item-field" v-if="values.length > 0">
    <h3 class="notice-item-field-title">{{ label }}</h3>
    <ul class="notice-item-field-content no-bullet">
      <li v-for="item in values" :key="item.id" >
        <a :href="getNoticeURL(item.id)" target="_blank">{{ item.value }}</a>
      </li>
    </ul>
  </div>

</template>

<script>

  export default {

    name: 'NoticeMediaMultiItem',
    props: {
      label: {
        type: String,
        required: true,
      },
      values: {
        type: Array,
        required: true,
      },
    },
    methods: {
      getNoticeURL(itemId) {
        return this.$router.resolve("/item/" + itemId).href;
      },

    }

  }

</script>
