<template>
    <div class="notice-footer">
      <div class="notice-footer-content">
        <p class="hyperotlet">{{ $t("Programme de recherche HyperOtlet") }}</p>
        <p>{{ $t("Bâti sur Omeka S, hébergé par la TGIR-Humanum") }}</p>
        <p>{{ $t("Sauf mention contraire CC-BY-NC") }}</p>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'NoticeFooter',
  }
</script>
