<template>

  <div class="notice-item-field" v-if="value.length > 0">
    <h3 class="notice-item-field-title">{{ label }}</h3>
    <p class="notice-item-field-content">
      {{ value }}
    </p>
  </div>

</template>

<script>

  export default {

    name: 'NoticeMediaSingleValue',
    props: {
      label: {
        type: String,
        required: true,
      },
      value: {
        type: String,
        required: true,
      },
    }

  }

</script>
