<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link href="/modules/Mapping/asset/vendor/leaflet/leaflet.css?v=1.4.0" media="screen" rel="stylesheet" type="text/css">
    <link href="/modules/Mapping/asset/vendor/leaflet.markercluster/MarkerCluster.css?v=1.4.0" media="screen" rel="stylesheet" type="text/css">
    <link href="/modules/Mapping/asset/vendor/leaflet.markercluster/MarkerCluster.Default.css?v=1.4.0" media="screen" rel="stylesheet" type="text/css">
    <link href="/modules/Mapping/asset/vendor/leaflet.groupedlayercontrol/leaflet.groupedlayercontrol.min.css?v=1.4.0" media="screen" rel="stylesheet" type="text/css">
    <link href="/application/asset/css/page-blocks.css?v=3.0.1" media="screen" rel="stylesheet" type="text/css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>Nous sommes désolés mais HyperOtlet nécessite Javascript pour être consulté.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="/modules/Mapping/asset/vendor/leaflet/leaflet.js?v=1.4.0"></script>
    <script type="text/javascript" src="/modules/Mapping/asset/vendor/leaflet.markercluster/leaflet.markercluster.js?v=1.4.0"></script>
    <script type="text/javascript" src="/modules/Mapping/asset/vendor/leaflet.providers/leaflet-providers.js?v=1.4.0"></script>
    <script type="text/javascript" src="/modules/Mapping/asset/vendor/leaflet.groupedlayercontrol/leaflet.groupedlayercontrol.min.js?v=1.4.0"></script>
    <script type="text/javascript" src="/modules/Mapping/asset/js/control.opacity.js?v=1.4.0"></script>

  </body>
</html>