<template>

  <div class="contents-list-mode-content with-padding">

    <!-- Sélecteur de catégories Tablette -->
    <ul class="list-items-menu-mobile-selector" id="list-items-collections-mobile-selector">
      <li class="selector-previous-button">
        <a href="#" @click="selectPreviousCollectionInMobileMenu($event)"></a>
      </li>

      <ul class="list-items-menu-mobile">
        <li v-for="item in state.categoriesForMobileMenu"
            v-bind:key="item.id"
            :class="categoryForMobileMenuCssClass(item)">{{ item.title }}</li>
      </ul>

      <li class="selector-next-button">
        <a href="#" @click="selectNextCollectionInMobileMenu($event)"></a>
      </li>
    </ul>

    <!-- Pagination Top -->
    <div class="list-pagination top-list-pagination">
      <div class="pagination-sort-options">
        <a class="pagination-sort-asc-desc" href="#"></a>
      </div>
      <ListCount
              :element-count="state.itemsCount"
              elementLabel = "notice"
              class="cards-count"
      />
      <ListPagination
              v-if="state.pageCount > 1"
              v-bind:pageCount="state.pageCount"
              v-bind:pageNo="state.pageNo"
              @change-pagination-page="displayPage"
      />
    </div>

    <div class="list-items-and-collections">
      <div class="collections-with-slider">
        <div class="collections-slider" id="collections-slider">
          <a href="#"
             class="collections-slider-handle"
             id="collections-slider-handle"
             v-bind:style="{ top: sliderCssTopInPixels }">
          </a>
        </div>
        <ul class="list-items-collections">
          <li class="list-items-collection-personnes">
            <a href="#" @click="displayListCategory('personnes')">{{ getCategoryTitle("personnes") }}</a>
          </li>
          <li class="list-items-collection-organisations">
            <a href="#" @click="displayListCategory('organisations')">{{ getCategoryTitle("organisations") }}</a>
          </li>
          <li class="list-items-collection-evenements">
            <a href="#" @click="displayListCategory('evenements')">{{ getCategoryTitle("evenements") }}</a>
          </li>
          <li class="list-items-collection-oeuvres">
            <a href="#" @click="displayListCategory('oeuvres')">{{ getCategoryTitle("oeuvres") }}</a>
          </li>
          <li class="list-items-collection-concepts">
            <a href="#" @click="displayListCategory('concepts')">{{ getCategoryTitle("concepts") }}</a>
          </li>
          <li class="list-items-collection-pratiques">
            <a href="#" @click="displayListCategory('pratiques')">{{ getCategoryTitle("pratiques") }}</a>
          </li>
          <li class="list-items-collection-techniques">
            <a href="#" @click="displayListCategory('techniques')">{{ getCategoryTitle("techniques") }}</a>
          </li>
        </ul>
      </div>
      <ul class="list-items">
        <li
                v-for="item in state.displayedItems"
                :key="item.id"
                class="list-item"
                :class="listItemCssClass(item)"
        >
          <a class="item-title" :href="itemRoute(item)" @click="clickItem($event, item.id)" >
            <span>
              {{ item.title }}
            </span>
          </a>
          <span class="item-icons">
            <a class="notice-graphe"
               :href="itemRoute(item)"
               v-if="item.encyclopedieCategoryRef"
               @click="openItemVisualization($event, item.id)"
            ></a>
            <a class="notice-icon" href="#"
              @click="clickItem($event, item.id)">
            </a>
            <a class="basket-icon"
               :href="itemRoute(item)"
               v-if="state.userIsConnected"
               @click="toggleItemInBasket($event, item.id)"
               :class="itemInBasketCssClass(item.id)"
            >
            </a>
            <a class="download"
               :href="itemRoute(item)"
                 @click="downloadItemNotice($event, item.id)"
            ></a>
          </span>
        </li>
      </ul>
    </div>

    <!-- Pagination Bottom -->
    <div class="list-pagination bottom-list-pagination">
      <div class="pagination-sort-options">
      </div>
      <ListPagination
              v-if="state.pageCount > 1"
              v-bind:pageCount="state.pageCount"
              v-bind:pageNo="state.pageNo"
              @change-pagination-page="displayPage"
      />
    </div>
    <Coins v-if="state.coinQuery" :query="state.coinQuery" />
  </div>

</template>

<script>

  import { reactive, computed, onMounted, onUnmounted, onUpdated, watchEffect } from 'vue'
  import {useStore} from "vuex";
  import ListPagination from './ListPagination';
  import ListCount from "./ListCount";
  import Coins from "../Coins";
  import {getQueryParameterForIds} from "../../js/api";

  const CATEGORY_ORDER = [
    'personnes', 'organisations', 'evenements', 'oeuvres', 'concepts', 'pratiques', 'techniques'
  ];

  const categoriesSliderDefautTop = 4;
  const categoriesSliderStep = 38;

  export default {
    name: 'ListItemsWithCategoryFilter',
    components: {
      ListPagination,
      ListCount,
      Coins
    },
    props: {
      items: {
        type: Array,
        required: true,
      },
      itemsByPage: {
        type: Number,
        required: false,
        default:8
      },
    },
    emits: [
      "opendetailednotice",
      "openitemvisualization",
      "downloaditemnotice",
    ],
    data() {
      return {
        categorySliderIndex: 0,
        categorySliderHandleTop:0,
        isSortMenuOpened:false,
        itemId: null
      }
    },
    computed:{
      sliderCssTopInPixels() {
        let categoriesSliderTop;
        if (this.state.categorySliderIndex !== -1) {
          categoriesSliderTop = categoriesSliderDefautTop +  this.state.categorySliderIndex * categoriesSliderStep;
        } else {
          categoriesSliderTop = this.state.categorySliderHandleTop;
        }
        return categoriesSliderTop +  "px";
      },
    },
    methods:{
      listItemCssClass(item) {
        return item.encyclopedieCategoryRef ? "list-item-" + item.encyclopedieCategoryRef : "";
      },
      getCategoryTitle(categoryName) {
        // Returns itemSet ID from category "name" defined in settings
        return this.$store.getters.collectionTitleFromName(categoryName);
      },
      clickItem($event, itemId) {
        $event.preventDefault();
        this.openDetailedNotice(itemId);
      },
      itemRoute(item) {
        return "encyclopedie/item/" + item.id;
      },
      displayPage(pageNo) {
        this.state.pageNo = pageNo
      },
      openDetailedNotice(itemId) {
        // EVENT --> PARENT
        this.$emit('opendetailednotice', itemId);
      },
      openItemVisualization($event, itemId) {
        $event.preventDefault();
        // EVENT --> PARENT
        this.$emit('openitemvisualization', itemId);
      },
    },
    setup(props, context) {

      const store = useStore();

      const stopWatcher = watchEffect(() => {
        if (props.items) {
          // console.log(`List items: ` + props.items.length);
        }
      });

      let categoriesSlider, categoriesSliderHeight,categoriesSliderHandle, categoriesSliderHandleHeight;

      const categorySliderEnterFrame = function($event) {
        const moudeDownY = $event.clientY - categoriesSlider.getBoundingClientRect().top;
        state.categorySliderHandleTop = Math.max(0, Math.min(moudeDownY, categoriesSliderHeight - categoriesSliderHandleHeight));
        state.categorySliderIndex = -1;
      };

      const updateSliderSize = function() {
        categoriesSlider = document.getElementById("collections-slider");
        categoriesSliderHeight = categoriesSlider.offsetHeight;

        categoriesSliderHandle = document.getElementById("collections-slider-handle");
        categoriesSliderHandleHeight = categoriesSliderHandle.offsetHeight;
      };

      // Lifecycle Hooks

      onMounted(() => {

        updateSliderSize();

        categoriesSliderHandle.addEventListener("mousedown", function($event) {
          $event.preventDefault();
          $event.stopPropagation();
          document.body.addEventListener("mousemove", categorySliderEnterFrame);
        });

        categoriesSliderHandle.addEventListener("click", function($event) {
          $event.preventDefault();
          $event.stopPropagation();
        });

        document.body.addEventListener("mouseup", function() {
          if (state.categorySliderIndex === -1) {
            document.body.removeEventListener("mousemove", categorySliderEnterFrame);
            let top = parseInt(state.categorySliderHandleTop) - categoriesSliderDefautTop;
            top = Math.max(0, Math.min(top, categoriesSliderHeight - categoriesSliderDefautTop));
            state.categorySliderIndex = Math.floor(top /categoriesSliderStep);
            state.pageNo = state.firstPageForSliderCategory;
          }
        });

      });

      onUpdated(() => {
        updateSliderSize();
      });

      onUnmounted(() => {
        stopWatcher();
        document.body.removeEventListener("mousemove", categorySliderEnterFrame);
      });

      // Reactive state ( props and computed )

      const state = reactive({
        pageNo: 1,
        pageCount: computed(() => props.items ? Math.ceil( props.items.length / props.itemsByPage ) : 0),
        categorySliderIndex:0,
        categorySliderHandleTop:0,
        displayedItems: computed( () => {
          const startItemNo = props.itemsByPage * (state.pageNo - 1);
          const endItemNo = Math.min(startItemNo + props.itemsByPage, props.items.length);
          let i, items = [];
          for(i=startItemNo;i<endItemNo;i++) {
            items.push(props.items[i]);
          }
          return items;
        }),
        displayedItemsIds: computed(() => {
          let i, itemsIds = [];
          let items = state.displayedItems;
          const n = items.length;
          for(i=0;i<n;i++) {
            itemsIds.push(items[i].id);
          }
          return itemsIds;
        }),
        itemsCount: computed(() => props.items.length),
        firstPageForSliderCategory: computed( () =>  {
          const categoryId = CATEGORY_ORDER[state.categorySliderIndex];
          let i, pageNo = 1;
          const items = props.items, n = items.length;
          for(i=0;i<n;i++) {
            if (items[i].encyclopedieCategoryRef === categoryId ) {
              pageNo = Math.floor(i / props.itemsByPage) + 1;
              break;
            }
          }
          return pageNo;
        }),
        categoryMobileIndex:0,
        categoriesForMobileMenu: null,
        userIsConnected: computed(() => store.state.currentUser.logged ),
        coinQuery: computed(() => getQueryParameterForIds(state.displayedItemsIds))
      });

      const itemInBasketCssClass = function(itemId) {
        return store.getters.itemInBasket(itemId, "item") ? "selected" : "";
      };

      const categoryForMobileMenuCssClass = (item) => {
        return "list-items-collection-" + item.name + (item.selected ? " selected" : "");
      };

      const toggleItemInBasket = function($event, itemId) {
        $event.preventDefault();
        store.dispatch( store.getters.itemInBasket(itemId, "item") ? "removeFromBasket" : "addToBasket", { type: "item", id: parseInt(itemId) } );
      };

      const downloadItemNotice = function($event, itemId) {
        $event.preventDefault();
        context.emit("downloaditemnotice", { id: itemId });
      };

      const encyclopedieCollectionInfos = store.getters.collectionInfosByCategory("encyclopedie");
      const n = encyclopedieCollectionInfos.length;
      let i, infos;
      state.categoriesForMobileMenu = [];
      for(i=0;i<n;i++) {
        infos = encyclopedieCollectionInfos[i];
        state.categoriesForMobileMenu.push({
          id: infos.id,
          name: infos.name,
          title: infos.name,
          selected: i === 0
        });
      }

      const updateCollectionMobileMenu = () => {
        const n = state.categoriesForMobileMenu.length;
        let i, infos, selectedCollectionName;
        for(i=0;i<n;i++) {
            infos = state.categoriesForMobileMenu[i];
            infos.selected = i === state.categoryMobileIndex;
            if (i === state.categoryMobileIndex) {
              selectedCollectionName = infos.name;
            }
        }

        displayListCategory(selectedCollectionName);
      };

      const selectPreviousCollectionInMobileMenu = ($event) => {
        $event.preventDefault();
        state.categoryMobileIndex = state.categoryMobileIndex > 0 ? state.categoryMobileIndex - 1 : encyclopedieCollectionInfos.length - 1;
        updateCollectionMobileMenu();
      };

      const selectNextCollectionInMobileMenu = ($event) => {
        $event.preventDefault();
        state.categoryMobileIndex = state.categoryMobileIndex < encyclopedieCollectionInfos.length - 1 ? state.categoryMobileIndex + 1 : 0;
        updateCollectionMobileMenu();
      };

      const displayListCategory = function (categoryId) {
        state.categorySliderIndex = CATEGORY_ORDER.indexOf(categoryId);
        state.pageNo = state.firstPageForSliderCategory;
      };

      return {
        state,
        toggleItemInBasket,
        itemInBasketCssClass,
        downloadItemNotice,
        selectPreviousCollectionInMobileMenu,
        selectNextCollectionInMobileMenu,
        categoryForMobileMenuCssClass,
        displayListCategory
      }
    },
}
</script>
