<template>
  <div v-if="elementCount > 0">{{ elementCount }} {{ elementLabelWithPlural }}</div>
</template>

<script>

  export default {
    name: 'ListCount',
    props: {
      elementCount: {
        type: Number,
        required: true,
      },
      elementLabel: {
        type: String,
        required: false,
        default:"document"
      }
    },
    computed: {
      elementLabelWithPlural() {
        return this.$t(this.elementLabel) + ( this.elementCount > 1 ? "s" : "");
      },
    },
  }
</script>
