<template>

  <div>

    <NavigationItems
            v-if="state.changeRouteWithPreviousAndNext"
            class="with-padding 2"
            :previousItemId="state.previousNoticeItemId"
            :nextItemId="state.nextNoticeItemId"
    />

    <!-- Notice pleine page des Items -->
    <NavigationItemsEventDispatcher
            v-if="! state.changeRouteWithPreviousAndNext"
            class="with-padding"
            :previousItemId="state.previousNoticeItemId"
            :nextItemId="state.nextNoticeItemId"
            @change="navigationChangeNoticeItem"
    />

    <NoticeMedia
            v-if="state.isNotice"
            class="with-padding"
            :itemId="state.noticeItemId"
            :tools=true
            displayMode="reference"
            @change-item-notice="openDetailedNotice"
            @item-loaded="itemLoaded"
    />

    <NoticeArticle
            v-if="state.isNoticeArticle"
            class="with-padding"
            :itemId="state.noticeItemId"
            :tools=true
            displayMode="reference"
            @change-item-notice="openDetailedNotice"
            @item-loaded="itemLoaded"
    />

  </div>


</template>

<script>

  import {onMounted, reactive, watch} from 'vue'
  import NavigationItems from "../Lists/NavigationItem";
  import NavigationItemsEventDispatcher from "../Lists/NavigationItemEventDispatcher";
  import NoticeMedia from "../Notices/NoticeMedia";
  import NoticeArticle from "../Notices/NoticeArticle";

  export default {
    name: 'NoticesItems',
    components: {
      NavigationItems,
      NavigationItemsEventDispatcher,
      NoticeMedia,
      NoticeArticle
    },
    props: {
      itemsIds: {
        type: Array,
        required: true
      },
      noticeItemId: {
        type: Number,
        required: true
      },
      noticeItemType: {
        type: String,
        required: false,
        default:'item'
      },
      changeRouteWithPreviousAndNext: {
        type: Boolean,
        required: false,
        default:true
      },
    },
    data() {
      return {
      }
    },
    emits: [
      'item-loaded',
      "opendetailednotice"
    ],
    setup(props, context) {

      const navigationChangeNoticeItem = function(itemId){
        if (isNaN(itemId))
        {
          // Pas de résultats
          state.noticeItemId = 0;
          state.previousNoticeItemId = 0;
          state.nextNoticeItemId = 0;
        }
        else
        {
          // Résultats courant, suivant et précédent
          state.noticeItemId = parseInt(itemId);

          if (state.noticeItemId === 0) {
            state.noticeItemId = state.itemsIds[0];
          }

          const pos = state.itemsIds.indexOf(state.noticeItemId);

          state.previousNoticeItemId = pos > 0 ? state.itemsIds[pos - 1] : 0;
          state.nextNoticeItemId = pos < state.itemsIds.length - 1 ? state.itemsIds[pos + 1] : 0;
        }
      };


      const itemLoaded = function(itemInfos) {
        context.emit('item-loaded',  itemInfos);
      };

      const checkIfNavigationChanges = function() {
        if (props.itemsIds.length || props.noticeItemId) {
          navigationChangeNoticeItem(props.noticeItemId);
        }
      };

      const state = reactive({
        itemsIds: props.itemsIds,
        noticeItemId: props.noticeItemId || (props.itemsIds.length ? props.itemsIds[0] : 0),
        noticeItemType: props.noticeItemType,
        changeRouteWithPreviousAndNext: props.changeRouteWithPreviousAndNext,
        previousNoticeItemId: 0,
        nextNoticeItemId: 0,
        isNotice: props.noticeItemType === "item",
        isNoticeArticle: props.noticeItemType === "article"
      });

      onMounted(() => {
        checkIfNavigationChanges();
      });

      watch( () => props.itemsIds, (itemsIds) => {
        // console.log('watch itemsIds', itemsIds);
        state.itemsIds = itemsIds;
        checkIfNavigationChanges();
      });

      watch( () => props.noticeItemId, (itemId) => {
        // console.log('watch noticeItemId', itemId);
        state.noticeItemId = itemId;
        checkIfNavigationChanges();
      });

      return {
        state,
        navigationChangeNoticeItem,
        itemLoaded
      }
    },
    computed:{
    },
    methods:{
      openDetailedNotice($event, itemId) {
        $event.preventDefault();

        // EVENT --> PARENT
        this.$emit('opendetailednotice', itemId);
      },
    }
}
</script>
