<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation [$item, $itemSet, or $media]
 * @var array $options
 *
 * Any option can be passed to the template.
 *
 * DomPdf supports css 2.1 and some common features of css 3.
 *
 * Documention:
 * @link https://github.com/dompdf/dompdf
 * Examples and tools to debug a template online:
 * @link https://eclecticgeek.com/dompdf/debug.php
 *
 * There can be only one folder of fonts (subdirectories are allowed), so you
 * may need to copy them in your own directory and pass the options "fontDir"/"fontCache"
 * to the pdf creator.
 * Common default fonts are available in vendor/dompdf/dompdf/lib/fonts.
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');

// All urls should be absolute.
$baseUrl = $this->serverUrl();

$siteTitle = $site->title();
$this->htmlElement('html')->setAttribute('lang', $this->lang());
$this->headMeta()
    ->setCharset('UTF-8')
    ->appendName('viewport', 'width=device-width, initial-scale=1');
$this
    ->headTitle($resource->displayTitle())->setSeparator(' · ')
    ->append($siteTitle)
    ->append($this->setting('installation_title', 'Omeka S'))
;
$this->headLink()
    ->prependStylesheet($baseUrl . $assetUrl('css/pdf.css', 'PdfCreator', true));

$this->htmlElement('body')->appendAttribute('class', 'resource show');

// Nearly everything, except audio/image/video, iframe, script, etc.
/** @var array|string $allowedTags */
include OMEKA_PATH . '/modules/PdfCreator/view/common/allowed-tags.php';

?>
<?= $this->doctype() ?>
<?= $this->htmlElement('html') ?>
    <head>
        <?= $this->headMeta() ?>
        <?= $this->headTitle() ?>
        <?= $this->headLink() ?>
        <?= $this->headStyle() ?>
    </head>
    <?= $this->htmlElement('body') ?>
    <body>
        <?php // The header and footer are css fixed and should be first to be on all pages. See documentation. ?>
        <?php $url = $assetUrl('img/header.jpg', 'PdfCreator', true) ?: $site->thumbnailDisplayUrl('original'); ?>
        <header id="header" class="<?= $url ? 'site-image' : 'site-title' ?>">
            <?php if ($url): ?>
            <img src="<?= $baseUrl . $url ?>" alt="" />
            <?php else: ?>
            <div>
                <?= $site->link($site->title()) ?>
            </div>
            <?php endif; ?>
        </header>
        <footer id="footer">
            <span>Programme de recherche HyperOtlet • Sauf mention contraire CC-BY-NC</span>
            <span class="page-number"></span>
        </footer>

        <main>

            <h1><?= $resource->displayTitle() ?></h1>
            <?php if ($value = $resource->value('dcterms:creator')): ?>
            <div class="creator"><?= sprintf($translate('Par %s'), strip_tags(($v = $value->valueResource()) ? $v->displayTitle() : $value->value(), $allowedTags)) ?></div>
            <?php endif; ?>
            <?php if ($value = ($resource->value('dcterms:issued') ?: $resource->value('dcterms:date'))): ?>
            <div class="issued"><?= sprintf($translate('Publié le %s'), strip_tags($value->asHtml(), $allowedTags)) ?></div>
            <?php endif; ?>

            <?php
            $resourceName = $resource->getControllerName();
            if ($resourceName === 'item'):
                $medias = $resource->media();
                if (count($medias)):
            ?>
            <div>
                <?php /*
                <h2><?= $translate('Medias') ?></h2>
                */ ?>
                <div class="values">
                    <?php foreach ($medias as $media):
                        $renderer = $media->renderer(); ?>
                    <div class="value">
                        <?php if ($renderer === 'html'): ?>
                        <?= $media->render() ?>
                        <?php else: ?>
                        <?= $media->linkPretty() ?>
                        <?php endif; ?>
                    </div>
                    <?php endforeach; ?>
                </div>
            </div>
                <?php endif; ?>
            <?php elseif ($resourceName === 'media'): ?>
            <div>
                <?php
                $renderer = $media->renderer();
                $mediaType = $media->mediaType();
                ?>
                <div class="values">
                    <div class="value">
                        <?php if ($renderer === 'html'): ?>
                        <?= $media->render() ?>
                        <?php elseif ($renderer === 'iiif'): ?>
                        <img class="fullsize" src="<?= $media->thumbnailUrl('large') ?>"/>
                        <?php elseif (substr($mediaType, 0, 5) === 'image'): ?>
                        <?php // To avoid to use a viewer from a module, use html img. ?>
                        <img class="fullsize" src="<?= $media->originalUrl() ?: $media->thumbnailUrl('large') ?>"/>
                        <?php else: ?>
                        <?= $media->linkPretty() ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <?php endif; ?>

            <?php // Resource citation ?>
            <div class="citation">
                <h3>Pour citer cet article • <?= date('d/m/Y') ?></h3>
                <div class="value">
                    <?php $vals = [];
                    if ($value = $resource->value('dcterms:creator')) $vals[] = strip_tags($value->asHtml(), $allowedTags);
                    $vals[] = '« ' . $escape($resource->displayTitle()) . ' »';
                    if ($value = ($resource->value('dcterms:issued') ?: $resource->value('dcterms:date'))) $vals[] = strip_tags($value->asHtml(), $allowedTags);
                    $vals[] = $escape($site->title());
                    ?>
                    <?= implode(', ', array_map('trim', $vals)) ?>
                    <a class="citation-link" href="<?= $escapeAttr($value = $resource->url($site, true)) ?>"><?= $escape($value) ?></a>
                </div>
            </div>

        </main>
    </body>
</html>
