<template>
  <div class="loading-animation">
    <div v-for="block in blocks" v-bind:key="block['o:id']" v-html="getHtml(block)">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Blocks',
    props: {
      blocks: {
        type: Array,
        required: true,
      },
    },
    methods: {
      getHtml (block) {
        const blockData = block['o-module-api-info:append'];
        console.log(blockData);
        return blockData.html;
      }
    }
  }
</script>
