<template>
    <div v-html="htmlContent"></div>
</template>

<script>
  export default {
    name: 'Blocks',
    props: {
      htmlContent: {
        type: String,
        required: true,
      }
    }
  }
</script>
