<template>

  <GalleryListNoticesView
          category="articles"
          pageTitle="Articles"
          itemSetRouteName="Articles"
          itemRouteName="Article"
          noticeItemType="article"
          default-display-mode="list"
  />

</template>

<script>

  import GalleryListNoticesView from "../components/Lists/GalleryListNoticesView";

  export default {
    components: { GalleryListNoticesView },
  }

</script>