<template>

  <GalleryListNoticesView
          category="redacteurs"
          pageTitle="Rédacteurs"
          itemSetRouteName="Authors"
          itemRouteName="Author"
          default-display-mode="list"
          :gallery-display-mode-available="galleryDisplayModeAvailable"
  />

</template>

<script>

  import GalleryListNoticesView from "../components/Lists/GalleryListNoticesView";

  export default {
    components: { GalleryListNoticesView },
    computed: {
      galleryDisplayModeAvailable() {
        return false;
      }
    }
  }

</script>