<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>Bibliographie</h1>
    </div>
    <div class="contents">
      <div class="contents-wrapper">
        <div class="bibliographie with-padding">
          <ul class="biblio-items ">
            <li class="biblio-item">
              <router-link to="/bibliographie/oeuvres-de-paul-otlet">
                <div class="biblio-item-image biblio1"></div>
                <div class="biblio-item-description">
                  <h2>{{ state.collectionTitleOeuvresOtlet }}</h2>
                  <p>{{ state.collectionDescriptionOeuvresOtlet }}</p>
                </div>
              </router-link>
            </li>
            <li class="biblio-item">
              <router-link to="/bibliographie/publications-sur-paul-otlet">
                <div class="biblio-item-image biblio2"></div>
                <div class="biblio-item-description">
                  <h2>{{ state.collectionTitlePublicationsOtlet }}</h2>
                  <p>{{ state.collectionDescriptionPublicationsOtlet }}</p>
                </div>
              </router-link>
            </li>
            <li class="biblio-item">
              <router-link to="/bibliographie/bibliographie-generale">
                <div class="biblio-item-image biblio3"></div>
                <div class="biblio-item-description">
                  <h2>{{ state.collectionTitleBiblioGenerale }}</h2>
                  <p>{{ state.collectionDescriptionBiblioGenerale }}</p>
                </div>
              </router-link>
            </li>
            <li class="biblio-item">
              <router-link to="/bibliographie/publications-hyperotlet">
                <div class="biblio-item-image biblio4"></div>
                <div class="biblio-item-description">
                  <h2>{{ state.collectionTitlePublicationsHyperOtlet }}</h2>
                  <p>{{ state.collectionDescriptionPublicationsHyperOtlet }}</p>
                </div>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import {onMounted, reactive} from "vue";
  import {useStore} from "vuex";
  import axios from "axios";
  import {getCollectionsListApiURL} from "../js/api";
  import BreadCrumb from "../components/Header/BreadCrumb";

  export default {
    components: {BreadCrumb},
    computed: {
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { label:'Bibliographie' }
        ]
      }
    },
    setup() {

      const store = useStore();

      const collectionIdOeuvresOtlet = store.getters.collectionIdsByCategory('oeuvres_otlet').shift();
      const collectionIdPublicationsOtlet = store.getters.collectionIdsByCategory('publications_otlet').shift();
      const collectionIdBiblioGenerale = store.getters.collectionIdsByCategory('bibliographie_generale').shift();
      const collectionIdPublicationsHyperOtlet = store.getters.collectionIdsByCategory('publications_hyperotlet').shift();

      const displayCollectionsInfos = function(collectionsJson) {

        let i, collectionJson, collectionId, collectionDescription;
        const n = collectionsJson.length;

        for(i=0;i<n;i++) {

          collectionJson = collectionsJson[i];
          collectionId = parseInt( collectionJson["o:id"] );

          if (collectionId === collectionIdOeuvresOtlet) {
            // Oeuvres Otlet :
            state.collectionTitleOeuvresOtlet = collectionJson['o:title'];
            collectionDescription = collectionJson['dcterms:description'];
            if (collectionDescription) {
              state.collectionDescriptionOeuvresOtlet = collectionDescription[0]["@value"];
            }
          }
          else if (collectionId === collectionIdPublicationsOtlet) {
            // Publications Otlet :
            state.collectionTitlePublicationsOtlet = collectionJson['o:title'];
            collectionDescription = collectionJson['dcterms:description'];
            if (collectionDescription) {
              state.collectionDescriptionPublicationsOtlet = collectionDescription[0]["@value"];
            }
          }
          else if (collectionId === collectionIdBiblioGenerale) {
            // Bibliographie générale :
            state.collectionTitleBiblioGenerale = collectionJson['o:title'];
            collectionDescription = collectionJson['dcterms:description'];
            if (collectionDescription) {
              state.collectionDescriptionBiblioGenerale = collectionDescription[0]["@value"];
            }
          }
          else if (collectionId === collectionIdPublicationsHyperOtlet) {
            // Publications HyperOtlet :
            state.collectionTitlePublicationsHyperOtlet = collectionJson['o:title'];
            collectionDescription = collectionJson['dcterms:description'];
            if (collectionDescription) {
              state.collectionDescriptionPublicationsHyperOtlet = collectionDescription[0]["@value"];
            }
          }

        }



      };

      onMounted(() => {

        if (store.state.collections) {
          // Si la liste des collectins a déjà été téléchargée
          displayCollectionsInfos(store.state.collections);
        } else {
          const keyIdentity = store.getters.identityAndCredentialParameters;
          const apiURL = getCollectionsListApiURL(store.getters.apiRoot);
          axios.get(apiURL + keyIdentity.substr(1) ).then(function(response){
            displayCollectionsInfos(response.data);
          });

        }

      });

      const state = reactive({
        collectionTitleOeuvresOtlet: "Œuvres de Paul Otlet",
        collectionDescriptionOeuvresOtlet: "",
        collectionTitlePublicationsOtlet: "Publications sur Paul Otlet",
        collectionDescriptionPublicationsOtlet:"",
        collectionTitleBiblioGenerale: "Bibliographie générale",
        collectionDescriptionBiblioGenerale:"",
        collectionTitlePublicationsHyperOtlet: "Publications HyperOtlet",
        collectionDescriptionPublicationsHyperOtlet:"",
      });

      return {
        state
      }

    }
  }

</script>