<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>{{ pageTitle }}</h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <div class="contents-wrapper list-mode">
        <div class="bibliographie">

          <div class="collection-header with-padding" v-if="state.collectionDescriptions">
            <CollectionDescription :descriptions="state.collectionDescriptions" />
          </div>

          <div class="collection-header with-padding">
            <router-link class="back-to-list-button" to="/bibliographie">Retour au sommaire</router-link>
          </div>

          <Loading class="notice-item-content with-padding" v-if="state.isLoading" />

          <!-- Mode Liste -->
          <div class="contents-list-mode-content with-padding with-sort-options" v-if="! state.isLoading" >
            <ListItems
                :items="state.items"
                :queryRouteName="state.queryRouteName"
                :advancedQuery="state.getSearchQuery"
                :pageNo="state.pageNo"
                @openitem="openItem"
                @opendetailednotice="openDetailedNotice"
                @downloaditemnotice="openDownloadNoticePopUp"
            />
          </div>

        </div>
      </div>
    </div>

    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            v-bind:itemId="detailedNoticeId"
            v-bind:itemType="detailedNoticeType"
            @close-detailed-item-notice="closeDetailedNotice"
            :class="detailedNoticeCssClass"
    />

    <NoticeDownloadPopUp
            v-if="downloadNoticeItemId"
            :itemId="downloadNoticeItemId"
            :itemType="downloadNoticeItemType"
            :class="downloadNoticePopupCssClass"
            @closedownloaditemnotice="closeDownloadNoticePopUp"
    />

  </div>
</template>
<script>

  import {computed, onMounted, reactive} from "vue";
  import {getCollectionApiURL, getCollectionsApiURL, getSortQueryParameters} from "../js/api";
  import { useStore } from "vuex";
  import axios from "axios";
  import ListItems from "../components/Lists/ListItems";
  import Loading from "../components/Loading";
  import NoticePopUp from "../components/Notices/NoticePopUp";
  import NoticeDownloadPopUp from "../components/Notices/NoticeDownloadPopUp";
  import BreadCrumb from "../components/Header/BreadCrumb";
  import CollectionDescription from "../components/Header/CollectionDescription";
  import {onBeforeRouteUpdate, useRoute} from "vue-router";

  export default {
    components: {
      ListItems,
      Loading,
      NoticePopUp,
      NoticeDownloadPopUp,
      BreadCrumb,
      CollectionDescription
    },
    props: {
      pageTitle: {
        type: String,
        required: true
      },
      category: {
        type: String,
        required: true
      },
    },
    emits: [
      "openitem"
    ],
    data() {
      return {
        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,

        downloadNoticePopupIsOpened:false,
        downloadNoticeItemId:null,
        downloadNoticeItemType: 'item'
      }
    },
    computed: {
      detailedNoticeCssClass() {
        return this.detailedNoticeItemIsOpened ? "opened" : "";
      },
      currentRoutePath() {
        return this.$route.path;
      },
      withPopUpCssClass() {
        return this.detailedNoticeItemIsOpened ? "with-popup" : "";
      },
      downloadNoticePopupCssClass() {
        return this.downloadNoticePopupIsOpened === true ? "opened" : "";
      },
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { name: 'Bibliographie', label:'Bibliographie' },
          { label: this.pageTitle }
        ]
      }
    },
    methods: {
      openDetailedNotice(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "item";
        this.detailedNoticeItemIsOpened = true;
      },
      closeDetailedNotice() {
        this.detailedNoticeId = null;
        this.detailedNoticeType = null;
        this.detailedNoticeItemIsOpened = false;
      },
      openItem() {
      },
      openDownloadNoticePopUp(item) {
        this.downloadNoticePopupIsOpened = true;
        this.downloadNoticeItemId = item.id;
      },
      closeDownloadNoticePopUp() {
        this.downloadNoticePopupIsOpened = false;
        this.downloadNoticeItemId = null;
      }
    },
    setup(props) {

      const route = useRoute();
      const store = useStore();

      const loadCollection = function() {

        const collectionIds = store.getters.collectionIdsByCategory(props.category);

        if (collectionIds.length) {

          const apiURL = getCollectionApiURL(store.getters.apiRoot, collectionIds[0]);
          const keyIdentity = store.getters.identityAndCredentialParameters;

          axios.get(apiURL + keyIdentity).then(function (response) {
            const collectionJson = response.data;
            state.collectionDescriptions = collectionJson['dcterms:description'];
          });
        }
      };

      const loadResults = function() {

        state.isLoading = true;

        const keyIdentity = store.getters.identityAndCredentialParameters;
        const apiURL = getCollectionsApiURL(
                store.getters.apiRoot,
                store.getters.collectionIdsByCategory(props.category),
                "",
                state.sortByParam,
                state.sortOrderParam,
        );

        axios.get(apiURL + keyIdentity).then(function(response){
          state.items = response.data;
          state.isLoading = false;
        });

      };

      onMounted(() => {

        if (route.query.sort_by && (route.query.sort_by.length > 0)) {
          state.sortByParam = route.query.sort_by;
        }

        if (route.query.sort_order && (route.query.sort_order.length > 0)) {
          state.sortOrderParam = route.query.sort_order;
        }

        loadCollection();
        loadResults();
      });

      onBeforeRouteUpdate((to, from, next) => {
        const toSortByParam = to.query.sort_by || "title";
        const toSortOrder = to.query.sort_order || "asc";
        if ((state.sortByParam !== toSortByParam) || (state.sortOrderParam !== toSortOrder)) {
          state.sortByParam = to.query.sort_by;
          state.sortOrderParam = to.query.sort_order;
          loadResults();
          next();
        }
        else {
          const fromPageNo = isNaN(from.query.p) ? 1 : parseInt(from.query.p);
          const toPageNo = isNaN(to.query.p) ? 1 : parseInt(to.query.p);
          if (fromPageNo !== toPageNo ) {
            next();
          }
        }
      });

      const state = reactive({
        collectionDescriptions:null,
        items:null,
        isLoading: true,
        queryRouteName:props.pageTitle,
        sortByParam: 'title',
        sortOrderParam: 'asc',
        getSearchQuery: computed(() => getSortQueryParameters(state.sortByParam, state.sortOrderParam )),
        pageNo: computed(() => isNaN(route.query.p) ? 1 : parseInt(route.query.p) ),
      });

      return {
        state
      }
    }
  }
</script>