<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>{{ $t(state.pageTitle) }}</h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <div class="contents-wrapper list-mode">

          <Loading class="no-header with-padding" v-if="state.isLoading" />

          <!-- Mode Liste -->
          <div class="contents-list-mode-content with-sort-options" v-if="! state.isLoading" >

              <ul class="references-abc with-padding">
                  <li v-for="letter in state.letters" v-bind:key="letter">
                      <router-link :to="getLetterRoute(letter)" :class="getLetterCssClass(letter)">
                          {{ letter }}
                      </router-link>
                  </li>
              </ul>

              <!-- Liste des items -->
              <ListReferences
                    :facets=false
                    :class="listReferencesCssClass"
                    :items="state.items"
                    :titleFieldName="state.titleFieldName"
                    :filter-panel="state.filterPanel"
                    :filter-panel-options="state.filterOptions"
                    :active-filter-id="state.filterId"
                    @opendetailednotice="openDetailedNotice"
                    @openitemvisualization="openItemVisualization"
                    @downloaditemnotice="openDownloadNoticePopUp"
                    @selectfilter="selectFilter"
                    @previousfilter="selectPreviousFilter"
                    @nextfilter="selectNextFilter"
              />

              <!-- Graphe SVG d'un Item -->
              <VisualisationItem
                  :class="itemVisualizationCssClass"
                  :itemId="itemVisualizationItemId"
                  @opendetailednotice="openDetailedNotice"
                  @closeitemvisualization="closeItemVisualization"
              />

        </div>
      </div>
    </div>

    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            v-bind:itemId="detailedNoticeId"
            v-bind:itemType="detailedNoticeType"
            @close-detailed-item-notice="closeDetailedNotice"
            :class="detailedNoticeCssClass"
    />

    <NoticeDownloadPopUp
          v-if="downloadNoticeItemId"
          :itemId="downloadNoticeItemId"
          :itemType="downloadNoticeItemType"
          :class="downloadNoticePopupCssClass"
          @closedownloaditemnotice="closeDownloadNoticePopUp"
    />

  </div>
</template>
<script>

    import {computed, onMounted, onUpdated, reactive, watch} from "vue";
    import { useStore } from "vuex";
    import {onBeforeRouteUpdate, useRoute, useRouter} from "vue-router";
    import {getReferencesURL} from "../js/api";
    import axios from "axios";

    import ListReferences from "../components/Lists/ListReferences";
    import Loading from "../components/Loading";
    import NoticePopUp from "../components/Notices/NoticePopUp";
    import NoticeDownloadPopUp from "../components/Notices/NoticeDownloadPopUp";
    import BreadCrumb from "../components/Header/BreadCrumb";
    import VisualisationItem from '../components/Visualization/VisualisationItem';
    import {getLocalizedValue} from "../js/functions";

  export default {
    components: {
        ListReferences,
        Loading,
        NoticePopUp,
        NoticeDownloadPopUp,
        BreadCrumb,
        VisualisationItem
    },
    data() {
      return {
        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,

        itemVisualizationItemId:null,
        itemVisualizationIsOpened:null,

        downloadNoticePopupIsOpened:false,
        downloadNoticeItemId:null,
        downloadNoticeItemType: 'item',

        filterCategoriesMenuIsOpened:false
      }
    },
    computed: {
        constellationCssClass() {
            return this.filterCategoriesMenuIsOpened === true ? "with-filters" : "";
        },
        detailedNoticeCssClass() {
            return this.detailedNoticeItemIsOpened ? "opened" : "";
        },
        itemVisualizationCssClass() {
            return this.itemVisualizationIsOpened === true ? "opened" : "closed";
        },
        displayModeCssClass() {
            return this.state.displayMode + "-mode";
        },
        withPopUpCssClass() {
            return this.detailedNoticeItemIsOpened || this.itemVisualizationIsOpened ? "with-popup" : "";
        },
        downloadNoticePopupCssClass() {
            return this.downloadNoticePopupIsOpened === true ? "opened" : "";
        },
        listReferencesCssClass() {
            return 'references-metadata references-metadata-' + this.state.metadata.split(":").join('-');
        },
        currentRoutePath() {
            return this.$route.path;
        },
        basketCount() {
            return this.$store.state.basket.length;
        },
        breadcrumbs() {
            return [
              { name: 'Home', label:'Accueil' },
              { label: 'Parcourir' }
            ]
        }
    },
    methods: {
        openDetailedNotice(itemId, itemType = "item") {
            this.detailedNoticeId = itemId;
            this.detailedNoticeType = itemType;
            this.detailedNoticeItemIsOpened = true;
        },
        closeDetailedNotice() {
            this.detailedNoticeId = null;
            this.detailedNoticeType = null;
            this.detailedNoticeItemIsOpened = false;
        },
        openItemVisualization(itemId) {
            this.itemVisualizationIsOpened = true;
            this.itemVisualizationItemId = itemId;
        },
        closeItemVisualization() {
            this.itemVisualizationItemId = null;
            this.itemVisualizationIsOpened = false;
        },
        changeCategoriesFilterMenu(menuIsOpened) {
            this.filterCategoriesMenuIsOpened = menuIsOpened;
        },
        openDownloadNoticePopUp(item) {
            this.downloadNoticePopupIsOpened = true;
            this.downloadNoticeItemId = item.id;
        },
        closeDownloadNoticePopUp() {
            this.downloadNoticePopupIsOpened = false;
            this.downloadNoticeItemId = null;
        },
    },
    setup() {

      const router = useRouter();
      const route = useRoute();
      const store = useStore();

      // Letters
      let i, letters = [];
      for(i=0;i<26;i++) {
        letters.push(String.fromCharCode(65+i));
      }

      //
      // Appel à l'api de recherche
      //

      const loadResults = function() {

        state.isLoading = true;

        state.activeFilterParams = getActiveFilterParams(state.filterId);

        let metadata = state.metadata;
        const letter = state.letter;

        let customvocabs;

        switch(metadata){
            case "o:title" :
                state.pageTitle = "Parcourir par titre";
                metadata = "dcterms:title";
                state.titleFieldName = metadata;
                break;

            case "dcterms:title" :
            case "dcterms:alternative" :
                state.pageTitle = "Parcourir par titre";
                state.titleFieldName = metadata;
                break;

            case "dcterms:subject" :
                state.pageTitle = "Parcourir par mot-clé";
                state.titleFieldName = "o:title";
                customvocabs = state.activeFilterParams.customvocabs;

                break;

                default:
                state.pageTitle = "Parcourir";
                state.titleFieldName = "o:title";
        }

        // console.log("metadata", metadata, " lettre:", letter);

        let lang = "" ;

        switch(state.lang) {
            case undefined:
            case "":
            case "fr":
                lang =  ["fra", null];
                break;
            case "en":
                lang = ["eng"];
                break;
            default:
                lang = state.lang;
        }

        const keyIdentity = store.getters.identityAndCredentialParameters;
        const apiURL = getReferencesURL( store.getters.apiRoot,  metadata, letter, store.state.queryItemSetsIds, customvocabs, lang);

        // Chargement des résultats :

        axios.get(apiURL + keyIdentity).then(function(response){

          const items = response.data.refs["o:references"];
          const n = items.length;
          let i, item, itemSets, itemSetId, collectionSettings;
          let j, resource, resources;

          let filteredItems = [];

          for(i=0;i<n;i++)
          {
            item = items[i];
            resources = item.resources;
            let filteredResources = [];

            for(j=0;j<resources.length;j++)
            {
              resource = resources[j];
              itemSets = resource["o:item_set"];
              if (itemSets && itemSets.length)
              {
                itemSetId = itemSets[0]['o:id'];
                if (itemSetId)
                {
                  // Si l'item fait partie des collections (encyclopédie, corpus, ...)
                  // On récupère les infos spécifiques au site :
                  collectionSettings = store.getters.collectionsSettings(itemSetId);

                  // On note la route de chaque item (vers le corpus, l'encyclopédie, etc...)
                  resource.encyclopedieCategoryRef = collectionSettings ? collectionSettings.name : null;
                  resource.route = collectionSettings ? collectionSettings.route : '';
                  resource.id = resource['o:id'];
                  resource.type = (collectionSettings && collectionSettings.ref === "articles") ? "article" : "item";

                  filteredResources.push(resource);
                }
              }
            }

            if (filteredResources.length > 0) {
              filteredItems.push({
                val: item.val,
                resources:filteredResources
              });
            }
          }

          state.items = filteredItems;
          state.isLoading = false;

          // console.log(state.items)

        });
      };

      const getLetterRoute = function(letter) {
          return { name:'Parcourir', query: { metadata: state.metadata, letter: letter, filter: state.filterId }}
      };

      const getLetterCssClass = function(letter) {
          return letter.toLowerCase() === state.letter.toLowerCase() ? "active-letter" : "letter";
      };

      let filterOptions = [];

      const getActiveFilterParams = function(activeFilterId) {
          let i, n = filterOptions.length, filterParams;
          for(i=0;i<n;i++) {
              filterParams = filterOptions[i];
              if (filterParams.id === activeFilterId) {
                  return filterParams;
              }
          }
      };

      const initIndexPanel = function() {

          // Reset :
          filterOptions.length = 0;

          const currentLanguage = store.state.currentLanguage;
          const browseSettings = store.state.settings.browse;
          let browseVocabs = [];
          let n = browseSettings.length, browseCollection, browseCollectionClone, browseTitle, collectionJson;

          for(i=0;i<n;i++) {
              browseCollection = browseSettings[i];
              browseCollectionClone = {...browseCollection};
              collectionJson = store.getters.collectionJson(browseCollection.id);
              if (collectionJson) {
                  browseTitle = getLocalizedValue(collectionJson['dcterms:title'], currentLanguage, collectionJson['o:title']);
                  browseCollectionClone.title = browseTitle;
              }
              filterOptions.push(browseCollectionClone);
              browseVocabs = browseVocabs.concat(browseCollection.customvocabs);
          }

          // Index general : compilation of all vocabs
          filterOptions.unshift({
              id:0,
              title: currentLanguage === "en" ? 'General Index' : 'Index général',
              customvocabs: browseVocabs
          });

          state.filterOptions = filterOptions;
          state.activeFilterParams = getActiveFilterParams(0);
      };

      const updateRouteWithFilter = function(filterId) {

            let routeCopy = {
                name : route.name,
                query : { ...route.query },
                params : { ...route.params }
            };

            routeCopy.query.filter = filterId;

            router.push(routeCopy);
      };

      const selectFilter = function(filterId) {
          updateRouteWithFilter(filterId);
      };

      const selectPreviousFilter = function(currentFilterId) {
          let i, n = filterOptions.length, filterNo = 0;
          for (i=0; i<n; i++) {
              if (filterOptions[i].id === currentFilterId) {
                  filterNo = ( i === 0 ? n - 1 : i - 1);
                  break;
              }
          }
          selectFilter(filterOptions[filterNo].id);
      };

      const selectNextFilter = function(currentFilterId) {
          let i, n = filterOptions.length, filterNo = 0;
          for (i=0; i<n; i++) {
              if (filterOptions[i].id === currentFilterId) {
                  filterNo = ( i === n - 1 ? 0 : i + 1);
                  break;
              }
          }
          selectFilter(filterOptions[filterNo].id);
      };


      //
      // Lifecycle Hooks
      //

      onMounted(() => {

        // Chargement des résultats

        // Par défaut dcterms:title
        const metadata =  route.query.metadata ? route.query.metadata : "dcterms:title";
        const letter   = route.query.letter ? route.query.letter : "a";
        const filterId = route.query.filter ? parseInt(route.query.filter) : 0;

        state.metadata = metadata;
        state.letter = letter;
        state.filterId = filterId;

        if (Array.isArray(store.state.collections)) {
            initIndexPanel();
            loadResults();
        }
      });

      onUpdated(() => {
        // console.log("onUpdated q=", route.query.q, "s=", route.params.s);
        if ((route.query.q && (state.q !== route.query.q)) || (route.params.s && (state.s !== route.params.s))) {
          loadResults();
        }
      });

      onBeforeRouteUpdate((to, from, next) => {

          if ((state.metadata !== to.query.metadata) || (state.letter !== to.query.letter) || (state.filterId !== to.query.filter)) {

              state.metadata = to.query.metadata ? to.query.metadata : "dcterms:title";
              state.letter   = to.query.letter ? to.query.letter : "a";
              state.filterId = to.query.filter ? parseInt(to.query.filter) : 0;
              state.lang     = to.query.lang;

              loadResults();

              next();
          }
      });

      watch( () => store.state.collections, () => {
          initIndexPanel();
          loadResults();
      });

      watch( () => store.state.currentLanguage, () => {
          initIndexPanel();
          state.lang = store.state.currentLanguage;
      });


      //
      // State
      //

      const state = reactive({
        pageTitle: "Parcourir",
        letters: letters,
        items:null,
        encyclopedieCategoryRefs:null,
        isLoading: true,

        filterOptions:[],
        filterPanel: computed(() => state.metadata === "dcterms:subject" ),
        activeFilterId: 0,
        activeFilterParams: null,
        lang: store.state.currentLanguage,

        userIsConnected: computed(() => store.state.currentUser.logged ),
      });

      return {
        state,
        getLetterRoute,
        getLetterCssClass,
        selectFilter,
        selectPreviousFilter,
        selectNextFilter
      }
    }
  }
</script>