<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>{{ pageTitle }}</h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <NavigationItem
              class="with-padding"
              :previousItemId="state.previousItemId"
              :nextItemId="state.nextItemId"
              :sortByParam="state.sortByParam"
              :sortOrderParam="state.sortOrderParam"
              :collectionPath="collectionPath"
      />
      <NoticeMedia
              v-bind:itemId="state.itemId"
              v-bind:tools="hasTools"
              displayMode="reference"
              class="with-padding"
              @item-loaded="itemLoaded"
              @change-item-notice="openDetailedNotice"
              @downloaditemnotice="openDownloadNoticePopUp"
      />
    </div>
    <!-- Pour les items liés -->
    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            v-bind:itemId="detailedNoticeId"
            v-bind:itemType="detailedNoticeType"
            @close-detailed-item-notice="closeDetailedNotice"
            :class="detailedNoticeCssClass"
    />
  </div>
  <NoticeDownloadPopUp
          :itemId="state.itemId"
          :class="downloadNoticePopupCssClass"
          itemType="item"
          @closedownloaditemnotice="closeDownloadNoticePopUp"
  />
</template>

<script>

  import {computed, onMounted, onUpdated, reactive, watch} from "vue";
  import {onBeforeRouteUpdate, useRoute} from "vue-router";
  import {useStore} from "vuex";
  import {getCollectionsItemIdsApiURL} from "../js/api";
  import BreadCrumb from "../components/Header/BreadCrumb";
  import NavigationItem from "../components/Lists/NavigationItem";
  import NoticeMedia from "../components/Notices/NoticeMedia";
  import NoticePopUp from "../components/Notices/NoticePopUp";
  import NoticeDownloadPopUp from "../components/Notices/NoticeDownloadPopUp";

  export default {
    name: 'CategoryItemView',
    components: {
      BreadCrumb,
      NavigationItem,
      NoticeMedia,
      NoticePopUp,
      NoticeDownloadPopUp
    },
    props: {
      pageTitle: {
        type: String,
        required: true
      },
      routeName: {
        type: String,
        required: true
      },
      category: {
        type: String,
        required: true
      },
      parentPageTitle: {
        type: String,
        required: false
      },
      parentRouteName: {
        type: String,
        required: false
      },
      sortBy: {
        type: String,
        required: false
      },
      sortOrder: {
        type: String,
        required: false
      }
    },
    data() {
      return {
        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,
        downloadNoticePopupIsOpened:false
      }
    },
    computed: {
      itemId() { return parseInt(this.$route.params.id) },
      hasTools() { return true },
      detailedNoticeCssClass() {
        return this.detailedNoticeItemIsOpened ? "opened" : "";
      },
      withPopUpCssClass() {
        return this.detailedNoticeItemIsOpened ? "with-popup" : "";
      },
      collectionPath() {
        return this.$router.resolve({ name: this.routeName }).path;
      },
      downloadNoticePopupCssClass() {
        return this.downloadNoticePopupIsOpened === true ? "opened" : "";
      },
      breadcrumbs() {
        if (this.parentRouteName) {
          return [
            { name: 'Home', label:'Accueil' },
            { name: this.parentRouteName, label: this.parentPageTitle || this.parentRouteName },
            { name: this.routeName, label: this.pageTitle },
            { label: this.state.itemTitle }
          ]
        } else {
          return [
            { name: 'Home', label:'Accueil' },
            { name: this.routeName, label: this.pageTitle },
            { label: this.state.itemTitle }
          ]
        }
      }
    },
    methods: {
      openDetailedNotice(item) {
        this.detailedNoticeId = item.itemId;
        this.detailedNoticeType = "item";
        this.detailedNoticeItemIsOpened = true;
      },
      openArticle(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "article";
        this.detailedNoticeItemIsOpened = true;
      },
      closeDetailedNotice() {
        this.detailedNoticeId = null;
        this.detailedNoticeType = null;
        this.detailedNoticeItemIsOpened = false;
      },
      openDownloadNoticePopUp() {
        this.downloadNoticePopupIsOpened = true;
      },
      closeDownloadNoticePopUp() {
        this.downloadNoticePopupIsOpened = false;
      },
    },
    setup(props) {

      const route = useRoute();
      const store = useStore();

      const itemLoaded = function(itemInfos) {
        // console.log("itemLoaded", itemInfos);
        state.itemTitle = itemInfos.title;
      };

      const updateNavigation = function() {
        const currentItemId = state.currentItemId;
        const itemsIds = state.itemsIds;
        if (itemsIds && itemsIds.length) {
          const currentItemPosition = itemsIds.indexOf(currentItemId);
          state.previousItemId = currentItemPosition > 0 ? itemsIds[currentItemPosition - 1] : -1;
          state.nextItemId = currentItemPosition < itemsIds.length - 1 ? itemsIds[currentItemPosition + 1] : -1;
        }
      };

      const loadCollectionIds = function() {

        if (props.sortBy && props.sortOrder)
        {
          state.sortByParam = props.sortBy;
          state.sortOrderParam = props.sortOrder;
        }
        else
        {
          if (route.query.sort_by && (route.query.sort_by.length > 0)) {
            state.sortByParam = route.query.sort_by;
          }

          if (route.query.sort_order && (route.query.sort_order.length > 0)) {
            state.sortOrderParam = route.query.sort_order;
          }
        }

        const options = "&hasMedia=1";
        const apiURL = getCollectionsItemIdsApiURL(
                store.getters.apiRoot,
                store.getters.collectionIdsByCategory(props.category),
                options,
                state.sortByParam,
                state.sortOrderParam
        );

        store.dispatch('getApi', apiURL).then(function(response){
          state.itemsIds = response.data.items;
          console.log(state.itemsIds);
          updateNavigation();
        });
      };

      const state = reactive({
        sortByParam: '',
        sortOrderParam: '',
        itemsIds: [],
        itemTitle: '',
        currentItemId: -1,
        previousItemId:-1,
        nextItemId:-1,
        itemId: computed(() => state.currentItemId )
      });

      onMounted(() => {
        state.currentItemId = parseInt(route.params.id);

        // On affiche le précédent/suivant sur la base des ids de la même catégorie
        loadCollectionIds();

      });

      onUpdated(() => {

        // state.currentItemId = parseInt(route.params.id);

        /*
        if (! state.isNavigationInJson ) {
          updateNavigation();
        }
         */
      });

      onBeforeRouteUpdate((to, from, next) => {
        if ((state.currentItemId !== to.params.id) || (state.sortByParam !== to.query.sort_by) || (state.sortOrderParam !== to.query.sort_order))
        {
          state.currentItemId = parseInt(to.params.id);
          state.sortByParam = to.query.sort_by;
          state.sortOrderParam = to.query.sort_order;

          // On affiche le précédent/suivant sur la base des ids de la même catégorie
          loadCollectionIds();

          next();
        }
      });

      watch( () => state.currentItemId, () => {
        updateNavigation();
      });

      watch( () => props.itemId, (itemId) => {
        state.currentItemId = itemId;
      });

      return {
        state,
        itemLoaded
      }
    }
  }

</script>
