<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>
        {{ $t("Chronologie") }}
        <a
                v-if="state.collectionDescriptions"
                @click="openCollectionDescriptions($event)"
                class="collection-description-toggle"
                href="#"></a>
      </h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <div class="contents-wrapper with-visualization" :class="displayModeCssClass">

        <div class="collection-header" v-if="state.collectionDescriptions">
          <CollectionDescription
                  class="with-padding"
                  :class="state.collectionDescriptionVisibleCssClass"
                  :descriptions="state.collectionDescriptions"
          />
        </div>

        <div class="chronologie">
          <!-- Onglet et panier -->
          <div class="contents-header with-padding">
            <!-- Toggle Graphe / Liste -->
            <ul class="contents-mode">
              <li class="contents-list-mode">
                <a href="#" @click="selectListDisplayMode($event)">{{ $t("Liste") }}</a>
              </li>
              <li class="contents-graph-mode">
                <a href="#" @click="selectGraphDisplayMode($event)">{{ $t("Frise") }}</a>
              </li>
            </ul>
          </div>

          <Loading class="notice-item-content with-padding" v-if="state.isLoading" />

          <!-- Mode Frise -->
          <div id="timeline-parent" class="timeline-parent with-padding">
            <HTMLSitePage
                    :htmlContent="state.htmlContent"
                    v-if="! state.isLoading"
            />
          </div>

          <!-- Mode Liste -->
          <div class="contents-list-mode-content full-width" v-if="! state.isLoading" >
            <ListItems
                    :items="state.items"
                    :queryRouteName="state.queryRouteName"
                    :itemsByPage="20"
                    :pageNo="state.pageNo"
                    @openitem="openItem"
                    @opendetailednotice="openDetailedNotice"
                    @openitemvisualization="openItemVisualization"
                    @downloaditemnotice="openDownloadNoticePopUp"
            />
          </div>

          <!-- Graphe SVG d'un Item -->
          <VisualisationItem
                    :class="itemVisualizationCssClass"
                    :itemId="itemVisualizationItemId"
                    @opendetailednotice="openDetailedNotice"
                    @closeitemvisualization="closeItemVisualization"
          />

        </div>
      </div>
    </div>

    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            :itemId="detailedNoticeId"
            :itemType="detailedNoticeType"
            :class="detailedNoticeCssClass"
            @close-detailed-item-notice="closeDetailedNotice"
    />

    <NoticeDownloadPopUp
            v-if="downloadNoticeItemId"
            :itemId="downloadNoticeItemId"
            :itemType="downloadNoticeItemType"
            :class="downloadNoticePopupCssClass"
            @closedownloaditemnotice="closeDownloadNoticePopUp"
    />

  </div>
</template>
<script>

  import {computed, onMounted, onUnmounted, reactive, watch} from "vue";
  import {useStore} from "vuex";
  import {useRoute} from "vue-router";
  import {getSitePageApiURL, getItemsApiURL, getTimelineItemsApiURL} from "../js/api";
  import axios from "axios";
  import $ from 'jquery';
  import TL from 'vue-timelinejs3';

  import "vue-timelinejs3/css/timeline.css";
  import "vue-timelinejs3/css/fonts/font.knightlab.css";

  import BreadCrumb from "../components/Header/BreadCrumb";
  import CollectionDescription from "../components/Header/CollectionDescription";
  import Loading from "../components/Loading";
  import HTMLSitePage from "../components/SitePages/HTMLSitePage";
  import ListItems from "../components/Lists/ListItems";
  import NoticePopUp from "../components/Notices/NoticePopUp";
  import NoticeDownloadPopUp from "../components/Notices/NoticeDownloadPopUp";
  import VisualisationItem from "../components/Visualization/VisualisationItem";

  export default {
    name: 'Chronologie',
    components: {
      BreadCrumb,
      CollectionDescription,
      Loading,
      HTMLSitePage,
      ListItems,
      VisualisationItem,
      NoticePopUp,
      NoticeDownloadPopUp
    },
    data() {
      return {
        isGraphDisplayMode: true,

        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,

        itemId: null,
        itemVisualizationIsOpened: false,
        itemVisualizationItemId:null,

        downloadNoticePopupIsOpened:false,
        downloadNoticeItemId:null,
        downloadNoticeItemType: 'item'
      }
    },
    computed: {
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { label:'Chronologie' }
        ]
      },
      constellationCssClass() {
        return this.filterCategoriesMenuIsOpened === true ? "with-filters" : "";
      },
      itemVizualisationCssClass() {
        return this.itemVisualizationIsOpened === true ? "opened" : "";
      },
      isItemVisualizationOpened() {
        return this.itemVisualizationIsOpened === true;
      },
      displayModeCssClass() {
        return this.isGraphDisplayMode ? "graph-mode" : "list-mode";
      },
      isListDisplayMode() {
        return this.isGraphDisplayMode === false;
      },
      listDisplayModeCssClass() {
        return this.itemVisualizationIsOpened === true ? "visible" : "hidden";
      },
      detailedNoticeCssClass() {
        return this.detailedNoticeItemIsOpened ? "opened" : "";
      },
      itemVisualizationCssClass() {
        return this.itemVisualizationIsOpened === true ? "opened" : "closed";
      },
      withPopUpCssClass() {
        return this.detailedNoticeItemIsOpened || this.itemVisualizationIsOpened ? "with-popup" : "";
      },
      annotationCssClass() {
        return this.annotationWindowIsOpened ? "popup-parent-opened" : "";
      },
      userIsConnected() {
        return this.$store.state.currentUser.logged;
      },
      basketCount() {
        return this.$store.state.basket.length;
      },
      downloadNoticePopupCssClass() {
        return this.downloadNoticePopupIsOpened === true ? "opened" : "";
      },
    },
    methods: {
      selectListDisplayMode($event){
        $event.preventDefault();
        this.isGraphDisplayMode = false;
      },
      selectGraphDisplayMode($event){
        $event.preventDefault();
        this.isGraphDisplayMode = true;
      },
      openDetailedNotice(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "item";
        this.detailedNoticeItemIsOpened = true;
      },
      closeDetailedNotice() {
        this.detailedNoticeId = null;
        this.detailedNoticeType = null;
        this.detailedNoticeItemIsOpened = false;
      },
      openItemVisualization(itemId) {
        this.itemVisualizationIsOpened = true;
        this.itemVisualizationItemId = itemId;
      },
      closeItemVisualization() {
        this.itemVisualizationItemId = null;
        this.itemVisualizationIsOpened = false;
      },
      openItem() {
      },
      clickOnTimelinePopUp($event) {
        this.openDetailedNotice($event.detail.id);
      },
      openDownloadNoticePopUp(item) {
        this.downloadNoticePopupIsOpened = true;
        this.downloadNoticeItemId = item.id;
      },
      closeDownloadNoticePopUp() {
        this.downloadNoticePopupIsOpened = false;
        this.downloadNoticeItemId = null;
      }
    },
    mounted() {
      document.getElementById("timeline-parent").addEventListener("click-on-timeline-popup", this.clickOnTimelinePopUp);
    },
    setup() {

      const route = useRoute();
      const store = useStore();

      // Récupération de l'id de la page à partir du slug
      store.dispatch("getSitePageInfosFromSlug", "chronologie").then(function (pageInfos) {
        if (pageInfos) {
          state.title = pageInfos.title;
          loadPageContent(pageInfos.id);
        }
      });

      // Description de la collection
      const updateCollectionDescription = function() {
        const collectionsIds = store.getters.collectionIdsByCategory('chronologie');
        if (collectionsIds.length) {
          const collectionJson = store.getters.collectionJson(collectionsIds[0]);
          if (collectionJson) {
            state.collectionDescriptions = collectionJson['dcterms:description'];
          }
        }
      };

      const openCollectionDescriptions = function($event) {
        $event.preventDefault();
        state.isCollectionDescriptionVisible = ! state.isCollectionDescriptionVisible;
      };

      // Chargement du contenu de la page
      const loadPageContent = function( pageId) {

        state.isLoading = true;

        const siteParams = store.state.settings.site;
        const siteId = siteParams ? siteParams.id : 1;

        const apiPageURL = getSitePageApiURL(store.getters.apiRoot, pageId, siteId);
        const keyIdentity = store.getters.identityAndCredentialParameters;

        axios.get(apiPageURL + keyIdentity).then(function(response){

          const pageData = response.data;
          const pageHtmlContent = pageData['o-module-api-info:append'];
          if (pageHtmlContent)
          {
            // Insertion du div de la carte
            state.htmlContent = pageHtmlContent.html;

            setTimeout(function()
            {
              // Récupération des items de la timeline
              loadTimelineItems( $('.timeline').attr('id').split('-').pop() );
            })
          }

          state.isLoading = false;
        });
      };

      // Timeline
      const loadTimelineItems = function(timelineId) {

        const apiPageURL = getTimelineItemsApiURL(store.getters.apiRoot, timelineId);
        const keyIdentity = store.getters.identityAndCredentialParameters;

        axios.get(apiPageURL + keyIdentity).then(function(response){

          const data = response.data;

          // console.log(data);

          // Données pour la Timeline
          let i, timelineEvent, timelineEvents = [];

          // Liste des ids des items pour le mode Liste
          let itemId, itemsIds = [];

          for (i = 0; i < data.events.length; i++) {

            timelineEvent = data.events[i];

            itemId = timelineEvent.link.split('/').pop();
            if (! isNaN(itemId)) {
              itemsIds.push( itemId );
            }

            // Parse the date string into Y, M, D.
            // Assumes YYYY-MM-DD.
            var startDate = parseDate(timelineEvent.start);

            // Create the slide object for the record.
            var timelineEntry = {
              "text": {
                "headline": "<a href=" + timelineEvent.link + ">" + timelineEvent.title + "</a>"
              },
              "start_date": {
                "year": startDate[0],
                "month": startDate[1],
                "day": startDate[2]
              },
            };

            // If the item has a description, include it.
            if (timelineEvent.description) {
              timelineEntry.text["text"] = timelineEvent.description;
            }

            // If the record has an end date, include it.
            if (timelineEvent.end) {
              var endDate = parseDate(timelineEvent.end);

              timelineEntry["end_date"] = {
                "year": endDate[0],
                "month": endDate[1],
                "day": endDate[2]
              };
            }

            // If the record has a file attachment, include that.
            // Limits based on returned JSON:
            // If multiple images are attached to the record, it only shows the first.
            // If a pdf is attached, it does not show it or indicate it.
            // If an mp3 is attached in Files, it does not appear.
            if (timelineEvent.image) {
              timelineEntry["media"] = { "url": timelineEvent.image };
            }

            // Add the slide to the events.
            timelineEvents.push(timelineEntry);
          }

          // Create the collection of slides.
          var slides = {
            "title": {
              "text": {
                "headline": '',
                "text": ''
              }
            },
            "events": timelineEvents
          };

          var timelineDivID = 'timeline-' + timelineId;
          var timelineOptions = {};

          // Mode Graphe : Timeline
          window.timeline = new TL.TL.Timeline(timelineDivID, slides, timelineOptions);

          $('.tl-slide-content').on('click', function($event) {
            $event.stopPropagation();

            const linkElement = $(this).find('.tl-headline a');
            if (linkElement.length)
            {
              const itemId = linkElement.attr('href').split('/').pop();

              document.getElementById(timelineDivID).dispatchEvent(new CustomEvent("click-on-timeline-popup", {
                bubbles: true,
                cancelable: true,
                detail: {
                  id: parseInt(itemId)
                }
              }));
            }
          });

          // Mode Liste :
          state.itemsIds = itemsIds;

          loadItems();

        });
      };

      const parseDate = function(entryDateString) {
        var entryDate = entryDateString;

        var parsedDate = entryDate.split('-');
        var entryYear = parsedDate[0];
        var entryMonth = parsedDate[1];
        var entryDay = parsedDate[2].slice(0, 2);

        return [entryYear, entryMonth, entryDay];
      };

      // Chargement des items pour le mode Liste
      const loadItems = function() {

        if (state.itemsIds.length)
        {
          const apiPageURL = getItemsApiURL(store.getters.apiRoot, state.itemsIds);
          const keyIdentity = store.getters.identityAndCredentialParameters;

          axios.get(apiPageURL + keyIdentity).then(function(response){

            const items = response.data, n = items.length;
            let i, item, itemSets, firstItemSetId, collectionSettings;

            for(i=0;i<n;i++)
            {
              item = items[i];

              // On note la route de chaque item (vers le corpus, l'encyclopédie, etc...)
              itemSets = item["o:item_set"];
              if (itemSets && itemSets.length) {
                firstItemSetId = itemSets[0]['o:id'];
                if (firstItemSetId) {
                  collectionSettings = store.getters.collectionsSettings(firstItemSetId);

                  item.encyclopedieCategoryRef = collectionSettings ? collectionSettings.name : null;
                  item.route = collectionSettings ? collectionSettings.route : '';
                  item.id = item['o:id'];
                  item.type = collectionSettings ? collectionSettings.ref === "articles" ? "article" : "item" : null;
                }
              }
            }

            state.items = items;

          });
        }
      };


      //
      // Lifecycle Hooks
      //

      onMounted(() => {
        if (store.state.collections) {
          updateCollectionDescription();
        }
      });

      onUnmounted(() => {
        window.timeline = null;
      });

      watch(() => store.state.collections, () => {
        updateCollectionDescription();
      });


      //
      // State
      //

      const state = reactive({

        collectionDescriptions: null,
        isCollectionDescriptionVisible:false,
        collectionDescriptionVisibleCssClass: computed( () => {
          return state.isCollectionDescriptionVisible ? "opened" : "";
        }),

        title:'',
        isLoading: true,
        htmlContent:'',
        items: [],
        itemsIds: [],
        queryRouteName: '',
        sortByParam: 'title',
        sortOrderParam: 'asc',
        pageNo: computed(() => isNaN(route.query.p) ? 1 : parseInt(route.query.p) )
      });

      return {
        state,
        updateCollectionDescription,
        openCollectionDescriptions
      }
    }
  }

</script>