<template>

  <GalleryTreeNoticesView
          category="corpus"
          pageTitle="Corpus"
          itemSetRouteName="Corpus"
          itemRouteName="Corpus Item"
          defaultDisplayMode="gallery"
  />

</template>

<script>

  import GalleryTreeNoticesView from "../components/Lists/GalleryTreeNoticesView";

  export default {
    components: { GalleryTreeNoticesView },
  }
</script>