<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <a href="#">{{ $t("Accueil") }}</a> &gt; {{ $t("Encyclopédie documentaire") }}
      </div>
      <h1>
        {{ $t("Encyclopédie documentaire") }}
        <a
          v-if="state.collectionDescriptions"
          @click="openCollectionDescriptions($event)"
          class="collection-description-toggle"
          href="#">
        </a>
      </h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <div class="contents-wrapper with-visualization" :class="displayModeCssClass">

        <div class="collection-header" v-if="state.collectionDescriptions">
          <CollectionDescription
                  class="with-padding"
                  :class="state.collectionDescriptionVisibleCssClass"
                  :descriptions="state.collectionDescriptions"
          />
        </div>

        <div class="constellation" :class="constellationCssClass">

          <!-- Graphe SVG des collections de l'encyclopédie -->
          <VisualisationEncyclopedie
            feedMode="auto"
            @itemsloadedfromserver="itemsLoadedFromServer"
            @selectitem="selectItem"
            @changecategoriesfiltermenu="changeCategoriesFilterMenu"
          />

          <!-- Onglet et panier -->
          <div class="contents-header with-padding" v-if="allItems">
            <!-- Toggle Graphe / Liste / Notices -->
            <ul class="contents-mode">
              <li class="contents-list-mode">
                <a href="#" @click="selectListDisplayMode($event)">
                  {{ $t("Liste") }}
                </a>
              </li>
              <li class="contents-notice-mode">
                <a href="#" @click="selectNoticeDisplayMode($event)">
                  {{ $t("Notices") }}
                </a>
              </li>
              <li class="contents-graph-mode">
                <a href="#" @click="selectGraphDisplayMode($event)">
                  {{ $t("Graphe") }}
                </a>
              </li>
            </ul>
            <!-- Panier -->
            <div class="constellation-basket" v-if="userIsConnected">
              <router-link to="/mon-compte/mon-panier">{{ basketCount }}</router-link>
            </div>
          </div>

          <!-- Mode Liste -->
          <ListItemsWithCategorySlider
                  v-if="hasItems"
                  :items="allItems"
                  @opendetailednotice="openDetailedNotice"
                  @openitemvisualization="openItemVisualization"
                  @downloaditemnotice="openDownloadNoticePopUp"
                  :class="listDisplayModeCssClass"
          />

          <!-- Mode Graphe SVG d'un Item -->
          <VisualisationItem
                 v-if="isGraphDisplayMode || itemVisualizationIsOpened"
                 :itemId="itemId"
                 :itemsIds="itemsIdsForVisualization"
                 @closeitemvisualization="closeItemVisualization"
                 @opendetailednotice="selectDetailedNotice"
                 :class="itemVizualisationCssClass"
          />

          <!-- Mode Notice -->
          <NoticesItems
                  v-if="isNoticeDisplayMode"
                  :items-ids="allItemIds"
                  :notice-item-id="0"
                  :changeRouteWithPreviousAndNext="changeRouteWithPreviousAndNext"
                  @opendetailednotice="openDetailedNotice"
          />

        </div>
      </div>

    </div>

    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            v-bind:itemId="detailedNoticeId"
            v-bind:itemType="detailedNoticeType"
            v-bind:closeButtonLabel="closeButtonLabel"
            @item-loaded="detailedNoticeLoaded"
            @close-detailed-item-notice="closeDetailedNotice"
            :class="detailedNoticeCssClass"
    />

    <NoticeDownloadPopUp
            v-if="downloadNoticeItemId"
            :itemId="downloadNoticeItemId"
            :itemType="downloadNoticeItemType"
            :class="downloadNoticePopupCssClass"
            @closedownloaditemnotice="closeDownloadNoticePopUp"
    />

  </div>
</template>

<script>
  import {useStore} from "vuex";
  import {computed, onMounted, reactive, watch} from "vue";

  import EventDispatcher from "../js/EventDispatcher";
  import VisualisationEncyclopedie from "../components/Visualization/VisualisationEncyclopedie";
  import VisualisationItem from '../components/Visualization/VisualisationItem';
  import ListItemsWithCategorySlider from '../components/Lists/ListItemsWithCategorySlider';
  import NoticePopUp from '../components/Notices/NoticePopUp';
  import NoticeDownloadPopUp from '../components/Notices/NoticeDownloadPopUp';
  import NoticesItems from "../components/Lists/NoticesItems";
  import CollectionDescription from "../components/Header/CollectionDescription";

  export default {
    name: 'Encyclopedie',
    components: {
      CollectionDescription,
      VisualisationEncyclopedie,
      NoticePopUp,
      NoticeDownloadPopUp,
      VisualisationItem,
      ListItemsWithCategorySlider,
      NoticesItems
    },
    data() {
      return {
        displayMode: "graph",

        allItems: null,
        allItemIds: null,

        itemId: null,

        itemsIdsForVisualization: null,
        itemVisualizationIsOpened: false,
        filterCategoriesMenuIsOpened: false,

        annotationWindowIsOpened: false,

        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,

        downloadNoticePopupIsOpened:false,
        downloadNoticeItemId:null,
        downloadNoticeItemType: 'item',
      }
    },
    computed: {
      constellationCssClass() {
        return this.filterCategoriesMenuIsOpened === true ? "with-filters" : "";
      },
      itemVizualisationCssClass() {
        return this.itemVisualizationIsOpened === true ? "opened" : "";
      },
      isItemVisualizationOpened() {
        return this.itemVisualizationIsOpened === true;
      },
      isListDisplayMode() {
        return this.displayMode === "list"
      },
      isGraphDisplayMode() {
        return this.displayMode === "graph"
      },
      isNoticeDisplayMode() {
        return this.displayMode === "notice"
      },
      displayModeCssClass() {
        return this.displayMode + "-mode";
      },
      itemVisualizationCssClass() {
        return this.itemVisualizationIsOpened === true ? "opened" : "closed";
      },
      listDisplayModeCssClass() {
        return this.itemVisualizationIsOpened === true ? "visible" : "hidden";
      },
      detailedNoticeCssClass() {
        return this.detailedNoticeItemIsOpened ? "opened" : "";
      },
      withPopUpCssClass() {
        return this.detailedNoticeItemIsOpened || this.itemVisualizationIsOpened ? "with-popup" : "";
      },
      hasItems() {
        return this.allItems !== null;
      },
      userIsConnected() {
        return this.$store.state.currentUser.logged;
      },
      basketCount() {
        return this.$store.state.basket.length;
      },
      closeButtonLabel() {
        return this.$t( this.itemVisualizationIsOpened ? "Retour au graphe" : "Fermer" );
      },
      downloadNoticePopupCssClass() {
        return this.downloadNoticePopupIsOpened === true ? "opened" : "";
      },
      changeRouteWithPreviousAndNext() {
        return false;
      },
    },
    methods : {
      selectListDisplayMode($event){
        $event.preventDefault();
        this.displayMode = "list";
      },
      selectNoticeDisplayMode($event){
        $event.preventDefault();
        this.displayMode = "notice";
      },
      selectGraphDisplayMode($event){
        $event.preventDefault();
        this.displayMode = "graph";
      },
      itemsLoadedFromServer(items, itemsIds) {
        this.allItems = items;
        this.allItemIds = itemsIds;
      },
      selectItem(itemId) {
        this.openItemVisualization(itemId);
        /* ROUTER */
        this.$router.push({ name: "Graphe Item", params: { id: itemId } });
      },
      changeCategoriesFilterMenu(menuIsOpened) {
        this.filterCategoriesMenuIsOpened = menuIsOpened;
      },
      openItemVisualization(itemId) {
        this.itemId = parseInt(itemId);
        this.itemsIdsForVisualization = null;
        this.itemVisualizationIsOpened = true;
      },
      openItemsVisualization(itemsIds) {
        this.itemId = 0;
        this.itemsIdsForVisualization = itemsIds;
        this.itemVisualizationIsOpened = true;
      },
      closeItemVisualization() {
        this.itemId = null;
        this.itemsIdsForVisualization = null;
        this.itemVisualizationIsOpened = false;
        this.$router.push({ name: "Encyclopedie" });
      },
      openDetailedNotice(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "item";
        this.detailedNoticeItemIsOpened = true;
      },
      openArticle(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "article";
        this.detailedNoticeItemIsOpened = true;
      },
      selectDetailedNotice(itemId) {
        this.openDetailedNotice(itemId);

        /* ROUTER */
        this.$router.push({ name: "Notice Item", params: { id: itemId } });
      },
      detailedNoticeLoaded(itemInfos) {
        EventDispatcher.emits("document-title", "Encyclopédie" + " - " + itemInfos.title);
      },
      closeDetailedNotice() {

        if (this.itemId) {
          /* ROUTER */
          this.$router.push({ name: "Graphe Item", params: { id: this.itemId } });
        }

        this.detailedNoticeId = null;
        this.detailedNoticeType = null;
        this.detailedNoticeItemIsOpened = false;
      },
      openDownloadNoticePopUp(item) {
        this.downloadNoticePopupIsOpened = true;
        this.downloadNoticeItemId = item.id;
      },
      closeDownloadNoticePopUp() {
        this.downloadNoticePopupIsOpened = false;
        this.downloadNoticeItemId = null;
      },
    },
    beforeRouteUpdate(to, from, next) {
      // console.log("beforeRouteUpdate", to, from);
      if (to.params.name === 'Notice Item')
      {
        const intIdFromRoute = parseInt(to.params.id);
        this.openItemVisualization(intIdFromRoute);
        if (to.params.notice !== false) {
          this.openDetailedNotice(intIdFromRoute);
        }
      }
      else if (to.params.name === 'Encyclopedie')
      {
          this.itemId = null;
          this.itemVisualizationIsOpened = false;
      }
      next();
    },
    mounted() {

      /* Paramètre de la route --> ouverture d'un item, d'un article */
      const idFromRoute = this.$route.params.id;
      if (idFromRoute !== undefined)
      {
        // Ouverture d'un item :
        const intIdFromRoute = parseInt(idFromRoute);

        switch(this.$route.name) {

          case "Graphe Item":
            // On ouvre la visualisation d'un item de l'encyclopédie
            this.openItemVisualization(intIdFromRoute);
            break;

          case "Graphe Items":
            // On ouvre la visualisation des items de l'encyclopédie
            this.openItemVisualization(intIdFromRoute);
            break;

          case "Notice Item":
            // On ouvre la visualisation des items de l'encyclopédie
            this.openItemVisualization(intIdFromRoute);

            // On ouvre la notice de l'item
            this.openDetailedNotice(intIdFromRoute);
            break;
        }
      }
      else if(this.$route.params.s)
      {
        const ids = this.$route.params.s.split('id[]=').join('').split('&');
        let i;
        const n = ids.length;
        for(i=0;i<n;i++) {
          ids[i] = parseInt(ids[i]);
        }
        this.openItemsVisualization(ids);
      }

    },
    setup() {

      const store = useStore();

      // Description de la collection
      const updateCollectionDescription = function() {
        const collectionInfos = store.getters.categoryInfos('encyclopedie');
        const collectionId = collectionInfos.id;
        if (collectionId) {
          const collectionJson = store.getters.collectionJson(parseInt(collectionId));
          if (collectionJson) {
            state.collectionDescriptions = collectionJson['dcterms:description'];
          }
        }
      };

      const openCollectionDescriptions = function($event) {
        $event.preventDefault();
        state.isCollectionDescriptionVisible = ! state.isCollectionDescriptionVisible;
      };


      //
      // Lifecycle Hooks
      //

      onMounted(() => {
        if (store.state.collections) {
          updateCollectionDescription();
        }
      });

      watch(() => store.state.collections, () => {
        updateCollectionDescription();
      });


      //
      // State
      //

      const state = reactive({

        collectionDescriptions: null,
        isCollectionDescriptionVisible: false,
        collectionDescriptionVisibleCssClass: computed(() => {
          return state.isCollectionDescriptionVisible ? "opened" : "";
        }),

      });

      return {
        state,
        updateCollectionDescription,
        openCollectionDescriptions
      }
    }
  }

</script>
