<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>{{ pageTitle }}</h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <NavigationItem
              class="with-padding"
              :previousItemId="state.previousItemId"
              :nextItemId="state.nextItemId"
              collectionPath="corpus"
      />
      <NoticeMedia
              v-if="state.itemId > 0"
              v-bind:itemId="state.itemId"
              v-bind:tools="hasTools"
              displayMode="reference"
              class="with-padding"
              @item-loaded="itemLoaded"
              @change-item-notice="openDetailedNotice"
      />
    </div>

    <!-- Pour les items liés -->
    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            v-bind:itemId="detailedNoticeId"
            v-bind:itemType="detailedNoticeType"
            @close-detailed-item-notice="closeDetailedNotice"
            :class="detailedNoticeCssClass"
    />

  </div>
</template>


<script>

  import {computed, onMounted, onUpdated, reactive, watch} from "vue";
  import axios from "axios";
  import {useStore} from "vuex";
  import {useRoute} from "vue-router";
  import BreadCrumb from "../components/Header/BreadCrumb";
  import NavigationItem from "../components/Lists/NavigationItem";
  import NoticeMedia from "../components/Notices/NoticeMedia";
  import NoticePopUp from "../components/Notices/NoticePopUp";
  import {getCollectionsApiURL} from "../js/api";

  export default {

    name: 'GalleryViewItem',
    components: {BreadCrumb, NavigationItem, NoticeMedia, NoticePopUp},
    data() {
      return {
        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,
        itemTitle:""
      }
    },
    props: {
      pageTitle: {
        type: String,
        required: true
      },
      category: {
        type: String,
        required: true
      },
      routeName: {
        type: String,
        required: true
      },
    },
    computed: {
      hasTools() { return true },
      hasMedia() { return true },
      detailedNoticeCssClass() {
        return this.detailedNoticeItemIsOpened ? "opened" : "";
      },
      withPopUpCssClass() {
        return this.detailedNoticeItemIsOpened ? "with-popup" : "";
      },
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { name: 'Corpus', label: this.pageTitle },
          { label: this.itemTitle }
        ]
      }
    },
    methods: {
      openDetailedNotice(item) {
        this.detailedNoticeId = item.itemId;
        this.detailedNoticeType = "item";
        this.detailedNoticeItemIsOpened = true;
      },
      openArticle(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "article";
        this.detailedNoticeItemIsOpened = true;
      },
      closeDetailedNotice() {
        this.detailedNoticeId = null;
        this.detailedNoticeType = null;
        this.detailedNoticeItemIsOpened = false;
      },
      itemLoaded(itemInfos) {
        this.itemTitle = itemInfos.title;
      }
    },
    setup(props) {

      const route = useRoute();

      const updateNavigation = function() {
        const currentItemId = state.currentItemId;
        const itemsIds = state.itemsIds;
        if (itemsIds && itemsIds.length) {
          const currentItemPosition = itemsIds.indexOf(currentItemId);
          state.previousItemId = currentItemPosition > 0 ? itemsIds[currentItemPosition - 1] : -1;
          state.nextItemId = currentItemPosition < itemsIds.length - 1 ? itemsIds[currentItemPosition + 1] : -1;
        }
      };

      const loadCollectionIds = function() {

        if (route.query.sort_by && (route.query.sort_by.length > 0)) {
          state.sortByParam = route.query.sort_by;
        }

        if (route.query.sort_order && (route.query.sort_order.length > 0)) {
          state.sortOrderParam = route.query.sort_order;
        }

        const store = useStore();
        const keyIdentity = store.getters.identityAndCredentialParameters;
        const options = "&hasMedia=1";
        const apiURL = getCollectionsApiURL(
                store.getters.apiRoot,
                store.getters.collectionIdsByCategory(props.category),
                options,
                state.sortByParam,
                state.sortOrderParam
        );

        axios.get(apiURL + keyIdentity).then(function (response) {

          const items = response.data;
          const n = items.length;
          let i, item, itemsIds = [];

          for (i = 0; i < n; i++) {
            item = items[i];
            itemsIds.push(parseInt(item['o:id']));
          }

          state.itemsIds = itemsIds;

          updateNavigation();
        });
      };

      const state = reactive({
        sortByParam: '',
        sortOrderParam: '',
        itemsIds: [],
        currentItemId: -1,
        previousItemId:-1,
        nextItemId:-1,
        itemId: computed(() => state.currentItemId )
      });

      onMounted(() => {
        state.currentItemId = parseInt(route.params.id);
        loadCollectionIds();
      });

      onUpdated(() => {
        state.currentItemId = parseInt(route.params.id);
        updateNavigation();
      });

      watch( () => state.currentItemId, () => {
        updateNavigation();
      });

      watch( () => props.itemId, (itemId) => {
        state.currentItemId = itemId;
      });

      return {
        state
      }
    }
  }

</script>
