<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>{{ pageTitle }}</h1>
    </div>

    <div class="collection-header with-padding" v-if="state.collectionDescriptions">
      <CollectionDescription :descriptions="state.collectionDescriptions" />
    </div>

    <Gallery
            :category="category"
            entityType="item"
            @click-item="clickItem"
            @downloaditemnotice="openDownloadNoticePopUp"
            class="contents" />

    <NoticeDownloadPopUp
            :itemId="state.itemId"
            :itemType="state.itemType"
            :class="downloadNoticePopupCssClass"
            @closedownloaditemnotice="closeDownloadNoticePopUp"
    />

  </div>
</template>

<script>

  import {onMounted, reactive, watch} from 'vue'
  import Gallery from "../components/Lists/Gallery";
  import NoticeDownloadPopUp from "../components/Notices/NoticeDownloadPopUp";
  import BreadCrumb from "../components/Header/BreadCrumb";
  import CollectionDescription from "../components/Header/CollectionDescription";
  import {useStore} from "vuex";

  export default {
    name: 'GalleryView',
    props: {
      pageTitle: {
        type: String,
        required: true
      },
      category: {
        type: String,
        required: true
      },
      childRouteName: {
        type: String,
        required: true
      },
    },
    data() {
      return {
        downloadNoticePopupIsOpened:false,
      }
    },
    components: {
      CollectionDescription,
      Gallery,
      NoticeDownloadPopUp,
      BreadCrumb
    },
    computed: {
      downloadNoticePopupCssClass() {
        return this.downloadNoticePopupIsOpened === true ? "opened" : "";
      },
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { label:this.pageTitle }
        ]
      }
    },
    methods: {
      clickItem(item) {
        this.$router.push({ name: this.childRouteName, params: { id: item.itemId } })
      },
      openDownloadNoticePopUp(item) {
        this.downloadNoticePopupIsOpened = true;
        this.state.itemId = item.id;
      },
      closeDownloadNoticePopUp() {
        this.downloadNoticePopupIsOpened = false;
      }
    },
    setup(props) {

      const store = useStore();

      const updateCollectionDescription = function() {
        const collectionsIds = store.getters.collectionIdsByCategory(props.category);
        if (collectionsIds.length) {
          const collectionJson = store.getters.collectionJson(collectionsIds[0]);
          state.collectionDescriptions = collectionJson['dcterms:description'];
        }
      };

      onMounted(() => {
        if (store.state.collections) {
          updateCollectionDescription();
        }
      });

      watch(() => store.state.collections, () => {
        updateCollectionDescription();
      });

      const state = reactive({
        itemId: 0,
        itemType: "item",
        collectionDescriptions: null
      });

      return {
        state
      }
    }
  }

</script>
