<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>
        {{ $t("Géographie") }}
        <a
                v-if="state.collectionDescriptions"
                @click="openCollectionDescriptions($event)"
                class="collection-description-toggle"
                href="#"></a>
      </h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <div class="contents-wrapper with-visualization" :class="displayModeCssClass">

        <div class="collection-header" v-if="state.collectionDescriptions">
          <CollectionDescription
                  class="with-padding"
                  :class="state.collectionDescriptionVisibleCssClass"
                  :descriptions="state.collectionDescriptions"
          />
        </div>

        <div class="geographie">
          <!-- Onglet et panier -->
          <div class="contents-header with-padding">
            <!-- Toggle Graphe / Liste -->
            <ul class="contents-mode">
              <li class="contents-list-mode">
                <a href="#" @click="selectListDisplayMode($event)">{{ $t("Liste") }}</a>
              </li>
              <li class="contents-graph-mode">
                <a href="#" @click="selectGraphDisplayMode($event)">{{ $t("Carte") }}</a>
              </li>
            </ul>
          </div>

          <Loading class="notice-item-content with-padding" v-if="state.isLoading" />

          <!-- Mode Carte -->
          <div id="map-parent" class="map-parent with-padding">
            <HTMLSitePage
                    :htmlContent="state.htmlContent"
                    v-if="! state.isLoading"
                    @click="clickOnMap($event)"
                    @opendetailednotice="openDetailedNotice"
            />
          </div>

          <!-- Mode Liste -->
          <div class="contents-list-mode-content full-width" v-if="! state.isLoading" >
            <ListItems
                    :items="state.items"
                    :queryRouteName="state.queryRouteName"
                    :itemsByPage="20"
                    :pageNo="state.pageNo"
                    @openitem="openItem"
                    @opendetailednotice="openDetailedNotice"
                    @openitemvisualization="openItemVisualization"
                    @downloaditemnotice="openDownloadNoticePopUp"
            />
          </div>

          <!-- Graphe SVG d'un Item -->
          <VisualisationItem
                  :class="itemVisualizationCssClass"
                  v-bind:itemId="itemVisualizationItemId"
                  @opendetailednotice="openDetailedNotice"
                  @closeitemvisualization="closeItemVisualization"
          />

        </div>
      </div>
    </div>

    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            v-bind:itemId="detailedNoticeId"
            v-bind:itemType="detailedNoticeType"
            @close-detailed-item-notice="closeDetailedNotice"
            :class="detailedNoticeCssClass"
    />

    <NoticeDownloadPopUp
            v-if="downloadNoticeItemId"
            :itemId="downloadNoticeItemId"
            :itemType="downloadNoticeItemType"
            :class="downloadNoticePopupCssClass"
            @closedownloaditemnotice="closeDownloadNoticePopUp"
    />

  </div>
</template>
<script>

  import {computed, onMounted, onUnmounted, reactive, watch} from "vue";
  import {useStore} from "vuex";
  import {getSitePageApiURL, getItemApiURL, getItemsApiURL, getMappingItemsApiURL} from "../js/api";
  import axios from "axios";
  import $ from 'jquery';

  import Loading from "../components/Loading";
  import BreadCrumb from "../components/Header/BreadCrumb";
  import CollectionDescription from "../components/Header/CollectionDescription";
  import HTMLSitePage from "../components/SitePages/HTMLSitePage";
  import ListItems from '../components/Lists/ListItems';
  import NoticePopUp from "../components/Notices/NoticePopUp";
  import NoticeDownloadPopUp from "../components/Notices/NoticeDownloadPopUp";
  import VisualisationItem from "../components/Visualization/VisualisationItem";
  import {useRoute} from "vue-router";

  export default {
    components: {
      BreadCrumb,
      CollectionDescription,
      Loading,
      HTMLSitePage,
      ListItems,
      NoticePopUp,
      NoticeDownloadPopUp,
      VisualisationItem
    },
    data() {
      return {
        isGraphDisplayMode: true,

        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,

        itemId: null,
        itemVisualizationIsOpened: false,
        itemVisualizationItemId:null,

        downloadNoticePopupIsOpened:false,
        downloadNoticeItemId:null,
        downloadNoticeItemType: 'item'
      }
    },
    computed: {
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { label:'Géographie' }
        ]
      },
      constellationCssClass() {
        return this.filterCategoriesMenuIsOpened === true ? "with-filters" : "";
      },
      itemVizualisationCssClass() {
        return this.itemVisualizationIsOpened === true ? "opened" : "";
      },
      isItemVisualizationOpened() {
        return this.itemVisualizationIsOpened === true;
      },
      displayModeCssClass() {
        return this.isGraphDisplayMode ? "graph-mode" : "list-mode";
      },
      isListDisplayMode() {
        return this.isGraphDisplayMode === false;
      },
      listDisplayModeCssClass() {
        return this.itemVisualizationIsOpened === true ? "visible" : "hidden";
      },
      detailedNoticeCssClass() {
        return this.detailedNoticeItemIsOpened ? "opened" : "";
      },
      itemVisualizationCssClass() {
        return this.itemVisualizationIsOpened === true ? "opened" : "closed";
      },
      withPopUpCssClass() {
        return this.detailedNoticeItemIsOpened || this.itemVisualizationIsOpened ? "with-popup" : "";
      },
      annotationCssClass() {
        return this.annotationWindowIsOpened ? "popup-parent-opened" : "";
      },
      userIsConnected() {
        return this.$store.state.currentUser.logged;
      },
      basketCount() {
        return this.$store.state.basket.length;
      },
      downloadNoticePopupCssClass() {
        return this.downloadNoticePopupIsOpened === true ? "opened" : "";
      },
    },
    methods: {
      selectListDisplayMode($event){
        $event.preventDefault();
        this.isGraphDisplayMode = false;
      },
      selectGraphDisplayMode($event){
        $event.preventDefault();
        this.isGraphDisplayMode = true;
      },
      openDetailedNotice(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "item";
        this.detailedNoticeItemIsOpened = true;
      },
      closeDetailedNotice() {
        this.detailedNoticeId = null;
        this.detailedNoticeType = null;
        this.detailedNoticeItemIsOpened = false;
      },
      openItemVisualization(itemId) {
        this.itemVisualizationIsOpened = true;
        this.itemVisualizationItemId = itemId;
      },
      closeItemVisualization() {
        this.itemVisualizationItemId = null;
        this.itemVisualizationIsOpened = false;
      },
      openItem() {
      },
      clickOnMarkerPopUp($event) {
        this.openDetailedNotice($event.detail.id);
      },
      openDownloadNoticePopUp(item) {
        this.downloadNoticePopupIsOpened = true;
        this.downloadNoticeItemId = item.id;
      },
      closeDownloadNoticePopUp() {
        this.downloadNoticePopupIsOpened = false;
        this.downloadNoticeItemId = null;
      }
    },
    mounted() {
      document.getElementById("map-parent").addEventListener("click-on-marker-popup", this.clickOnMarkerPopUp);
    },
    setup() {

      const route = useRoute();
      const store = useStore();

      // Récupération de l'id de la page à partir du slug
      store.dispatch("getSitePageInfosFromSlug", "geographie").then(function (pageInfos) {
        if (pageInfos) {
          state.title = pageInfos.title;
          loadPageContent(pageInfos.id);
        }
      });

      // Description de la collection
      const updateCollectionDescription = function() {
        const collectionsIds = store.getters.collectionIdsByCategory('geographie');
        if (collectionsIds.length) {
          const collectionJson = store.getters.collectionJson(collectionsIds[0]);
          if (collectionJson) {
            state.collectionDescriptions = collectionJson['dcterms:description'];
          }
        }
      };

      const openCollectionDescriptions = function($event) {
        $event.preventDefault();
        state.isCollectionDescriptionVisible = ! state.isCollectionDescriptionVisible;
      };

      // Chargement du contenu de la page
      const loadPageContent = function(pageId) {

        state.isLoading = true;

        const siteParams = store.state.settings.site;
        const siteId = siteParams ? siteParams.id : 1;

        const apiPageURL = getSitePageApiURL(store.getters.apiRoot, pageId, siteId);
        const keyIdentity = store.getters.identityAndCredentialParameters;

        axios.get(apiPageURL + keyIdentity).then(function(response){

          const pageData = response.data;
          const pageHtmlContent = pageData['o-module-api-info:append'];
          if (pageHtmlContent)
          {
            // Insertion du div de la carte
            state.htmlContent = pageHtmlContent.html;

            // Construction de la carte
            loadJS();
          }

          state.isLoading = false;
        });
      };

      // Ajout du JS du module de mapping dans la page HTML
      const loadJS = function() {

        const plugin = document.createElement("script");
        plugin.setAttribute(
                "src",
                document.location.origin + "/modules/Mapping/asset/js/mapping-block.js"
        );
        plugin.async = true;
        document.head.appendChild(plugin);

        plugin.addEventListener('load', function ()
        {
          const mappingMap = $('.mapping-map');
          if (mappingMap)
          {
            const mappingData = mappingMap.data('data');
            state.query = mappingData.query;

            if (state.query.length && state.query.charAt(0) !== "&") {
              state.query = "&" + state.query;
            }

            // Récupération de la liste des items-markers pris en compte par le mapping
            loadMappingItems();
          }
        });
      };

      // Chargement des paramètres (zoom, markers, ...) du module de mapping
      const loadMappingItems = function() {

        const apiPageURL = getMappingItemsApiURL(store.getters.apiRoot, state.query);
        const keyIdentity = store.getters.identityAndCredentialParameters;

        axios.get(apiPageURL + keyIdentity).then(function(response){

          const markerItems = response.data.markers, n = markerItems.length;
          let i, item, itemsIds = [];
          for(i=0;i<n;i++) {
            item = markerItems[i]["o:item"];
            if (item) {
              itemsIds.push( item["o:id"] )
            }
          }

          state.itemsIds = itemsIds;

          loadItems();
        });
      };

      // Chargement des items pour le mode Liste
      const loadItems = function() {

        if (state.itemsIds.length)
        {
          const apiPageURL = getItemsApiURL(store.getters.apiRoot, state.itemsIds);
          const keyIdentity = store.getters.identityAndCredentialParameters;

          axios.get(apiPageURL + keyIdentity).then(function(response){

            const items = response.data, n = items.length;
            let i, item, itemSets, firstItemSetId, collectionSettings;

            for(i=0;i<n;i++)
            {
              item = items[i];

              // On note la route de chaque item (vers le corpus, l'encyclopédie, etc...)
              itemSets = item["o:item_set"];
              if (itemSets && itemSets.length) {
                firstItemSetId = itemSets[0]['o:id'];
                if (firstItemSetId) {
                  collectionSettings = store.getters.collectionsSettings(firstItemSetId);

                  item.encyclopedieCategoryRef = collectionSettings ? collectionSettings.name : null;
                  item.route = collectionSettings ? collectionSettings.route : '';
                  item.id = item['o:id'];
                  item.type = collectionSettings ? collectionSettings.ref === "articles" ? "article" : "item" : null;
                }
              }
            }

            state.items = items;

          });
        }
      };

      // Click sur un marker ou un popUp de marker
      const clickOnMap = function($event) {

        const target = $event.target;

        if ( target.className.indexOf('leaflet-marker-icon') !== -1 )
        {
          // Markers : <div class="mapping-marker-popup-content" data-marker-id="33" data-item-id="33" data-marker-lat="51.758419" data-marker-lng="-1.256637">
          $('.leaflet-popup-content').off('click');
          $('.leaflet-popup-content a').off('click');

          $('.mapping-marker-popup-content').on('click', function($event){
            $event.stopImmediatePropagation();
            if ($(this).hasClass('api-loaded')) {
              const popupContent = $($event.target).closest('.mapping-marker-popup-content');
              // console.log( popupContent.data('item-id'), popupContent.data('item-set-id') );

              popupContent[0].dispatchEvent(new CustomEvent("click-on-marker-popup", {
                        bubbles: true,
                        cancelable: true,
                        detail: {
                          id: parseInt(popupContent.data('item-id'))
                        }
              }));
            }
          });
        }

        const markerPopup = $('.mapping-marker-popup-content:not(".api-loaded"):visible');
        if (markerPopup.length) {
          const clickedItemId = markerPopup.data('item-id');
          if (! isNaN(clickedItemId)) {
            // On charge les infos de l'item pour reconstituer son chemin
            const apiPageURL = getItemApiURL(store.getters.apiRoot, clickedItemId);
            const keyIdentity = store.getters.identityAndCredentialParameters;

            axios.get(apiPageURL + keyIdentity).then(function(response){

              const itemData = response.data;
              const itemSetData = itemData["o:item_set"];
              if (itemSetData && itemSetData.length) {
                const itemSetId = itemData["o:item_set"][0]["o:id"];
                $('.mapping-marker-popup-content').data('item-set-id', itemSetId);
              }

              $('.contents-wrapper .leaflet-popup-content a').each(function(no, item) {
                const parent = $(item).parent();
                const newParent = parent.closest('.mapping-marker-popup-content');
                parent.remove();
                $(item).appendTo(newParent);
              });

              markerPopup.addClass("api-loaded");
            });
          }
        }

      };


      //
      // Lifecycle Hooks
      //

      onMounted(() => {
        if (store.state.collections) {
          updateCollectionDescription();
        }
      });

      onUnmounted(() => {
        $('.mapping-marker-popup-content').off('click');
      });

      watch(() => store.state.collections, () => {
        updateCollectionDescription();
      });


      //
      // State
      //

      const state = reactive({

        collectionDescriptions: null,
        isCollectionDescriptionVisible:false,
        collectionDescriptionVisibleCssClass: computed( () => {
          return state.isCollectionDescriptionVisible ? "opened" : "";
        }),

        title:'',
        isLoading: true,
        htmlContent:'',
        query: "",
        items: [],
        itemsIds: [],
        queryRouteName: '',
        sortByParam: 'title',
        sortOrderParam: 'asc',
        pageNo: computed(() => isNaN(route.query.p) ? 1 : parseInt(route.query.p) ),
      });

      return {
        state,
        clickOnMap,
        updateCollectionDescription,
        openCollectionDescriptions
      }
    }
  }

</script>
