<template>

  <GalleryTreeNoticesView
          category="iconographie"
          pageTitle="Iconographie"
          itemSetRouteName="Iconographie"
          itemRouteName="Iconographie Item"
          defaultDisplayMode="gallery"
  />

</template>

<script>

  import GalleryTreeNoticesView from "../components/Lists/GalleryTreeNoticesView";

  export default {
    components: { GalleryTreeNoticesView },
  }

</script>
