<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>Page non trouvée</h1>
    </div>
    <div class="contents">
      <div class="contents-wrapper">
      </div>
    </div>
  </div>
</template>

<script>

  import BreadCrumb from "../components/Header/BreadCrumb";

  export default {
    components: {BreadCrumb},
    computed: {
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { label:'Page non trouvée' }
        ]
      }
    }
  }

</script>