<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>{{ $t("Recherche") }}</h1>
    </div>
    <div class="contents" :class="withPopUpCssClass">
      <div class="contents-wrapper with-visualization" :class="displayModeCssClass">

          <div class="constellation" :class="constellationCssClass">

            <!-- Graphe SVG des collections de l'encyclopédie -->
            <VisualisationEncyclopedie
                    feedMode="manual"
                    :itemsByCollection="state.itemsForEncyclopedia"
                    @selectitem="openItemVisualization"
                    @changecategoriesfiltermenu="changeCategoriesFilterMenu"
            />

            <!-- Onglets et panier -->
            <div class="contents-header with-padding">
              <!-- Toggle Graphe / Liste / Notices -->
              <ul class="contents-mode">
                <li class="contents-list-mode">
                  <a href="#" @click="selectListDisplayMode($event)">{{ $t("Liste") }}</a>
                </li>
                <li class="contents-notice-mode">
                  <a href="#" @click="selectNoticeDisplayMode($event)">{{ $t("Notices") }}</a>
                </li>
                <li class="contents-graph-mode">
                  <a href="#" @click="selectGraphDisplayMode($event)">{{ $t("Notices de l'encyclopédie documentaire") }}</a>
                </li>
              </ul>
              <!-- Panier -->
              <div class="constellation-basket" v-if="state.userIsConnected">
                <router-link to="/mon-compte/mon-panier">{{ basketCount }}</router-link>
              </div>
            </div>

            <Loading class="notice-item-content with-padding" v-if="state.isLoading" />

            <!-- Mode Liste -->
            <div class="contents-list-mode-content with-sort-options" v-if="! state.isLoading" >

              <!-- Graphe SVG des Categories  -->
              <div id="svg-parent" class="svg-parent" v-if="state.isGraphDisplayMode"></div>

              <!-- Mode Liste -->
              <ListItems
                      v-if="state.isListDisplayMode"
                      :facets=true
                      :items="state.items"
                      :advancedQuery="state.getSearchQuery"
                      :pageNo="state.pageNo"
                      :queryRouteName="state.queryRouteName"
                      @opendetailednotice="openDetailedNotice"
                      @openitemvisualization="openItemVisualization"
              />

          </div>

          <!-- Graphe SVG d'un Item -->
          <VisualisationItem
                  :class="itemVisualizationCssClass"
                  :itemId="itemVisualizationItemId"
                  @opendetailednotice="openDetailedNotice"
                  @closeitemvisualization="closeItemVisualization"
          />

          <!-- Mode Notice -->
          <NoticesItems
                  v-if="state.isNoticeDisplayMode"
                  :items-ids="state.itemsIds"
                  :notice-item-id="0"
                  :changeRouteWithPreviousAndNext="state.changeRouteWithPreviousAndNext"
                  @opendetailednotice="openDetailedNotice"
          />

        </div>
      </div>
    </div>

    <NoticePopUp
            v-if="detailedNoticeItemIsOpened"
            v-bind:itemId="detailedNoticeId"
            v-bind:itemType="detailedNoticeType"
            @close-detailed-item-notice="closeDetailedNotice"
            :class="detailedNoticeCssClass"
    />

  </div>
</template>
<script>

  import {computed, onMounted, onUpdated, reactive} from "vue";
  import { useStore } from "vuex";
  import { useRoute } from "vue-router";
  import {getSearchApiURL} from "../js/api";
  import axios from "axios";

  import ListItems from "../components/Lists/ListItems";
  import Loading from "../components/Loading";
  import NoticePopUp from "../components/Notices/NoticePopUp";
  import NoticesItems from "../components/Lists/NoticesItems";
  import BreadCrumb from "../components/Header/BreadCrumb";
  import VisualisationEncyclopedie from "../components/Visualization/VisualisationEncyclopedie";
  import VisualisationItem from '../components/Visualization/VisualisationItem';

  export default {
    components: {
      NoticesItems,
      ListItems,
      Loading,
      NoticePopUp,
      BreadCrumb,
      VisualisationItem,
      VisualisationEncyclopedie
    },
    data() {
      return {
        detailedNoticeItemIsOpened:false,
        detailedNoticeId:null,
        detailedNoticeType:null,
        itemVisualizationItemId:null,
        itemVisualizationIsOpened:null,
        filterCategoriesMenuIsOpened:false
      }
    },
    computed: {
      constellationCssClass() {
        return this.filterCategoriesMenuIsOpened === true ? "with-filters" : "";
      },
      detailedNoticeCssClass() {
        return this.detailedNoticeItemIsOpened ? "opened" : "";
      },
      itemVisualizationCssClass() {
        return this.itemVisualizationIsOpened === true ? "opened" : "closed";
      },
      displayModeCssClass() {
        return this.state.displayMode + "-mode";
      },
      withPopUpCssClass() {
        return this.detailedNoticeItemIsOpened || this.itemVisualizationIsOpened ? "with-popup" : "";
      },
      currentRoutePath() {
        return this.$route.path;
      },
      basketCount() {
        return this.$store.state.basket.length;
      },
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { label: 'Recherche' }
        ]
      }
    },
    methods: {
      openDetailedNotice(itemId) {
        this.detailedNoticeId = itemId;
        this.detailedNoticeType = "item";
        this.detailedNoticeItemIsOpened = true;
      },
      closeDetailedNotice() {
        this.detailedNoticeId = null;
        this.detailedNoticeType = null;
        this.detailedNoticeItemIsOpened = false;
      },
      openItemVisualization(itemId) {
        this.itemVisualizationIsOpened = true;
        this.itemVisualizationItemId = parseInt(itemId);
      },
      closeItemVisualization() {
        this.itemVisualizationItemId = null;
        this.itemVisualizationIsOpened = false;
      },
      changeCategoriesFilterMenu(menuIsOpened) {
        this.filterCategoriesMenuIsOpened = menuIsOpened;
      },
    },
    setup() {

      const route = useRoute();
      const store = useStore();

      //
      // Appel à l'api de recherche
      //

      const loadResults = function() {

        state.isLoading = true;

        const keyIdentity = store.getters.identityAndCredentialParameters;
        let apiURL;

        if (route.query.q)
        {
          // Recherche simple ( RQ : on ajoute systématiquement le filtre sur les collections: state.queryItemSets )
          state.q = route.query.q;
          state.s = null;
          apiURL = getSearchApiURL( store.getters.apiRoot, state.q + state.queryItemSets) ;
        }
        else if (route.params.s)
        {
          // Recherche avancée
          state.s = route.params.s;
          state.q = null;
          apiURL = store.getters.apiRoot+ '/items?' + route.params.s;
        }

        // Chargement des résultats :

        axios.get(apiURL + keyIdentity).then(function(response){

          // Analyse des résultats de l'api de recherche

          // On mémorise pour chaque item :Catégories
          // - dans quelle partie il apparaît : corpus, bibliographie, iconographie, encyclopedie, td ( pour l'hyperlien )
          // - dans quelle catégorie de l'encyclopédie il apparaît : personnes, organisations, ... ( pour la couleur de la pastille )

          const items = response.data;
          const n = items.length;
          let i, item, itemSets, firstItemSetId, collectionSettings, collectionCode;
          let collectionRef, encyclopedieCollectionForViz, encyclopedieByCollection = [];
          let itemsIds = [], itemId;

          for(i=0;i<n;i++)
          {
            item = items[i];
            itemId = parseInt( item['o:id']);

            // On prépare la liste des ids pour l'onglet des notices
            itemsIds.push(itemId);

            // On note la route de chaque item (vers le corpus, l'encyclopédie, etc...)
            itemSets = item["o:item_set"];
            if (itemSets && itemSets.length)
            {
              firstItemSetId = itemSets[0]['o:id'];
              if (firstItemSetId) {

                collectionCode = store.getters.collectionCode(firstItemSetId);
                collectionSettings = store.getters.collectionsSettings(firstItemSetId);

                item.encyclopedieCategoryRef = collectionSettings ? collectionSettings.name : null;
                item.route = collectionSettings ? collectionSettings.route : '';
                item.id = itemId;
                item.type = collectionSettings ? collectionSettings.ref === "articles" ? "article" : "item" : null;
                item.collectionCode = item.encyclopedieCategoryRef ? '' : collectionCode;

                // console.log(item, collectionSettings, item.route)

                // On prépare les données pour le graphe des items de l'encyclopedie
                if (item.encyclopedieCategoryRef)
                {
                    collectionRef = item.encyclopedieCategoryRef;
                    encyclopedieCollectionForViz = encyclopedieByCollection[collectionRef];

                    // Si on n'a pas encore rencontré la collection de l'item :
                    if (! encyclopedieCollectionForViz) {
                      encyclopedieCollectionForViz = encyclopedieByCollection[collectionRef] = {
                        id: collectionSettings.id,
                        title: collectionSettings.title,
                        total:0,
                        items:[]
                      };
                    }

                    encyclopedieCollectionForViz.items.push( item);
                    encyclopedieCollectionForViz.total = encyclopedieCollectionForViz.items.length;
                }
              }
            }
          }

          state.items = items;
          state.itemsCount = items.length;
          state.itemsIds = itemsIds;
          state.isLoading = false;

          // Graphe :
          let itemsForEncyclopedia = [];
          for (collectionRef in encyclopedieByCollection) {
            if (Object.prototype.hasOwnProperty.call(encyclopedieByCollection, collectionRef)) {
              itemsForEncyclopedia.push(encyclopedieByCollection[collectionRef]);
            }
          }
          state.itemsForEncyclopedia = itemsForEncyclopedia;
        });
      };

      const selectListDisplayMode = function($event){
        $event.preventDefault();
        state.displayMode = "list";
      };

      const selectGraphDisplayMode = function($event){
        $event.preventDefault();
        state.displayMode = "graph";
      };

      const selectNoticeDisplayMode = function($event){
        $event.preventDefault();
        state.displayMode = "notice";
      };

      onMounted(() => {

        // Liste des collections pour la requête recherche basique
        state.queryItemSets = store.state.queryItemSets;

        // Chargement des résultats
        loadResults();
      });

      onUpdated(() => {
        // console.log("onUpdated q=", route.query.q, "s=", route.params.s);
        if ((route.query.q && (state.q !== route.query.q)) || (route.params.s && (state.s !== route.params.s))) {
          // console.log("onUpdated => loadResults")
          loadResults();
        }
      });

      const state = reactive({
        items:null,
        encyclopedieCategoryRefs:null,
        itemsForEncyclopedia:[],
        q:null,
        s:null,
        isLoading: true,
        displayMode: "list",
        changeRouteWithPreviousAndNext: false,
        queryRouteName:"Recherche Avancée",
        pageNo: computed(() => isNaN(route.query.p) ? 1 : parseInt(route.query.p) ),
        userIsConnected: computed(() => store.state.currentUser.logged ),
        isListDisplayMode: computed(() => { return state.displayMode === "list" }),
        isGraphDisplayMode: computed(() => { return state.displayMode === "graph" }),
        isNoticeDisplayMode: computed(() => { return state.displayMode === "notice" }),
        getSearchQuery: computed(() => {
          return state.s !== null ? state.s.split('property[0][property]=&property[0][type]=in&property[0][text]=').join('&q=') : '&q=' + state.q
        })
      });

      return {
        state,
        selectListDisplayMode,
        selectGraphDisplayMode,
        selectNoticeDisplayMode
      }
    }
  }
</script>