<template>
  <div class="view">
    <div class="breadcrumbs-and-title">
      <div class="breadcrumbs">
        <BreadCrumb :paths="breadcrumbs" />
      </div>
      <h1>{{ state.title }}</h1>
    </div>
    <div class="contents">
      <div class="contents-wrapper list-mode">
        <div class="page no-header with-padding">
          <Loading class="notice-item-content with-padding" v-if="state.isLoading" />
          <HTMLSitePage class="article-content" :htmlContent="state.htmlContent" v-if="! state.isLoading" />
        </div>
      </div>
    </div>

  </div>
</template>
<script>

  import {onMounted, reactive} from "vue";
  import { useStore } from "vuex";
  import { useRoute, onBeforeRouteUpdate } from "vue-router";
  import {getSitePageApiURL} from "../js/api";
  import axios from "axios";

  import Loading from "../components/Loading";
  import BreadCrumb from "../components/Header/BreadCrumb";
  import HTMLSitePage from "../components/SitePages/HTMLSitePage";

  export default {
    components: {HTMLSitePage, Loading, BreadCrumb},
    computed: {
      breadcrumbs() {
        return [
          { name: 'Home', label:'Accueil' },
          { label: this.state.title }
        ]
      }
    },
    methods: {

    },
    setup() {

      const route = useRoute();
      const store = useStore();

      // Chargement du contenu de la page

      const loadPageContent = function( pageId) {

        // console.log( "loadPageContent", pageId);

        state.isLoading = true;

        const siteParams = store.state.settings.site;
        const siteId = siteParams ? siteParams.id : 1;

        const apiPageURL = getSitePageApiURL(store.getters.apiRoot, pageId, siteId);
        const keyIdentity = store.getters.identityAndCredentialParameters;

        axios.get(apiPageURL + keyIdentity).then(function(response){

          const pageData = response.data;
          const pageHtmlContent = pageData['o-module-api-info:append'];
          if (pageHtmlContent) {
            state.htmlContent = pageHtmlContent.html;
          }

          state.isLoading = false;
        });
      };

      const getPageIdAndLoadContent = function(pageSlug) {
        // Récupération de l'id de la page à partir du slug
        store.dispatch("getSitePageInfosFromSlug", pageSlug).then(function (pageInfos) {
          state.title = pageInfos.title;
          loadPageContent(pageInfos.id);
        });
      };

      onBeforeRouteUpdate((to, from, next) => {
        getPageIdAndLoadContent(to.params.slug);
        next();
      });

      onMounted(() => {
        getPageIdAndLoadContent(route.params.slug);
      });

      const state = reactive({
        title:'',
        isLoading: true,
        htmlContent:''
      });

      return {
        state
      }
    }
  }
</script>