<template>
  <ul>
    <li v-for="collectionSelection in state.curatedCollections" v-bind:key="collectionSelection">
      <CuratedCollectionsCard
              class="selected-items-card"
              :collectionJson="collectionSelection"
        >
      </CuratedCollectionsCard>
    </li>
  </ul>
</template>

<script>

  import {useStore} from "vuex";
  import {onMounted, reactive, watch} from "vue";
  import CuratedCollectionsCard from "../../components/Curation/CuratedCollectionsCard";

  export default {
  name: 'HomeCuratedCollectionsGallery',
  components: {
      CuratedCollectionsCard
  },
  emits : [
      'complete'
  ],
  setup(props, context) {

      const store = useStore();

      const state = reactive({
        curatedCollections :null
      });

      const initGallery = function() {
        // 3 curated itemsSets Maximum :
        state.curatedCollections = store.getters.curatedCollections().slice(0, 2);

        context.emit("complete");
      };

      watch( () => store.state.collections, () => {
        initGallery();
      });

      onMounted(() => {
        if (store.state.collections) {
          initGallery();
        }
      });


      return {
        state
      };
    }
  }
</script>
