<template>
  <BreadCrumbItem
          v-for="path in paths"
          v-bind:key="path.label"
          v-bind:label="path.label"
          v-bind:params="path.params"
          v-bind:name="path.name" />
</template>

<script>

  import BreadCrumbItem from "./BreadCrumbItem";
  import {onMounted, watch} from "vue";
  import EventDispatcher from "../../js/EventDispatcher";

  export default {
    name: 'Logo',
    components:{BreadCrumbItem},
    props: {
      paths: {
        type: Array,
        required: true
      }
    },
    setup(props) {

      // Titre de la page
      const updateWindowTitle = () => {

        const paths = props.paths;
        let title = "";

        if (paths.length > 2) {
          title += paths[paths.length - 2].label + " - " + paths[paths.length - 1].label;
        } else if (paths.length > 1) {
          title += paths[paths.length - 1].label;
        }

        EventDispatcher.emits("document-title", title);
      };

      onMounted(() => {
        updateWindowTitle();
      });

      watch(props, () => {
        updateWindowTitle();
      });

    }

  }
</script>
