<template>
  <div class="collection-description">
    <span
            v-html="contentVisiblePart"
    />
    <template v-if="contentFollowUp">
      <span v-if="!this.opened">...</span>
      <a href="#"
         v-if="!this.opened"
         @click="toggleFullContent($event)">
        [+]
      </a>
      <span
              v-if="this.opened"
              v-html="contentFollowUp"
      />
      <a href="#"
         v-if="this.opened"
         @click="toggleFullContent($event)">
        [-]
      </a>
    </template>
  </div>
</template>

<script>

  const CARRIAGE_RETURN_SEPARATOR = '\n';

  export default {
    name: 'CollectionDescriptionTruncatedWithToggle',
    props: {
      descriptions: {
        type: Array,
        required: true
      },
      maxChars: {
        type:Number,
        required: false,
        default:200
      }
    },
    data() {
      return {
        contentFollowUp:null,
        contentVisiblePart:null,
        opened:false,
      }
    },
    mounted() {

      if (this.descriptions && this.descriptions.length > 0) {

        let contents = [], description, content;

        let i, n = this.descriptions.length;
        for(i=0;i<n;i++) {
          description = this.descriptions[i]["@value"];
          if (description && description.length) {
            contents.push(description);
          }
        }

        content = contents.join(CARRIAGE_RETURN_SEPARATOR);
        if (content.length > this.maxChars) {
            const contentAsWords = content.split(' ');
            const n = contentAsWords.length;
            let i, c = '', visibleWordsCount = -1;
            for(i=0;i<n;i++) {
              c += contentAsWords[i];
              if (c.length > this.maxChars) {
                visibleWordsCount = i;
                break;
              }
              if (i < n-1) {
                c += ' ';
              }
            }

            if ((visibleWordsCount === - 1) || (visibleWordsCount === n - 1)) {
              this.contentVisiblePart = this.replaceCR(content);
            } else {
              this.contentVisiblePart = this.replaceCR(c);
              this.contentFollowUp = this.replaceCR(contentAsWords.slice(visibleWordsCount + 1).join(' '));
            }

        } else {
          this.contentVisiblePart = this.replaceCR(content);
        }
      }
    },
    methods: {
      toggleFullContent($event) {
        $event.preventDefault();
        this.opened = !this.opened;
      },
      replaceCR(str) {
        return str.replace(CARRIAGE_RETURN_SEPARATOR, "<br/>")
      }
    }
  }
</script>
