<template>
  <header class="with-side-menu" :class="menusOpenedClass">

    <!-- Menus -->
    <UserMenu />
    <NavigationMenu />

    <Hamburger v-on:click-on-navigation-menu="toggleNavigationMenu()" />

    <Logo />

    <div class="search-options-panel-header"></div>
    <div class="search-options-panel" @click="blockEvent($event)" :class="overflowClass">

      <div class="search-input">
        <input type="text"
               @keyup="onKeyUpSeachInput($event)"
               @click="blockEvent($event)"
               :placeholder="$t('Rechercher...')"
               :value="state.searchInputValue" />
      </div>

      <div class="advanced-search-link">
        <a href="#" @click="toggleAdvancedSearchMenu($event)">{{ $t("Recherche avancée") }}</a>
      </div>

      <div class="browse-link" >
        <a href="#" @click="toggleBrowseLink($event)">{{ $t("Parcourir") }}</a>
        <ul
                class="browse-link-menu"
                :class="browseLinkMenuOpenedClass"
                @click="toggleBrowseLink($event)"
        >
          <li>
            <router-link :to="{ name:'Parcourir', query: { metadata: 'o:title' }}">{{ $t("Par titre") }}</router-link>
          </li>
          <li>
            <router-link :to="{ name:'Parcourir', query: { metadata: 'dcterms:subject' }}">{{ $t("Par mot-clé") }}</router-link>
          </li>
        </ul>
      </div>
    </div>

    <div class="header-right">
      <div class="language-selector">
        <a href="#" @click="toggleLanguageMenu($event)">{{ state.language }}</a>
        <ul>
          <li v-for="language in state.languages" :key="language">
            <a href="#" @click="selectLanguage($event, language)">{{ language }}</a>
          </li>
        </ul>
      </div>
      <div class="search-mobile-link">
        <a href="#" @click="toggleSearchMenu($event)"></a>
      </div>
      <div class="user login">
        <a href="#" @click="toggleUserMenu($event)"></a>
      </div>
    </div>
  </header>
</template>

<script>

  import {computed, watch, onMounted, onUnmounted, reactive} from "vue";
  import {useRouter, useRoute} from 'vue-router';
  import {useStore} from "vuex";
  import UserMenu from './UserMenu.vue'
  import NavigationMenu from './NavigationMenu.vue'
  import Hamburger from './Hamburger.vue'
  import Logo from './Logo.vue'

  export default {
    name: 'Header',
    components: {
      UserMenu,
      NavigationMenu,
      Hamburger,
      Logo
    },
    emits: [
      'close-advanced-search-menu',
      'toggle-login-menu',
      'click-on-advanced-search-menu'
    ],
    setup() {

      const store = useStore();
      const router =  useRouter();
      const route =  useRoute();

      const clickOutside = function() {

        state.navigationMenu = false;
        state.browseLinkMenu = false;
        state.searchMenu = false;
        state.languageMenu = false;

        // Avant la première ouverture, on maintient state.userMenu à null
        // pour ne pas déclencher le fondu d'apparition ou disparition
        if (state.userMenu === true) {
          state.userMenu = false;
        }
      };

      onMounted(() => {
        document.body.addEventListener("click", clickOutside);

        if ((route.name === "Recherche") && (route.query.q)) {
            state.searchInputValue = route.query.q;
        }
      });

      onUnmounted(() => {
        document.body.removeEventListener("click", clickOutside);
      });

      // Reactive state ( props and computed )

      const state = reactive({
        navigationMenu:false,
        browseLinkMenu: false,
        userIsConnected: computed(() => store.state.currentUser.logged ),
        userMenu: null,
        searchMenu: false,
        languageMenu: false,
        language: computed(() => store.state.currentLanguage ),
        languages: store.state.languages,
      });

      const userState = reactive({
        userId: computed(() => store.state.currentUser.id ),
        userName: computed(() => store.state.currentUser.name ),
        userLogged: computed(() => store.state.currentUser.logged && (store.state.currentUser.loggedMethod === 'login'))
      });

      watch(userState, () => {
        if (userState.userLogged) {
          // Ouvre le menu utilisateur après le login
          state.userMenu = true;
        } else if (state.userMenu === true) {
          // Ferme le menu utilisateur après le logout
          state.userMenu = false;
        }
      });

      const blockEvent = function($event) {
        $event.stopPropagation();
      };

      const onKeyUpSeachInput = function($event) {
        if ($event.keyCode === 13 ) {

          $event.preventDefault();

          // console.log($event.target.value,)

          router.push({
            name: "Recherche",
            params : {},
            query: {
              q: $event.target.value
            }
          });

        }
      };

      return {
        state,
        userState,
        onKeyUpSeachInput,
        blockEvent
      }

    },
    computed: {
      menusOpenedClass() {
        return [
          this.state.navigationMenu ? "menu-opened": "",
          this.state.userMenu === null ? "" : (this.state.userMenu ? "menu-user-opened": "menu-user-closed"),
          this.state.searchMenu ? "search-menu-opened" : "",
          this.state.languageMenu ? "language-menu-opened": ""
        ].join(' ')
      },
      browseLinkMenuOpenedClass() {
        return this.state.browseLinkMenu ? "browse-link-menu-opened": "browse-link-menu-closed";
      },
      overflowClass() {
        return this.state.browseLinkMenu ? "overflow-unset": "";
      },

    },
    watch: {
      '$store.state.currentLanguage': function() {
        this.state.language = this.$store.state.currentLanguage;
      }
    },
    methods : {
      toggleNavigationMenu() {
        this.state.navigationMenu = ! this.state.navigationMenu;
        this.state.searchMenu = false;
        this.$emit('close-advanced-search-menu');
      },
      closeBrowseLink($event) {
        $event.preventDefault();
        this.state.browseLinkMenu = false;
        this.$emit('close-advanced-search-menu');
      },
      toggleBrowseLink($event) {
        $event.preventDefault();
        $event.stopPropagation();
        this.state.browseLinkMenu = ! this.state.browseLinkMenu;
        this.$emit('close-advanced-search-menu');
      },
      toggleUserMenu($event) {
        $event.preventDefault();
        $event.stopPropagation();
        if (! this.state.userIsConnected)
        {
          // PopUp de login
          this.state.searchMenu = false;
          this.state.browseLinkMenu = false;
          this.$emit('toggle-login-menu');
        }
        else
        {
          // Menu de l'utilisateur
          this.state.browseLinkMenu = false;
          this.state.userMenu = ! this.state.userMenu;
          this.$emit('close-advanced-search-menu');
        }
      },
      toggleSearchMenu($event) {
        $event.preventDefault();
        $event.stopPropagation();
        this.state.searchMenu = ! this.state.searchMenu;
        this.state.navigationMenu = false;
      },
      toggleLanguageMenu($event) {
        $event.preventDefault();
        $event.stopPropagation();
        this.state.languageMenu = ! this.state.languageMenu;
      },
      selectLanguage($event, newLanguage) {
        $event.preventDefault();
        $event.stopPropagation();

        this.state.languageMenu = false;

        let routeCopy = {
          name : this.$route.name,
          query : { ...this.$route.query },
          params : { ...this.$route.params }
        };

        routeCopy.query.lang = newLanguage;

        this.$router.push(routeCopy);
      },
      toggleAdvancedSearchMenu($event) {
        $event.preventDefault();
        $event.stopPropagation();
        this.state.userMenu = false;
        this.state.browseLinkMenu = false;
        this.state.navigationMenu = false;
        this.$emit('click-on-advanced-search-menu');
      }
    }
}
</script>
