<template>
  <div class="logo">
    <router-link to="/">
      <svg>
        <g transform="translate(-45.000000, -10.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <path d="M47.275,27 L47.275,19.275 L54.9,19.275 L54.9,27 L56.975,27 L56.975,10.6 L54.9,10.6 L54.9,17.475 L47.275,17.475 L47.275,10.6 L45.175,10.6 L45.175,27 L47.275,27 Z M66.1,27 L66.1,20.65 L71.025,10.6 L68.875,10.6 L66.75,15.225 C66.25,16.425 65.675,17.575 65.125,18.8 L65.025,18.8 C64.45,17.575 63.95,16.425 63.425,15.225 L61.325,10.6 L59.075,10.6 L64.025,20.65 L64.025,27 L66.1,27 Z M75.225,27 L75.225,20.5 L78.175,20.5 C81.75,20.5 84.225,18.875 84.225,15.425 C84.225,11.825 81.8,10.6 78.175,10.6 L73.125,10.6 L73.125,27 L75.225,27 Z M77.9,18.8 L75.225,18.8 L75.225,12.275 L77.9,12.275 C80.725,12.275 82.15,13.05 82.15,15.425 C82.15,17.75 80.775,18.8 77.9,18.8 Z M97.1,27 L97.1,25.225 L89.5,25.225 L89.5,19.275 L95.7,19.275 L95.7,17.5 L89.5,17.5 L89.5,12.35 L96.85,12.35 L96.85,10.6 L87.4,10.6 L87.4,27 L97.1,27 Z M102.55,27 L102.55,20.075 L105.5,20.075 L109.45,27 L111.825,27 L107.65,19.85 C109.875,19.275 111.325,17.75 111.325,15.2 C111.325,11.8 108.925,10.6 105.6,10.6 L100.45,10.6 L100.45,27 L102.55,27 Z M105.3,18.375 L102.55,18.375 L102.55,12.275 L105.3,12.275 C107.85,12.275 109.25,13.05 109.25,15.2 C109.25,17.325 107.85,18.375 105.3,18.375 Z M121.2,27.3 C125.6,27.3 128.6,24.1 128.6,18.775 C128.6,13.475 125.6,10.4 121.2,10.4 C116.825,10.4 113.8,13.45 113.8,18.775 C113.8,24.1 116.825,27.3 121.2,27.3 Z M121.2,24.125 C119,24.125 117.575,22.05 117.575,18.775 C117.575,15.525 119,13.575 121.2,13.575 C123.425,13.575 124.825,15.525 124.825,18.775 C124.825,22.05 123.425,24.125 121.2,24.125 Z M138.025,27 L138.025,13.8 L142.5,13.8 L142.5,10.7 L129.85,10.7 L129.85,13.8 L134.35,13.8 L134.35,27 L138.025,27 Z M155.15,27 L155.15,23.9 L148.725,23.9 L148.725,10.7 L145.025,10.7 L145.025,27 L155.15,27 Z M168.4,27 L168.4,23.9 L161.625,23.9 L161.625,20.15 L167.175,20.15 L167.175,17.075 L161.625,17.075 L161.625,13.8 L168.15,13.8 L168.15,10.7 L157.925,10.7 L157.925,27 L168.4,27 Z M178.45,27 L178.45,13.8 L182.925,13.8 L182.925,10.7 L170.275,10.7 L170.275,13.8 L174.775,13.8 L174.775,27 L178.45,27 Z"></path>
        </g>
      </svg>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Logo',
  props: {
  }
}
</script>
