<template>
  <div class="side-menu-parent with-padding">
    <div class="side-menu">
      <ul>
        <li><router-link to="/encyclopedie">{{ $t("Encyclopédie documentaire") }}</router-link></li>
        <li><router-link to="/traite-de-documentation">{{ $t("Traité de documentation") }}</router-link></li>
        <li><router-link to="/corpus">{{ $t("Corpus") }}</router-link></li>
        <li><router-link to="/iconographie">{{ $t("Iconographie") }}</router-link></li>
        <li><router-link :to="state.chronologieRoute" >{{ $t("Chronologie") }}</router-link></li>
        <li><router-link :to="state.geographieRoute">{{ $t("Géographie") }}</router-link></li>
        <li><a :href="state.otletosphereURL" class="ext" target="_blank">{{ $t("Otletosphère") }}</a></li>
      </ul>
      <ul>
        <li v-for="item in state.pages" v-bind:key="item.id">
          <router-link :to="getPageRoute(item)">{{ $t(item.title) }}</router-link>
        </li>
        <li><router-link to="/redacteurs">{{ $t("Rédacteurs") }}</router-link></li>
        <li><router-link to="/articles">{{ $t("Articles") }}</router-link></li>
        <li><router-link to="/curated-collections">{{ $t("Sélections thématiques") }}</router-link></li>
        <li><router-link to="/contact">{{ $t("Contact") }}</router-link></li>
      </ul>
      <ul class="mobile-language-selector">
        <li v-for="language in state.languages" :key="language">
          <a href="#" @click="selectLanguage($event, language)" :class="languageCssClass(language)">{{ language }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

  import axios from "axios";
  import {useStore} from "vuex";
  import {useRouter, useRoute} from 'vue-router';
  import {getSitePagesApiURL} from "../../js/api";
  import {isChronologie, isGeographie} from "../../js/functions";
  import {computed, reactive} from "vue";

  export default {
  name: 'UserMenu',
  setup() {

    const store = useStore();
    const route = useRoute();
    const router = useRouter();

    const getPageRoute = function(item) {
      return '/pages/' + item.route;
    };

    const languageCssClass = function(language) {
      return language === store.state.currentLanguage ? "current-language" : "";
    };

    const selectLanguage = function($event, newLanguage) {
      $event.preventDefault();

      let routeCopy = {
        name : route.name,
        query : { ...route.query },
        params : { ...route.params }
      };

      routeCopy.query.lang = newLanguage;

      router.push(routeCopy);
    };

    const state = reactive({

      languages: store.state.languages,

      pages: null,

      chronologieSlug: 'chronologie',
      chronologieRoute: computed(() => '/' + state.chronologieSlug ),

      geographieSlug: 'geographie',
      geographieRoute: computed(() => '/' + state.geographieSlug ),

      otletosphereURL: computed(() => {
        if (store.state.settings.home.links.otletosphere) {
          return store.state.settings.home.links.otletosphere;
        } else {
          return "http://hyperotlet.huma-num.fr/otletosphere/";
        }
      }),

      blogURL: computed(() => {
        if (store.state.settings.home.links.blog) {
          return store.state.settings.home.links.blog;
        } else {
          return "https://hyperotlet.hypotheses.org/";
        }
      }),
      blogLabel: computed(() => {
        if (store.state.settings.home.linksLabels && store.state.settings.home.linksLabels.blog) {
          return store.state.settings.home.linksLabels.blog;
        } else {
         return "La lettre";
        }
      }),
    });

    if (store && store.state.sitePages) {

      // If site pages have been collected before
      state.pages = store.state.sitePages;

    } else {

      const siteParams = store.state.settings.site;
      const siteId = siteParams ? siteParams.id : 1;

      const apiURL = getSitePagesApiURL(store.getters.apiRoot, siteId);
      const keyIdentity = store.getters.identityAndCredentialParameters;

      axios.get(apiURL + keyIdentity).then(function (response) {

        const pagesData = response.data;
        const n = pagesData.length;
        let i, pageData, pageSlug, pageTitle, pageisChronologie, pageisGeographie, pageDetails;
        let pages = [], pagesForMenu = [];

        for (i = 0; i < n; i++)
        {
          pageData = pagesData[i];
          pageTitle = pageData["o:title"];
          pageSlug = pageData["o:slug"];
          pageisChronologie = isChronologie(pageData);
          pageisGeographie = isGeographie(pageData);

          pageDetails = {
            id: pageData["o:id"],
            title: pageData["o:title"],
            slug: pageSlug,
            route: pageData["o:slug"]
          };

          // All pages
          pages.push(pageDetails);

          if (pageisChronologie)
          {
            state.chronologieLabel = pageTitle;
            state.chronologieSlug = pageSlug;

            // cf store : to identify the Chronologie page (in home view)
            pageDetails.isChronology = true;
          }
          else if (pageisGeographie)
          {
            state.geographieLabel = pageTitle;
            state.geographieSlug = pageSlug;

            // cf store : to identify the Geographie page (in home view)
            pageDetails.isGeography = true;
          }
          else  if (pageData["o:is_public"])
          {
            // Public pages for bottom part of the menu
            pagesForMenu.push(pageDetails);
          }
        }

        state.pages = pagesForMenu;
        store.commit('storePages', pages);

      }).catch(error => {
        console.error(error);
      });
    }

    return {
      getPageRoute,
      languageCssClass,
      selectLanguage,
      state
    }

  }
}
</script>
