<template>
  <div
       class="diaporama"
       :class="state.fadeCssClass">
      <img
              :src="state.imageURL1"
              @load="imageLoaded(1)"
              alt=""
      />
      <img
              :src="state.imageURL2"
              @load="imageLoaded(2)"
              alt=""
      />
  </div>
</template>

<script>
    import {onMounted, onUnmounted, reactive} from "vue";

  export default {
    name: 'Diaporama',
    props: {
      images: {
        type: Array,
        required: true
      }
    },
    setup(props) {

        const loadNextImage = function() {
            state.imageIndex ++;
            if (state.imageIndex > state.images.length - 1) {
                state.imageIndex = 0;
            }
            switch(state.imageNo) {
                case 1:
                    state.imageURL1 = state.images[state.imageIndex];
                    state.imageNo = 2; // for next time
                break;
                case 2:
                    state.imageURL2 = state.images[state.imageIndex];
                    state.imageNo = 1; // for next time
                break;
            }
        };

        let timeout;

        const stopTimeout = function() {
            if (timeout) clearTimeout(timeout);
        };

        const startTimeout = function() {
            timeout = setTimeout(loadNextImage, 4000);
        };

        const imageLoaded = function(no) {
            stopTimeout();
            startTimeout();
            state.fadeCssClass = "fade-to-image" + no;
        };

        const state = reactive({
            images: props.images,
            imageNo:1, /* 1 or 2 */
            imageIndex:-1,
            imageURL1: null,
            imageURL2: null,
            fadeCssClass: '',
        });

        onMounted(() => {
            loadNextImage();
        });

        onUnmounted(() => {
            stopTimeout();
        });

        return {
            state,
            imageLoaded
        }


    }
  }
</script>
