<template>
  <div class="home-contents">
    <div class="home-wrapper">
      <div class="barillet">
        <div class="barillet-bg-circles" :class="getCircleLinkHoverClass">
          <svg width="420" height="420">
            <circle r="160" cx="210" cy="210" stroke="#FFFFFF" fill="none" stroke-dasharray="6,6" stroke-opacity="1" />
            <circle r="205" cx="210" cy="210" stroke="#212930" fill="none" stroke-dasharray="6,6" stroke-opacity="1" />
          </svg>
        </div>
        <div class="barillet-circle-link circle-on-top">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
              <router-link to="/encyclopedie"
                 @mouseover="mouseOverLink"
                 @mouseout="mouseOutLink" >
                      <div class="barillet-circle">
                        <Diaporama
                          v-if="diaporamaImages"
                          :images="diaporamaImages"
                        />
                      </div>
                      <div class="barillet-circle-title-contents">
                        <span class="barillet-circle-title">{{ $t("Encyclopédie documentaire") }}</span>
                      </div>
              </router-link>
            </div>
          </div>
        </div>
        <div class="barillet-circle-link circle-on-left">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
              <router-link to="/traite-de-documentation"
                           @mouseover="mouseOverLink"
                           @mouseout="mouseOutLink" >
                <div class="barillet-circle"></div>
                <div class="barillet-circle-title-contents">
                  <span class="barillet-circle-title">{{ $t("Traité de documentation") }}</span>
                </div>
              </router-link>
            </div>
          </div>
        </div>
        <div class="barillet-circle-link circle-on-right">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
              <router-link to="/articles"
                 @mouseover="mouseOverLink"
                 @mouseout="mouseOutLink" >
                  <div class="barillet-circle"></div>
                  <div class="barillet-circle-title-contents">
                    <span class="barillet-circle-title">{{ $t("Articles") }}</span>
                  </div>
              </router-link>
            </div>
          </div>
        </div>
        <div class="barillet-circle-link ext-link circle-on-right">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
              <a :href="externalLinks('otletosphere')"
                 target="_blank"
                 @mouseover="mouseOverLink"
                 @mouseout="mouseOutLink" >
                <div class="barillet-circle"></div>
                <div class="barillet-circle-title-contents">
                  <span class="barillet-circle-title">{{ $t("Otletosphère") }}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="barillet-circle-link circle-on-right">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
            <router-link :to="geographiePage.route"
               @mouseover="mouseOverLink"
               @mouseout="mouseOutLink" >
                  <div class="barillet-circle"></div>
                  <div class="barillet-circle-title-contents">
                    <span class="barillet-circle-title">{{ $t("Géographie") }}</span>
                  </div>
            </router-link>
            </div>
          </div>
        </div>
        <div class="barillet-circle-link circle-on-left">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
            <router-link :to="chronologiePage.route"
               @mouseover="mouseOverLink"
               @mouseout="mouseOutLink" >
                <div class="barillet-circle"></div>
                <div class="barillet-circle-title-contents">
                  <span class="barillet-circle-title">{{ $t("Chronologie") }}</span>
                </div>
            </router-link>
            </div>
          </div>
        </div>
        <div class="barillet-circle-link circle-on-left">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
              <router-link to="/iconographie"
                 @mouseover="mouseOverLink"
                 @mouseout="mouseOutLink" >
                  <div class="barillet-circle"></div>
                  <div class="barillet-circle-title-contents">
                    <span class="barillet-circle-title">{{ $t("Iconographie") }}</span>
                </div>
              </router-link>
            </div>
          </div>
        </div>
        <div class="barillet-circle-link circle-on-left">
          <div class="barillet-translate-on-radius">
            <div class="barillet-rotation-inverse">
              <router-link to="/corpus"
                           @mouseover="mouseOverLink"
                           @mouseout="mouseOutLink" >
                <div class="barillet-circle"></div>
                <div class="barillet-circle-title-contents">
                  <span class="barillet-circle-title">{{ $t("Corpus") }}</span>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="home-mobile-menu">
        <ul>
          <li><router-link to="/encyclopedie">{{ $t("Encyclopédie documentaire") }}</router-link></li>
          <li><router-link to="/traite-de-documentation">{{ $t("Traité de documentation") }}</router-link></li>
          <li><router-link to="/corpus">{{ $t("Corpus") }}</router-link></li>
          <li><router-link to="/iconographie">{{ $t("Iconographie") }}</router-link></li>
          <li><a class="ext-link" :href="externalLinks('otletosphere')" target="_blank">{{ $t("Otletosphère") }}</a></li>
          <li><router-link :to="geographiePage.route">{{ $t("Géographie") }}</router-link></li>
          <li><router-link :to="chronologiePage.route" >{{ $t("Chronologie") }}</router-link></li>
          <li><router-link to="/articles">{{ $t("Articles") }}</router-link></li>
        </ul>
      </div>
    </div>
    <nav class="home-footer">
      <div class="home-footer-menu">
        <div
            v-if="externalLinks('mundaneum')"
            class="home-footer-menu-mundaneum"
        >
          <a :href="externalLinks('mundaneum')" target="_blank">{{ $t("Aller sur le site du Mundaneum") }}</a>
        </div>
        <div
             v-if="externalLinks('expo')"
             class="home-footer-menu-expo"
        >
          <a :href="externalLinks('expo')" target="_blank">{{ $t("HyperOtlet vous propose") }}</a>
        </div>
      </div>
    </nav>
    <div
      :class="homeCuratedCollectionsCompleteCssClass"
      class="home-selections-menu"
    >
      <h2>{{ $t("Sélections thématiques") }}</h2>
      <HomeCuratedCollectionsGallery
        class="home-selections"
        @complete="homeCuratedCollectionsComplete"
      />
      <router-link
              :to="{ name:'Curated ItemSets' }"
              class="home-all-selections"
      >
        {{ $t("Voir toutes les sélections") }}
      </router-link>
    </div>
  </div>
</template>

<script>

  import HomeCuratedCollectionsGallery from "./Curation/HomeCuratedCollectionsGallery";
  import Diaporama from "./Diaporama";
  import {getCollectionsApiURL} from "../js/api.js";

  export default {
  name: 'Home',
  components: {
    Diaporama,
    HomeCuratedCollectionsGallery
  },
  data() {
    return {
      mouseOverTimeout: null,
      isMouseOver: false,
      homeCuratedCollectionsCompleted:false,
      diaporamaImages: null
    }
  },
  computed: {
    getCircleLinkHoverClass() {
      return this.isMouseOver ? "hover" : "";
    },
    geographiePage() {
      return this.$store.getters.getGeographiePage();
    },
    chronologiePage() {
      return this.$store.getters.getChronologiePage();
    },
    homeCuratedCollectionsCompleteCssClass() {
      return this.homeCuratedCollectionsCompleted ? "loaded" : "";
    },
  },
  methods: {
    clearMouseOverTimeout() {
      if (this.mouseOverTimeout) clearTimeout(this.mouseOverTimeout);
    },
    mouseOverLink() {
      this.clearMouseOverTimeout();
      this.isMouseOver = true;
    },
    resetMouseOverLink() {
      this.isMouseOver = false;
    },
    mouseOutLink() {
      this.clearMouseOverTimeout();
      this.mouseOverTimeout = setTimeout( this.resetMouseOverLink, 500);
    },
    subtitle() {
      // Cf settings.json : Home > subtitles
      // this.$store.state.settings.home.subtitles[category]
      return '&nbsp;';
    },
    externalLinks(category) {
      // Cf settings.json : Home > links
      return this.$store.state.settings.home.links[category];
    },
    externalLinksLabel(category) {
      const labels = this.$store.state.settings.home.linksLabels;
      if (labels !== undefined) {
        // Cf settings.json : Home > linksLabels
        return labels[category];
      } else if (category === 'mundaneum') {
        // Default value
        return "Aller sur le site du Mundaneum";
      } else if (category === 'expo') {
        // Default value
        return "HyperOtlet vous propose";
      } else if (category === 'otletosphere') {
        // Default value
        return "Otletosphère";
      }
    },
    homeCuratedCollectionsComplete() {
      this.homeCuratedCollectionsCompleted = true;
    },
    loadThumbnails() {
      // Get collection of images for diaporama : itemSet "Accueil"
      const collectionId = this.$store.state.homeCollection;
      if (! isNaN(collectionId)) {

        const apiURL = getCollectionsApiURL(this.$store.getters.apiRoot, [ collectionId ]);
        const images = [], t = this;

        this.$store.dispatch('getApi', apiURL).then(function(response){
          const collectionJson = response.data;
          const m = collectionJson.length;
          let j, thumbnail, item;
          for (j = 0; j < m; j++) {
            item = collectionJson[j];
            thumbnail = item['thumbnail_display_urls']['square'];
            images.push(thumbnail);
          }
          if (images.length) {
            t.diaporamaImages = images;
          }
        });
      }
    }
  },
  watch: {
    '$store.state.homeCollection': function() {
      this.loadThumbnails();
    }
  },
  mounted() {
    this.clearMouseOverTimeout();
    this.loadThumbnails();
  }
}

</script>
