<template>
  <div id="item-svg-parent" class="item-svg-parent">

    <div class="item-svg-tools">
      <div class="item-svg-parent-back-button">
        <a href="#" @click="close($event)">{{ $t('Retour') }}</a>
      </div>
      <ul class="item-svg-filters">
        <li>
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" class="skos:broader" v-model="state.skosBroader" @change="selectLinkType($event)" />
            <span class="checkmark"></span>
            <svg width="55" height="18">
              <line stroke-width="1" stroke="#FFFFFF" x1="0" x2="55" y1="8" y2="8"></line>
            </svg>
            <span>{{ $t('Lien générique') }}</span>
          </label>
        </li>
        <li>
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" class="skos:narrower" v-model="state.skosNarrower" @change="selectLinkType($event)" />
            <span class="checkmark"></span>
            <svg width="55" height="18">
              <line stroke-dasharray="6 4" stroke-width="1" stroke="#FFFFFF" x1="0" x2="55" y1="8" y2="8"></line>
            </svg>
            <span>{{ $t('Lien spécifique') }}</span>
          </label>
        </li>
        <li>
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" class="skos:closeMatch" v-model="state.skosCloseMatch" @change="selectLinkType($event)" />
            <span class="checkmark"></span>
            <svg width="55" height="18">
              <line stroke-dasharray="2 3" stroke-width="1" stroke="#FFFFFF" x1="0" x2="55" y1="8" y2="8"></line>
            </svg>
            <span>{{ $t('Lien proche') }}</span>
          </label>
        </li>
        <li>
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" class="skos:broadMatch" v-model="state.skosBroadMatch" @change="selectLinkType($event)" />
            <span class="checkmark"></span>
            <svg width="55" height="18">
              <line stroke-dasharray="8 12" stroke-width="1" stroke="#FFFFFF" x1="0" x2="55" y1="8" y2="8"></line>
            </svg>
            <span>{{ $t('Lien associé') }}</span>
          </label>
        </li>
      </ul>
    </div>

    <div class="item-svg-basket" v-if="state.userIsConnected">
      <a href="#" @click="openBasket($event)">{{ visualisationBasketCount }}</a>
    </div>

    <div class="item-svg-basket-info" v-if="state.userIsConnected">
      {{ $t('Créer ma documentation avec cette sélection') }}
    </div>

    <ul class="item-svg-zoom-buttons zoom-buttons">
      <li class="constellation-zoom-plus" :class="zoomInCssClass">
        <a href="#" @click="zoomIn($event)"></a>
      </li>
      <li class="constellation-zoom-moins" :class="zoomOutCssClass">
        <a href="#" @click="zoomOut($event)"></a>
      </li>
      <li class="constellation-zoom-reload">
        <a href="#" @click="zoomReset($event)"></a>
      </li>
    </ul>

    <Loading v-if="state.isLoading" />

    <VisualisationTitle
            :class="selectionInputTitleCssClass"
            :message="state.inputTitleMessage"
            @save-with-visualization-title="saveSelectionWithTitle"
            @change-visualization-title="changeSelectionTitleInput"
            @validate-message="validateSelectionTitleMessage"
    />

    <VisualisationAnnotation :class="annotationCssClass" />

    <ShortNoticeItem
            :titles="state.noticeTitles"
            :descriptions="state.noticeDescriptions"
            :languages="state.noticeLanguages"
            :itemId="state.noticeId"
            @close-short-notice="closeShortNotice"
            @opendetailednotice="openDetailedNotice"
            @mouseover="mouseOverShortNotice($event)"
            @mouseout="mouseOutShortNotice($event)"
            :class="noticeCssClass"
            :style = "{ left: state.noticePosition.left + 'px', top: state.noticePosition.top + 'px' }"
    />

  </div>

</template>

<script>

  import {computed, onMounted, onUnmounted, reactive, watch} from 'vue';
  import {useStore} from "vuex";

  import { VizItem } from '../../js/viz-item.js';
  import {getCollectionsByItemSetApiURL} from "../../js/api";
  import ShortNoticeItem from "../Notices/ShortNoticeItem";
  import Loading from "../Loading";
  import VisualisationAnnotation from '../Annotations/VisualisationAnnotation';
  import VisualisationTitle from './VisualisationItemTitle';
  import {JsonReader} from "../../js/jsonReader";

  const vizItem = new VizItem();

  export default {
    name: 'VisualisationItem',
    components: {
      ShortNoticeItem,
      Loading,
      VisualisationAnnotation,
      VisualisationTitle,
    },
    props: {
      itemId: {
        type: Number,
        required: false,
      },
      itemsIds: {
        type: Array,
        required: false,
      },
    },
    emits: [
      "opendetailednotice",
      "closeitemvisualization"
    ],
    data() {
      return {
        zoomLevelIsMax: false,
        zoomLevelIsMin: true,
        annotationOpened:false
      }
    },
    setup(props, context) {

      const store = useStore();
      const jsonReader = new JsonReader();

      const collectionsIds = store.getters.collectionIdsByCategory("encyclopedie");
      const collectionColors = store.getters.collectionsInfos("color");
      const collectionNames = store.getters.collectionsInfos("name");

      vizItem.colorsByCategory = collectionColors;
      vizItem.namesByCategory = collectionNames;

      const loadItem = function(itemId) {
        if (itemId !== null)
        {
          vizItem.keyIdentity = store.getters.identityAndCredentialParameters;
          vizItem.collectionsApiURL = getCollectionsByItemSetApiURL(store.getters.apiRoot, collectionsIds);
          vizItem.apiRoot = store.getters.apiRoot;
          vizItem.currentLanguage = store.state.currentLanguage;

          // Chargement de l'API du JSON de l'item :
          state.isLoading = true;

          // console.log(`itemId : ` + itemId);

          vizItem.clear();
          vizItem.resetLinkTypes();
          vizItem.loadCollectionsAndItem( itemId );
        }
      };

      const loadItems = function(itemsIds) {
        if (itemsIds !== null)
        {

          vizItem.keyIdentity = store.getters.identityAndCredentialParameters;
          vizItem.collectionsApiURL = getCollectionsByItemSetApiURL(store.getters.apiRoot, collectionsIds);
          vizItem.apiRoot = store.getters.apiRoot;
          vizItem.currentLanguage = store.state.currentLanguage;

          // Chargement de l'API du JSON de l'item :
          state.isLoading = true;

          // console.log(`itemId : ` + itemId);

          vizItem.clear();
          vizItem.resetLinkTypes();
          vizItem.loadCollectionsAndItems( itemsIds );
        }
      };

      const close = function($event) {

        if ($event) $event.preventDefault();

        state.skosBroader = true;
        state.skosNarrower = true;
        state.skosBroadMatch = true;
        state.skosCloseMatch = true;
        state.noticeOpened = false;
        state.selectionInputTitleOpened = false;

        vizItem.clear();

        // EVENT --> PARENT
        context.emit('closeitemvisualization');
      };


      let openShortNoticeTimeOut;

      const clearTimeoutToCloseShortNotice = function() {
        if (openShortNoticeTimeOut) clearTimeout(openShortNoticeTimeOut);
      };

      const restartTimeoutToCloseShortNotice = function() {
        clearTimeoutToCloseShortNotice();
        openShortNoticeTimeOut = setTimeout(closeShortNotice, 350);
      };

      const closeShortNotice = function() {
        clearTimeoutToCloseShortNotice();
        state.noticeOpened = false;
      };

      const mouseOverShortNotice = function($event) {
        $event.preventDefault();
        clearTimeoutToCloseShortNotice();
      };

      const mouseOutShortNotice = function($event) {
        $event.preventDefault();
        restartTimeoutToCloseShortNotice();
      };


      // Lifecycle Hooks
      onMounted(() => {

        const store = useStore();

        /* Visualisation d'un item */

        const itemParentId = "item-svg-parent";
        const itemParent = document.getElementById(itemParentId);

        vizItem.width = itemParent.offsetWidth;
        vizItem.height = itemParent.offsetHeight;
        vizItem.init(itemParentId);

        itemParent.addEventListener('open_notice', function (event)
        {
          const eventDetail = event.detail;
          const json = eventDetail.json;
          const itemId = json["o:id"];

          state.noticeOpened = false;

          // EVENT --> PARENT
          context.emit('opendetailednotice', itemId);
        });

        itemParent.addEventListener('open_short_notice', function (event)
        {
          const eventDetail = event.detail;
          const json = eventDetail.json;
          const itemId = json["o:id"];

          jsonReader.json = json;


          clearTimeoutToCloseShortNotice();

          // Languages
          const languages = [];

          let i, n, language;

          // Titre
          const titles = [];

          const alternativeTitleObjects = jsonReader.getMetaDataValue('dcterms:alternative');
          if (Array.isArray(alternativeTitleObjects)) {

            n = alternativeTitleObjects.length;
            let alternativeTitleObject;

            for (i = 0; i < n; i++) {
              alternativeTitleObject = alternativeTitleObjects[i];
              language = alternativeTitleObject.language;

              titles.push({
                value: alternativeTitleObject.value,
                language: language,
              });

              if ((language !== undefined) && language.length && (languages.indexOf(language) === -1)) {
                languages.push(language);
              }
            }
          }

          if (titles.length === 0) {
            titles.push({
              value: json['o:title']
            })
          }

          // Textes (selon langue)
          const descriptions = [];

          const descriptionObjects = json['dcterms:description'];
          if (Array.isArray(descriptionObjects)) {

            const n = descriptionObjects.length;
            let i, descriptionObject;

            for(i=0;i<n;i++) {
              descriptionObject = descriptionObjects[i];
              language = descriptionObject['@language'];

              descriptions.push({
                  value: descriptionObject['@value'],
                  language: language,
              });

              if ((language !== undefined) && language.length && (languages.indexOf(language) === -1)) {
                languages.push(language);
              }
            }
          }

          // Position
          const mouseEvent = event.detail.mouseEvent;
          const mouseEventX = mouseEvent.clientX; //- mouseEvent.layerX;
          const mouseEventY = mouseEvent.clientY - 10; //- mouseEvent.layerY;

          const documentX = document.body.clientWidth;
          const shortNoticeWidth = 360;

          // const documentY = document.body.clientHeight;
          // console.log(mouseEventX, documentX);

          if (mouseEventX + shortNoticeWidth + 80 < documentX ) {
            state.noticePosition.left = mouseEventX + 50;
            state.noticePosition.top = mouseEventY - 228;
            state.noticePositionCssClass = "on-left";
          } else {
            state.noticePosition.left = mouseEventX - shortNoticeWidth - 30;
            state.noticePosition.top = mouseEventY - 228;
            state.noticePositionCssClass = "on-right";
          }

          state.noticeId = itemId;
          state.noticeTitles = titles;
          state.noticeDescriptions = descriptions;
          state.noticeLanguages = languages;
          state.noticeOpened = true;

        });

        itemParent.addEventListener('close_notice', function ($event) {
          const eventDetail = $event.detail;
          if (eventDetail.withDelay) {
            // Timeout
            restartTimeoutToCloseShortNotice();
          } else {
            closeShortNotice();
          }
        });

        itemParent.addEventListener('close', function () {
          close();
        });

        itemParent.addEventListener('init-basket', function (event) {
          const eventDetail = event.detail;
          store.dispatch('initToVisualisationBasket', eventDetail);
          state.isLoading = false;
        });

        itemParent.addEventListener('add-to-basket', function (event) {
          const eventDetail = event.detail;
          store.dispatch('addToVisualisationBasket', eventDetail);
        });

        itemParent.addEventListener('remove-from-basket', function (event) {
          const eventDetail = event.detail;
          store.dispatch('removeFromVisualisationBasket', eventDetail);
        });

        window.addEventListener('resize', function () {
          const w = itemParent.offsetWidth;
          const h = itemParent.offsetHeight;
          vizItem.resize(w, h);
        });

        loadItem(props.itemId);

      });

      // Chargement de la visualisation

      watch( () => props.itemId, (itemId) => {
        if (itemId) loadItem(itemId);
      });

      watch( () => props.itemsIds, (itemsIds) => {
        if (itemsIds && itemsIds.length) loadItems(itemsIds);
      });

      watch( () => store.state.currentLanguage, () => {
        vizItem.currentLanguage = store.state.currentLanguage;
        if (! vizItem.isLoading) {
          if (props.itemsIds && props.itemsIds.length) {
            loadItems(props.itemsIds);
          } else if (props.itemId) {
            loadItem(props.itemId);
          }
        }
      });

      onUnmounted(() => {
        vizItem.clear();
      });

      const state = reactive({
        isLoading:false,
        noticeOpened: false,
        noticeTitles: [],
        noticeDescriptions: [],
        noticeLanguages: [],
        noticeId: 0,
        noticePosition: { left: 0, top: 0},
        noticePositionCssClass: "on-left",
        skosBroader: true,
        skosNarrower: true,
        skosBroadMatch: true,
        skosCloseMatch: true,
        selectionInputTitleOpened:false,
        userIsConnected: computed(() => store.state.currentUser.logged )
      });

      return {
        state,
        close,
        restartTimeoutToCloseShortNotice,
        mouseOverShortNotice,
        mouseOutShortNotice
      }

    },
    computed: {
      activeLinkTypes() {
        let linkTypes = [];
        if (this.state.skosBroader) {
          linkTypes.push("skos:broader");
        }
        if (this.state.skosNarrower) {
          linkTypes.push("skos:narrower");
        }
        if (this.state.skosBroadMatch) {
          linkTypes.push("skos:broadMatch");
        }
        if (this.state.skosCloseMatch) {
          linkTypes.push("skos:closeMatch");
        }
        return linkTypes;
      },
      noticeCssClass() {
        return this.state.noticePositionCssClass + " " + (this.state.noticeOpened === true ? "opened" : "");
      },
      selectionInputTitleCssClass() {
        return this.state.userIsConnected && this.state.selectionInputTitleOpened ? "opened" : "";
      },
      annotationCssClass() {
        return this.annotationOpened === true ? "popup-parent-opened" : "";
      },
      zoomInCssClass() {
        return this.zoomLevelIsMax === true ? "" : "active";
      },
      zoomOutCssClass() {
        return this.zoomLevelIsMin === true ? "" : "active";
      },
      visualisationBasketCount() {
        const store = useStore();
        return store.getters.getVisualisationBasketCount();
      }
    },
    methods : {
      selectLinkType($event) {
        $event.preventDefault();
        $event.stopPropagation();
        vizItem.filterByLinkType( this.activeLinkTypes );
      },
      closeShortNotice() {
        this.state.noticeOpened = false;
      },
      openDetailedNotice(itemId) {
        this.state.noticeOpened = false;

        // EVENT --> PARENT
        this.$emit('opendetailednotice', itemId);
      },
      openBasket($event) {
        $event.preventDefault();
        $event.stopPropagation();
        this.state.selectionInputTitleOpened = ! this.state.selectionInputTitleOpened;
      },
      zoomIn($event) {
        $event.preventDefault();
        $event.stopPropagation();
        vizItem.zoomIn();
        this.updateZoomButtons();
      },
      zoomOut($event) {
        $event.preventDefault();
        $event.stopPropagation();
        vizItem.zoomOut();
        this.updateZoomButtons();
      },
      zoomReset($event) {
        $event.preventDefault();
        $event.stopPropagation();
        vizItem.zoomReset();
        this.updateZoomButtons();
      },
      updateZoomButtons() {
        this.zoomLevelIsMin = vizItem.zoomLevelIsMin();
        this.zoomLevelIsMax = vizItem.zoomLevelIsMax();
      },
      changeSelectionTitleInput() {
        this.state.inputTitleMessage = "";
      },
      saveSelectionWithTitle(selectionTitle) {
        var t = this;
        this.$store.dispatch('saveSelectionBasket', {
          name : selectionTitle,
          items : this.$store.state.visualizationBasket.concat(),
          resources: this.$store.getters.getVisualisationBasketForApi(),
          force: false
        }).then(function (response) {
          if (response.success) {
            t.state.selectionInputTitleOpened = false;
          } else {
            t.state.inputTitleMessage = response.message;
          }
        });

      },
      validateSelectionTitleMessage(selectionTitle) {
        this.$store.dispatch('saveSelectionBasket', {
          name : selectionTitle,
          items : this.$store.state.visualizationBasket.concat(),
          resources: this.$store.getters.getVisualisationBasketForApi(),
          force: true
        });
        this.state.selectionInputTitleOpened = false;
      }
    }
  }

</script>
