<template>
  <div id="svg-parent" class="svg-parent"></div>
  <!-- Graphe SVG des Categories  -->

  <!-- Zoom du graphe des catégories -->
  <ul class="constellation-zoom-buttons zoom-buttons">
    <li class="constellation-zoom-plus" :class="zoomInCssClass">
      <a href="#" @click="zoomIn($event)"></a>
    </li>
    <li class="constellation-zoom-moins" :class="zoomOutCssClass">
      <a href="#" @click="zoomOut($event)"></a>
    </li>
    <li class="constellation-zoom-reload">
      <a href="#" @click="zoomReset($event)"></a>
    </li>
  </ul>

  <Loading v-if="isLoading" />

  <!-- Filtres de catégories -->
  <div class="constellation-footer-background" @click="closeFilterCategoriesMenu($event)"></div>
  <div class="constellation-footer with-padding">
    <div class="constellation-filters-toggle"><a href="#" @click="toggleFilterCategoriesMenu($event)"></a></div>
    <div class="constellation-filters">
      <ul class="collections-filters">
        <li class="constellation-filter-personnes">
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" value="personnes" @click="selectCategory($event)" />
            <span class="checkmark"></span>
            {{ getCategoryTitle('personnes') }}
          </label>
        </li>
        <li class="constellation-filter-organisations">
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" value="organisations" @click="selectCategory($event)" />
            <span class="checkmark"></span>
            {{ getCategoryTitle('organisations') }}
          </label>
        </li>
        <li class="constellation-filter-evenements">
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" value="evenements" @click="selectCategory($event)" />
            <span class="checkmark"></span>
            {{ getCategoryTitle('evenements') }}
          </label>
        </li>
        <li class="constellation-filter-oeuvres">
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" value="oeuvres" @click="selectCategory($event)" />
            <span class="checkmark"></span>
            {{ getCategoryTitle('oeuvres') }}
          </label>
        </li>
        <li class="constellation-filter-concepts">
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" value="concepts" @click="selectCategory($event)" />
            <span class="checkmark"></span>
            {{ getCategoryTitle('concepts') }}
          </label>
        </li>
        <li class="constellation-filter-pratiques">
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" value="pratiques" @click="selectCategory($event)" />
            <span class="checkmark"></span>
            {{ getCategoryTitle('pratiques') }}
          </label>
        </li>
        <li class="constellation-filter-techniques">
          <label class="checkbox-label">
            <input type="checkbox" checked="checked" value="techniques" @click="selectCategory($event)" />
            <span class="checkmark"></span>
            {{ getCategoryTitle('techniques') }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

  import { VizCategories } from '../../js/viz-categories.js';
  import {getCollectionsByItemSetApiURL} from "../../js/api";
  import { JsonReader } from '../../js/jsonReader.js';
  import Loading from "../Loading";


  const vizCategories = new VizCategories();
  const constellationParentId = "svg-parent";
  const jsonReader = new JsonReader();

  export default {
    name: 'VisualisationEncyclopedie',
    components: {
      Loading
    },
    props: {
      feedMode: {
        type: String,
        required: false,
        default:"auto"
      },
      itemsByCollection: {
        type: Array,
        required: false
      }
    },
    emits: [
      "changecategoriesfiltermenu",
      "selectitem",
      "itemsloadedfromserver"
    ],
    data() {
      return {
        allItems: null,
        filterCategoriesMenuIsOpened: false,
        zoomLevelIsMax: false,
        zoomLevelIsMin: true,
        isLoading:false
      }
    },
    computed: {
      zoomInCssClass() {
        return this.zoomLevelIsMax === true ? "" : "active";
      },
      zoomOutCssClass() {
        return this.zoomLevelIsMin === true ? "" : "active";
      }
    },
    methods : {
      zoomIn($event) {
        $event.preventDefault();
        $event.stopPropagation();
        vizCategories.zoomIn();
        this.updateZoomButtons();
      },
      zoomOut($event) {
        $event.preventDefault();
        $event.stopPropagation();
        vizCategories.zoomOut();
        this.updateZoomButtons();
      },
      zoomReset($event) {
        $event.preventDefault();
        $event.stopPropagation();
        vizCategories.zoomReset();
        this.updateZoomButtons();
      },
      updateZoomButtons() {
        this.zoomLevelIsMin = vizCategories.zoomLevelIsMin();
        this.zoomLevelIsMax = vizCategories.zoomLevelIsMax();
      },
      toggleFilterCategoriesMenu($event) {
        $event.preventDefault();
        $event.stopPropagation();
        this.filterCategoriesMenuIsOpened = !this.filterCategoriesMenuIsOpened;
        this.$emit("changecategoriesfiltermenu", this.filterCategoriesMenuIsOpened);
      },
      closeFilterCategoriesMenu($event) {
        $event.preventDefault();
        $event.stopPropagation();
        this.filterCategoriesMenuIsOpened = false;
        this.$emit("changecategoriesfiltermenu", this.filterCategoriesMenuIsOpened);
      },
      prepareItemsForList(){

        this.isLoading = false;

        // Liste des catégories (et pour chacune de ses items)
        const categories = vizCategories.getCollections(), n = categories.length;
        let i, categoryInfos, categoryTitle, encyclopedieCategoryRef, items, j, itemsCount, itemInfos, itemId;

        // On constitue la liste de tous les items (de toutes les catégories)
        let allItems = [];
        let allItemIds = [];

        for(i=0;i<n;i++) {

          categoryInfos = categories[i];
          categoryTitle = categoryInfos.title;
          encyclopedieCategoryRef = categoryInfos.icon.toLowerCase().split('#').join(''); /* titre sans accent */

          items = categoryInfos.items;
          itemsCount = items.length;

          for(j=0;j<itemsCount;j++) {

            itemInfos = items[j];
            itemId = parseInt(itemInfos["o:id"]);

            allItems.push({
              id: itemId,
              title: this.getTitleFromJson(itemInfos),
              category: categoryTitle,
              encyclopedieCategoryRef: encyclopedieCategoryRef
            });

            allItemIds.push(itemId);
          }
        }

        this.allItems = allItems;

        const idFromRoute = this.$route.params.id;
        if ((idFromRoute !== undefined) && (this.$route.name === "Graphe Collection") ) {
          vizCategories.activeCollection(idFromRoute);
        }

        this.$emit("itemsloadedfromserver", allItems, allItemIds);
      },
      getTitleFromJson: function (itemJson) {

        jsonReader.json = itemJson;

        let title = jsonReader.getMetaDataFirstValue('dcterms:alternative');

        if ((typeof title !== "string") || (title.length === 0)) {
          title = itemJson['o:title'];
        }

        if ((typeof title !== "string") || (title.length === 0)) {
          title = jsonReader.getMetaDataFirstValue('dcterms:title');
        }

        return this.capitalizeText( title);
      },

      capitalizeText: function (title = '') {
        return title.charAt(0).toUpperCase() + title.slice(1);
      },

      selectCategory($event) {

        $event.stopPropagation();

        const collectionRef = $event.target.value;
        const collectionVisible = $event.target.checked;

        const store = this.$store;
        const collectionInfos = store.getters.collectionInfosByName(collectionRef);

        vizCategories.filterCollection(collectionInfos.id, collectionVisible);
      },
      resizeVisualization() {
        const constellationParent = document.getElementById(constellationParentId);
        const w = constellationParent.offsetWidth;
        const h = constellationParent.offsetHeight;
        vizCategories.resize(w, h);
      },
      selectItem(event) {
        const eventDetail = event.detail;
        this.$emit("selectitem", eventDetail.itemId);
      },
      getCategoryTitle(categoryName) {
        // Returns itemSet ID from category "name" defined in settings
        return this.$store.getters.collectionTitleFromName(categoryName);
      },
      createCollectioVizualisation() {
        const store = this.$store;
        if (store.state.collections)
        {
          /* Catégories de l'encyclopédie documentaire */
          const constellationParent = document.getElementById(constellationParentId);
          const constellationWith = constellationParent.offsetWidth;
          const constellationHeight = constellationParent.offsetHeight;

          store.dispatch('clearVisualisationBasket');

          const collectionsIds = store.getters.collectionIdsByCategory("encyclopedie");
          const collectionColors = store.getters.collectionsInfos("color");
          const collectionNames = store.getters.collectionsInfos("name");
          const collectionTitles = store.getters.localizedCollectionsTitles('dcterms:title');

          vizCategories.keyIdentity = store.getters.identityAndCredentialParameters;
          vizCategories.collectionsApiURL = getCollectionsByItemSetApiURL(store.getters.apiRoot, collectionsIds);
          vizCategories.colorsByCategory = collectionColors;
          vizCategories.namesByCategory = collectionNames;
          vizCategories.titlesByCategory = collectionTitles;
          vizCategories.currentLanguage = store.state.currentLanguage;

          vizCategories.width = constellationWith;
          vizCategories.height = constellationHeight;

          if (this.feedMode === "auto")
          {
            this.isLoading = true;
            vizCategories.clear();
            vizCategories.loadCollections(constellationParentId);
          }

          /* Listeners */
          constellationParent.addEventListener('categoriesLoadingComplete', this.prepareItemsForList);
          constellationParent.addEventListener('itemClicked', this.selectItem);

          window.addEventListener('resize', this.resizeVisualization);
        }

      }
    },
    mounted() {
      this.createCollectioVizualisation();
    },
    updated() {
      this.resizeVisualization
    },
    beforeUnmount() {

      vizCategories.clear();

      const constellationParent = document.getElementById(constellationParentId);
      constellationParent.removeEventListener('categoriesLoadingComplete', this.prepareItemsForList);
      constellationParent.removeEventListener('itemClicked', this.selectItem);
      window.removeEventListener('resize', this.resizeVisualization);
    },
    watch: {
      itemsByCollection:  function (items) {

          this.allItems = items;

          setTimeout(function() {
            vizCategories.clear();
            vizCategories.setCollections(items);
            vizCategories.init( constellationParentId );
          }, 200)

      },
      '$store.state.collections': function() {
        this.createCollectioVizualisation();
      },
      '$store.state.currentLanguage': function() {
        this.createCollectioVizualisation();
      }
    }
  }

</script>
