@charset "UTF-8";

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url("./fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Lato-Bold';
    font-weight: 700;
    src: url("./fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Georgia';
    font-weight: 400;
    src: url("./fonts/Georgia/Georgia.ttf");
}

@font-face {
    font-family: 'Georgia-Italic';
    font-weight: 400;
    src: url("./fonts/Georgia/Georgia italic.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px; /* TAILLE DE REFERENCE */
    vertical-align: baseline;
}

body {
    font-family: 'Lato', sans-serif;
    font-size:1em;
    line-height: 1;
    color: #000;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 5em;
    background-color: #393939;
    text-align: center;
}

header img {
    height: 100%;
}

footer,
main {
    margin: 2em auto 10em;
}

footer .no-page {
    float: right;
}

main > div {
    margin: 1.2em 0;
}

.MsoFootnoteText *,
div.content {
    font-family: 'Georgia', serif !important;
    font-size: 0.95em !important;
    line-height: 1.3;
}

div.content p {
    font-size: 1em;
}

div.content > div {
    border: none !important;
    margin-left: 0 !important;
    padding: 0 !important;
}


h1 {
    /* Titre de l'article */
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    margin: 0.1em 0;
}

h2, h3, p.Intertitre, .creator {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 1em;
    margin: 0.4em 0;
}

p.Intertitre {
    margin: 1em 0;
}

.Citationarticle {
    border: none;
    margin: 2em 1em 2em 2em;
}

.Citationarticle * {
    font-family: 'Georgia-Italic', serif !important;
}

span.MsoFootnoteReference {
    display: inline-block;
    vertical-align: bottom !important;
    margin: 0 0.1em 0 0.2em;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 0.25em;
}

.issued {
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
}

a {
    color: #000;
    text-decoration: none;
}

.citation {
    margin-top: 3em;
    border-top: 3px solid #000;
    padding-top: 0.8em;
}

.citation a {
    display: block;
    font-size: 1em;
}

footer * {
    font-family: 'Lato', sans-serif;
    font-size:0.9em;

}

.TitrePublication,
.DatePublication,
.Rdacteur {
    display: none;
}
