<template>
  <div class="advanced-search-panel filter-by-collection" :class="panelCssClass">
    <div class="advanced-search-panel-header">
      <h3><a href="#" @click="toggleSearchPanel($event)">{{ $t("Collection") }}</a></h3>
    </div>
    <ul class="list-items-categories">
      <li class="list-items-category">
        <CollectionsCheckboxGroup
                category-title="Encyclopédie"
                category-name="encyclopedie"
                :collections="state.encyclopedieCollections"
                @changefiltercollection="changeEncyclopedieCollections"
        />
        <CollectionsCheckboxGroup
                :category-title="state.corpusCollectionTitle"
                :category-code="state.corpusCollectionCode"
                category-name="corpus"
                :collections="state.corpusCollections"
                @changefiltercollection="changeCorpusCollections"
        />
        <CollectionsCheckboxGroup
                :category-title="state.iconographieCollectionTitle"
                :category-code="state.iconographieCollectionCode"
                category-name="iconographie"
                :collections="state.iconographieCollections"
                @changefiltercollection="changeIconographieCollections"
        />
        <CollectionsCheckboxGroup
                category-title="Traité de documentation"
                :category-code="state.tdCollectionCode"
                category-name="traite_documentation"
                :collections="state.tdCollections"
                @changefiltercollection="changeTdCollections"
        />
        <CollectionsCheckboxGroup
                :category-title="state.articlesCollectionTitle"
                :category-code="state.articlesCollectionCode"
                category-name="articles"
                :collections="state.articlesCollections"
                @changefiltercollection="changeArticlesCollections"
        />
      </li>
    </ul>
  </div>
</template>

<script>
  import {reactive, watch} from "vue";
  import {useStore} from "vuex";
  import CollectionsCheckboxGroup from "./CollectionsCheckboxGroup";

  export default {
    name: 'CollectionsFilterPanel',
    components: {
      CollectionsCheckboxGroup
    },
    props: {
      advancedQuery: {
        type: String,
        required: false
      },
      resetQuery: {
        type: Number,
        required: false,
        default: 0
      },
      settings: {
        type: Object,
        required: false
      },
    },
    emits: [
      "change",
      "change-settings"
    ],
    computed:{
      panelCssClass() {
        return this.state.isPanelOpened ? "" : "search-panel-closed";
      }
    },
    methods:{
      toggleSearchPanel($event) {
        $event.preventDefault();
        this.state.isPanelOpened = !this.state.isPanelOpened;
        this.$emit("change-settings", { opened: this.state.isPanelOpened })
      }
    },
    setup(props, context) {

      const store = useStore();

      /* Functions */

      const prepareDataForCheckbox = function( collections, selectedIds ) {
        let i, collection, collectionId;
        const n = collections.length;
        let collectionsForCheckbox = [];
        for(i=0;i<n;i++)
        {
          collection = collections[i];
          collectionId = parseInt(collection.id);
          collectionsForCheckbox.push({
            id: collection.id,
            title: store.getters.collectionTitle(collectionId),
            code: store.getters.collectionCode(collectionId),
            name: collection.name,
            hidden: collection.hiddenOnFacets === true,
            checked: (selectedIds.length === 0) || (selectedIds.indexOf(collection.id) !== -1)
          });
        }

        return collectionsForCheckbox;
      };

      const updateDataForCheckbox = function( collectionsForCheckbox, selectedIds ) {
        let i, collection;
        const n = collectionsForCheckbox.length;
        for(i=0;i<n;i++) {
          collection = collectionsForCheckbox[i];
          collection.checked = (selectedIds.length === 0) || (selectedIds.indexOf(collection.id) !== -1);
        }
      };

      const getCheckedIds = function(collections) {
        let i, collection;
        const n = collections.length;
        let ids = [];
        for(i=0;i<n;i++) {
          collection = collections[i];
          if (collection.checked) {
            ids.push(collection.id);
          }
        }
        return ids;
      };

      const getCollectionIds = function() {

        var collectionsIds = [];

        // On récupère dans les paramètres de l'URL les collections sélectionnées
        if (props.advancedQuery) {
          ('?' + props.advancedQuery ).replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            if (key === "item_set_id[]") {
              collectionsIds.push(value);
            }
          });
        }
        return collectionsIds
      };


      /* State */
      const state = reactive({
        selectedEncyclopedieCollectionIds:null,
        selectedCorpusCollectionIds:null,
        selectedIconographieCollectionIds:null,
        selectedBibliographieCollectionIds:null,
        selectedTdCollectionIds:null,
        selectedArticlesCollectionIds:null,
        isPanelOpened: props.settings && props.settings.opened === true
      });



      //
      // Collections
      //

      var collectionsIds = getCollectionIds();

      state.encyclopedieCollections = prepareDataForCheckbox(store.getters.collectionInfosByCategory("encyclopedie"), collectionsIds);
      state.corpusCollections = prepareDataForCheckbox(store.getters.collectionInfosByCategory("corpus"), collectionsIds);
      state.iconographieCollections = prepareDataForCheckbox(store.getters.collectionInfosByCategory("iconographie"), collectionsIds);
      state.tdCollections = prepareDataForCheckbox(store.getters.collectionInfosByCategory("traite_documentation"), collectionsIds);
      state.articlesCollections = prepareDataForCheckbox(store.getters.collectionInfosByCategory("articles"), collectionsIds);

      // Ids de chaque catégorie
      state.selectedEncyclopedieCollectionIds = getCheckedIds(state.encyclopedieCollections);
      state.selectedCorpusCollectionIds = getCheckedIds(state.corpusCollections);
      state.selectedIconographieCollectionIds = getCheckedIds(state.iconographieCollections);
      state.selectedTdCollectionIds = getCheckedIds(state.tdCollections);
      state.selectedArticlesCollectionIds = getCheckedIds(state.articlesCollections);

      // Titre et [code] des collections (hors Encyclopédie)
      state.corpusCollectionTitle = state.corpusCollections[0].title;
      state.corpusCollectionCode = state.corpusCollections[0].code;

      state.iconographieCollectionTitle = state.iconographieCollections[0].title;
      state.iconographieCollectionCode = state.iconographieCollections[0].code;

      state.tdCollectionTitle = state.tdCollections[0].title;
      state.tdCollectionCode = state.tdCollections[0].code;

      state.articlesCollectionTitle = state.articlesCollections[0].title;
      state.articlesCollectionCode = state.articlesCollections[0].code;


      const updateCheckedIds = function() {

        var collectionsIds = getCollectionIds();

        updateDataForCheckbox( state.encyclopedieCollections, collectionsIds);
        updateDataForCheckbox( state.corpusCollections, collectionsIds);
        updateDataForCheckbox( state.iconographieCollections, collectionsIds);
        updateDataForCheckbox( state.tdCollections, collectionsIds);
        updateDataForCheckbox( state.articlesCollections, collectionsIds);

        // updateDataForCheckbox( state.bibliographieCollections, collectionsIds);
        // state.selectedBibliographieCollectionIds = getCheckedIds(state.bibliographieCollections);

        state.selectedEncyclopedieCollectionIds = getCheckedIds(state.encyclopedieCollections);
        state.selectedCorpusCollectionIds = getCheckedIds(state.corpusCollections);
        state.selectedIconographieCollectionIds = getCheckedIds(state.iconographieCollections);
        state.selectedTdCollectionIds = getCheckedIds(state.tdCollections);
        state.selectedArticlesCollectionIds = getCheckedIds(state.articlesCollections);
      };



      watch(props, () => {
        updateCheckedIds();
        onChangeCheckbox();
      });


      /* Checkbox Events */

      const changeEncyclopedieCollections = function( collectionsIds ) {
        state.selectedEncyclopedieCollectionIds = collectionsIds;
        onChangeCheckbox();
      };

      const changeCorpusCollections = function( collectionsIds ) {
        state.selectedCorpusCollectionIds = collectionsIds;
        onChangeCheckbox();
      };

      const changeIconographieCollections = function( collectionsIds ) {
        state.selectedIconographieCollectionIds = collectionsIds;
        onChangeCheckbox();
      };

      const changeBibliographieCollections = function( collectionsIds ) {
        state.selectedBibliographieCollectionIds = collectionsIds;
        onChangeCheckbox();
      };

      const changeTdCollections = function( collectionsIds ) {
        state.selectedTdCollectionIds = collectionsIds;
        onChangeCheckbox();
      };

      const changeArticlesCollections = function( collectionsIds ) {
        state.selectedArticlesCollectionIds = collectionsIds;
        onChangeCheckbox();
      };

      const onChangeCheckbox = function() {

        const ids = [
            state.selectedEncyclopedieCollectionIds,
            state.selectedCorpusCollectionIds,
            state.selectedIconographieCollectionIds,
            state.selectedBibliographieCollectionIds,
            state.selectedTdCollectionIds,
            state.selectedArticlesCollectionIds
        ];

        const allIds = [].concat(...ids);
        context.emit("change", allIds);
      };

      onChangeCheckbox();

      return {
        state,
        changeEncyclopedieCollections,
        changeCorpusCollections,
        changeIconographieCollections,
        changeBibliographieCollections,
        changeTdCollections,
        changeArticlesCollections
      }
    }
  }
</script>
