<template>
  <div :class="topCssClass" @click="closeMenus()" >
    <Header
            @click-on-advanced-search-menu="toggleAdvancedSearchMenu()"
            @close-advanced-search-menu="closeAdvancedSearchMenu()"
            @toggle-login-menu="toggleUserLoginWindow()"
    />

    <router-view />

    <BackToTopButton />

    <AdvancedSearchWindow
            :class="advancedSearchMenuOpenedCssClass"
            @close-advanced-search-menu="closeAdvancedSearchMenu()"
    />

    <LoginWindow
            :class="loginOpenedCssClass"
            @close-login-window="closeLoginWindow()"
            @open-register-window="openRegisterWindow()"
    />

    <RegistrationWindow
            v-if="state && state.isRegisterOpened"
            :class="registerOpenedCssClass"
            @register-success="openRegisterConfirmationWindow()"
            @close-register-window="closeRegisterWindow()"
    />

    <RegistrationConfirmationWindow
            v-if="state && state.isRegisterConfirmationOpened"
            :class="registerOpenedWindowCssClass"
            @close-register-confirmation-window="closeRegisterConfirmationWindow()"
    />

  </div>
</template>

<script>

  import './assets/style.css'
  import EventDispatcher from "./js/EventDispatcher";

  import {computed, onMounted, reactive} from "vue";
  import {useStore} from "vuex";
  import {useRoute, useRouter} from "vue-router";
  import { getCollectionsListApiURL } from './js/api.js';
  import { i18n, loadLanguageAsync } from './main.js';

  import Header from './components/Header/Header.vue'
  import AdvancedSearchWindow from './components/Search/AdvancedSearchWindow.vue'
  import LoginWindow from './components/UserForms/LoginWindow.vue'
  import RegistrationWindow from './components/UserForms/RegistrationWindow.vue'
  import RegistrationConfirmationWindow from './components/UserForms/RegistrationConfirmationWindow.vue'
  import BackToTopButton from './components/BackToTopButton.vue'

  export default {
    name: 'App',
    components: {
      Header,
      AdvancedSearchWindow,
      LoginWindow,
      RegistrationWindow,
      RegistrationConfirmationWindow,
      BackToTopButton
    },
    data() {
      return {
        advancedSearchMenu: false,
      }
    },
    computed: {
      currentRouteName() {
        return this.$route && this.$route.name ? this.$route.name.toLowerCase() : "";
      },
      topCssClass() {
        return [  this.currentRouteNameCssClass, this.withPopUpCssClass ].join(' ');
      },
      currentRouteNameCssClass() {
        const routeArray = this.currentRouteName.split(' ');
        if (routeArray.length === 1) {
          return this.currentRouteName;
        } else {
          return routeArray[0] + ' ' + routeArray.join('_');
        }
      },
      withPopUpCssClass() {
        return this.state.isRegisterOpened || this.state.isLoginOpened || this.state.isRegisterConfirmationOpened ? "with-user-popup" : "";
      },
      advancedSearchMenuOpenedCssClass() {
        return this.advancedSearchMenu ? "advanced-search-menu-opened": "advanced-search-menu-closed";
      },
      loginOpenedCssClass() {
        return this.state.isLoginOpened ? "connexion-menu-opened" : "connexion-menu-closed";
      },
      registerOpenedCssClass() {
        return this.state.isRegisterOpened ? "inscription-menu-opened" : "inscription-menu-closed";
      },
      registerOpenedWindowCssClass() {
        return this.state.isRegisterConfirmationOpened ? "inscription-confirmation-opened" : "inscription-confirmation-closed";
      }
    },
    methods: {
      toggleAdvancedSearchMenu() {
        this.advancedSearchMenu = ! this.advancedSearchMenu;
      },
      closeAdvancedSearchMenu() {
        this.advancedSearchMenu = false;
      },
      closeLoginWindow() {
        this.state.isLoginOpened = false;
      },
      openRegisterWindow() {
        this.state.isLoginOpened = false;
        this.state.isRegisterOpened = true;
        this.state.isRegisterConfirmationOpened = false;
      },
      closeRegisterWindow() {
        this.state.isRegisterOpened = false;
      },
      openRegisterConfirmationWindow() {
        this.state.isLoginOpened = false;
        this.state.isRegisterOpened = false;
        this.state.isRegisterConfirmationOpened = true;
      },
      closeRegisterConfirmationWindow() {
        this.state.isRegisterConfirmationOpened = false;
      },
      closeMenus() {
      }
    },
    setup() {

      const route = useRoute();
      const router = useRouter();
      const store = useStore();
      const apiURL = getCollectionsListApiURL(store.getters.apiRoot);

      store.dispatch('getApi', apiURL).then(function(response){
        store.commit('storeCollections', response.data );
      });

      const state = reactive({
        isLoginOpened: false,
        isRegisterOpened: false,
        isRegisterConfirmationOpened: false,
        userIsConnected: computed(() => store.state.currentUser.id !== null ),
        currentUserId: computed(() => store.state.currentUser.id )
      });

      const toggleUserLoginWindow = function() {
        state.isLoginOpened = !state.isLoginOpened;
        state.isRegisterOpened = false;
      };

      const updateDocumentTitle = function(title) {
        document.title = "HyperOtlet : " + title;
      };

      onMounted(() => {

        if (route.name === "Home Login") {
          state.isLoginOpened = true;
          updateDocumentTitle("Inscription");
        }

        if (route.name === "Home Register") {
          state.isRegisterOpened = true;
        }

        if (route.name === "Home") {
          state.isLoginOpened = false;
          state.isRegisterOpened = false;
        }

        // Language
        if (! new Date()) {
          loadLanguageAsync(store, i18n, 'en');
        }

        // Cf BreadCrumb
        EventDispatcher.on("document-title", updateDocumentTitle);

        router.afterEach((to) => {
            if (to.meta.title) {
              updateDocumentTitle(to.meta.title);
            }
        });

      });

      return {
        state,
        toggleUserLoginWindow
      }
    }
  }

</script>

<style>
</style>
