<?php declare(strict_types=1);

/**
 * Main layout for vue.js + default theme as fallback) (TODO).
 *
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$assetUrl = $plugins->get('assetUrl');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');

// The caching mechanism is the Omeka one, not the Vue one (no hashed filename for the app).

$basePath = rtrim($this->basePath(), '/') . '/'; // /omeka/ or /
$siteUrl = $site->url(); // /omeka/s/my-site
$siteTheme = $site->theme(); // my-theme
$themePath = $basePath . 'themes/' . $siteTheme; // /omeka/themes/my-theme

$mainTitle = $this->setting('installation_title', 'Omeka S');
$siteTitle = $site->title();

$this->htmlElement('html')
    ->setAttribute('lang', $this->lang())
    ->setAttribute('is-app', 'is-app');
$this->headMeta()
    ->setCharset('utf-8')
    ->setHttpEquiv('X-UA-Compatible', 'IE=edge')
    ->appendName('viewport', 'width=device-width,initial-scale=1')
    ->appendName('apple-mobile-web-app-title', $siteTitle)
    ->appendName('application-name', $siteTitle)
    ->appendName('msapplication-TileColor', '#384651')
    ->appendName('theme-color', '#ffffff');
$this->headTitle($siteTitle)
    ->setSeparator(' · ')
    ->append($mainTitle);

// Only for php theme.
$this->headLink()
    ->prependStylesheet($assetUrl('css/iconfonts.css', 'Omeka'))
    ->prependStylesheet('//fonts.googleapis.com/css?family=Lato|Open+Sans:400,400italic,600,600italic,700italic,700')
;
$this->headScript()
    ->prependFile($assetUrl('js/default.js'))
    ->prependFile($assetUrl('js/global.js', 'Omeka'))
    ->prependFile($assetUrl('vendor/jquery/jquery.min.js', 'Omeka'))
;
$this->jsTranslate();


// $this->trigger('view.layout');
// $userBar = $this->userBar();

// The path of glob starts from the root of Omeka.
$cssFiles = glob("themes/$siteTheme/front/css/*.css");
$jsFiles = glob("themes/$siteTheme/front/js/*.js");

?>
<?= $this->doctype() ?>
<?= $this->htmlElement('html') ?>
    <head>
        <?= $this->headMeta() ?>
        <?= $this->headTitle() ?>
        <?php // Icons ?>
        <link href="<?= $themePath ?>/front/android-chrome-512x512.png" rel="icon" type="image/png" sizes="512x512"/>
        <link href="<?= $themePath ?>/front/android-chrome-192x192.png" rel="icon" type="image/png" sizes="192x192"/>
        <link href="<?= $themePath ?>/front/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
        <link href="<?= $themePath ?>/front/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32"/>
        <link href="<?= $themePath ?>/front/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16"/>
        <link href="<?= $themePath ?>/front/favicon.ico" rel="icon" type="image/png" sizes="16x16"/>
        <link href="<?= $themePath ?>/front/favicon.ico" rel="shortcut icon"/>

        <?= $this->headLink() ?>
        <link href="<?= $assetUrl('vendor/leaflet/leaflet.css', 'Mapping') ?>" media="screen" rel="stylesheet" type="text/css">
        <link href="<?= $assetUrl('vendor/leaflet.markercluster/MarkerCluster.css', 'Mapping') ?>" media="screen" rel="stylesheet" type="text/css">
        <link href="<?= $assetUrl('vendor/leaflet.markercluster/MarkerCluster.Default.css', 'Mapping') ?>" media="screen" rel="stylesheet" type="text/css">
        <link href="<?= $assetUrl('vendor/leaflet.groupedlayercontrol/leaflet.groupedlayercontrol.min.css', 'Mapping') ?>" media="screen" rel="stylesheet" type="text/css">
        <link href="<?= $assetUrl('css/page-blocks.css', 'Omeka') ?>" media="screen" rel="stylesheet" type="text/css">

        <?php // Special vue.js links: append css for preload and standard. ?>
        <?php foreach ($cssFiles as $file): ?>
        <link href="<?= $basePath . $file ?>" rel="preload" as="style"/>
        <?php endforeach; ?>
        <?php foreach ($cssFiles as $file): ?>
        <link href="<?= $basePath . $file ?>" rel="stylesheet"/>
        <?php endforeach; ?>
        <?php foreach ($jsFiles as $file): ?>
        <link href="<?= $basePath . $file ?>" rel="preload" as="script"/>
        <?php endforeach; ?>
        <?= $this->headStyle() ?>
        <?= $this->headScript() ?>
        <script type="text/javascript">
        const OMEKA_ROOT = '<?= $basePath ?>';
        const OMEKA_API = '<?= $basePath . 'api' ?>';
        const OMEKA_ADMIN = '<?= $basePath . 'admin' ?>';
        const OMEKA_SITE = '<?= $siteUrl ?>';
        const OMEKA_SITE_SLUG = '<?= $site->slug() ?>';
        const OMEKA_SITE_THEME = '<?= $themePath . '/' ?>';
        </script>
    </head>
    <body>
        <noscript>
            <strong><?= sprintf('Nous sommes désolés mais l’expérience %s nécessite Javascript pour être consulté.', $siteTitle) ?></strong>
        </noscript>
        <div id="app"></div>
        <script type="text/javascript" src="<?= $assetUrl('vendor/leaflet/leaflet.js', 'Mapping') ?>"></script>
        <script type="text/javascript" src="<?= $assetUrl('vendor/leaflet.markercluster/leaflet.markercluster.js', 'Mapping') ?>'"></script>
        <script type="text/javascript" src="<?= $assetUrl('vendor/leaflet.providers/leaflet-providers.js', 'Mapping') ?>"></script>
        <script type="text/javascript" src="<?= $assetUrl('vendor/leaflet.groupedlayercontrol/leaflet.groupedlayercontrol.min.js', 'Mapping') ?>"></script>
        <script type="text/javascript" src="<?= $assetUrl('js/control.opacity.js', 'Mapping') ?>"></script>
        <?php rsort($jsFiles); ?>
        <?php foreach ($jsFiles as $file): ?>
        <script src="<?= $basePath . $file ?>" type="text/javascript"></script>
        <?php endforeach; ?>
    </body>
</html>
